{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "CLJS-1722",
 :verbosity 0,
 :job-id "914",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/dac4c18943ffa4a7161ea3ab3c8e3a27a494ecd9",
  :build-version "1.10.529",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.529-0fa8838d/clojurescript-1.10.529-0fa8838d.jar",
  :github-release-tag "r1.10.529-0fa8838d",
  :build-rev "0fa8838dea4331673d68b76bad8da6f87e0a536c",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.529-0fa8838d.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/0fa8838dea4331673d68b76bad8da6f87e0a536c",
  :build-id "1.10.529-0fa8838d",
  :github-release-name "ClojureScript 1.10.529-0fa8838d",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/531390701"},
 :timeout 1800000}
