{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :meta-job-args "job",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "1496",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/3a5f825f5727b7ff79e29cfd75cdeebd3db593d6",
  :build-version "1.10.820",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.820-ccde79a0/clojurescript-1.10.820-ccde79a0.jar",
  :github-release-tag "r1.10.820-ccde79a0",
  :build-rev "ccde79a01cd1d26397393c50c23ec7e78ca82dde",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.820-ccde79a0.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/ccde79a01cd1d26397393c50c23ec7e78ca82dde",
  :canary-job-commit-author-login "babot",
  :build-id "1.10.820-ccde79a0",
  :github-release-name "ClojureScript 1.10.820-ccde79a0",
  :canary-job-commit-author-avatar-url "https://avatars0.githubusercontent.com/u/1476765?v=4",
  :canary-job-commit-author-date "2020-08-09T11:05:49Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/716274079",
  :canary-job-commit "3a5f825f5727b7ff79e29cfd75cdeebd3db593d6",
  :canary-job-commit-author-name "BinaryAge Bot"},
 :timeout 1800000}
