{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "CLJS-3118",
 :verbosity 0,
 :job-id "981",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/ca6cd77d5be4bb9312925527608a35b60d3a0ca3",
  :build-version "1.10.546",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.546-42612fee/clojurescript-1.10.546-42612fee.jar",
  :github-release-tag "r1.10.546-42612fee",
  :build-rev "42612feef0e9fac3eb706214506a668c700f3562",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.546-42612fee.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/42612feef0e9fac3eb706214506a668c700f3562",
  :build-id "1.10.546-42612fee",
  :github-release-name "ClojureScript 1.10.546-42612fee",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/548324982"},
 :timeout 1800000}
