{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :meta-job-args "job",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "1357",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/7856c803decb6338e37a34665e9c9a803080a10f",
  :build-version "1.10.640",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.640-6ec0b763/clojurescript-1.10.640-6ec0b763.jar",
  :github-release-tag "r1.10.640-6ec0b763",
  :build-rev "6ec0b763bbbef0a67964e05bc9c1d002455d75c7",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.640-6ec0b763.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/6ec0b763bbbef0a67964e05bc9c1d002455d75c7",
  :canary-job-commit-author-login "babot",
  :build-id "1.10.640-6ec0b763",
  :github-release-name "ClojureScript 1.10.640-6ec0b763",
  :canary-job-commit-author-avatar-url "https://avatars0.githubusercontent.com/u/1476765?v=4",
  :canary-job-commit-author-date "2020-03-30T11:02:35Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/668696390",
  :canary-job-commit "7856c803decb6338e37a34665e9c9a803080a10f",
  :canary-job-commit-author-name "BinaryAge Bot"},
 :timeout 1800000}
