{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "291",
 :polling-interval 300000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/26b8b86df6927d56b9205e2d5558b43f31ea6344",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.102-a0b9521/clojurescript-1.10.102-a0b9521.jar",
  :github-release-tag "r1.10.102-a0b9521",
  :build-rev "a0b952129a087a724fc6f89cb9b1a5960426dfd6",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.102-a0b9521.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/a0b952129a087a724fc6f89cb9b1a5960426dfd6",
  :build-id "1.10.102-a0b9521",
  :github-release-name "ClojureScript 1.10.102-a0b9521",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/348636510"},
 :timeout 3600000}
