{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "patch-tender-2019-01-09T12",
 :verbosity 0,
 :job-id "763",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/f203aac9c829cc0b981684cfc156c45582e889e1",
  :build-version "1.10.560",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.560-935652f/clojurescript-1.10.560-935652f.jar",
  :github-release-tag "r1.10.560-935652f",
  :build-rev "935652f9aa84d572b6aac43502f150bfb4e841b2",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.560-935652f.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/935652f9aa84d572b6aac43502f150bfb4e841b2",
  :build-id "1.10.560-935652f",
  :github-release-name "ClojureScript 1.10.560-935652f",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/477327893"},
 :timeout 1800000}
