{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :meta-job-args "job -c mfikes -r CLJS-3190",
 :rootdir "/canary",
 :compiler-rev "CLJS-3190",
 :verbosity 0,
 :job-id "1177",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/2c48065a4eaafd133302094024efcbec39d73242",
  :build-version "1.10.595",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.595-b1f636ead/clojurescript-1.10.595-b1f636ead.jar",
  :github-release-tag "r1.10.595-b1f636ead",
  :build-rev "b1f636ead04c2d2cd5964feba99411366a9e0762",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.595-b1f636ead.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/b1f636ead04c2d2cd5964feba99411366a9e0762",
  :canary-job-commit-author-login "mfikes",
  :build-id "1.10.595-b1f636ead",
  :github-release-name "ClojureScript 1.10.595-b1f636ead",
  :canary-job-commit-author-avatar-url "https://avatars1.githubusercontent.com/u/1723464?v=4",
  :canary-job-commit-author-date "2019-11-17T14:30:36Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/613106944",
  :canary-job-commit "2c48065a4eaafd133302094024efcbec39d73242",
  :canary-job-commit-author-name "Mike Fikes"},
 :timeout 1800000}
