{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :meta-job-args "job -c mfikes -r CLJS-3202",
 :rootdir "/canary",
 :compiler-rev "CLJS-3202",
 :verbosity 0,
 :job-id "1212",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/826f39d1e0f55af45010bbe33ecf8dc8b9d1d8a4",
  :build-version "1.10.598",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.598-1593b0d12/clojurescript-1.10.598-1593b0d12.jar",
  :github-release-tag "r1.10.598-1593b0d12",
  :build-rev "1593b0d1259f01850ea333b048bf2f433f092238",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.598-1593b0d12.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/1593b0d1259f01850ea333b048bf2f433f092238",
  :canary-job-commit-author-login "mfikes",
  :build-id "1.10.598-1593b0d12",
  :github-release-name "ClojureScript 1.10.598-1593b0d12",
  :canary-job-commit-author-avatar-url "https://avatars1.githubusercontent.com/u/1723464?v=4",
  :canary-job-commit-author-date "2019-12-10T03:29:54Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/623001075",
  :canary-job-commit "826f39d1e0f55af45010bbe33ecf8dc8b9d1d8a4",
  :canary-job-commit-author-name "Mike Fikes"},
 :timeout 1800000}
