{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :meta-job-args "job -c mfikes -r CLJS-3271 --only coal-mine",
 :only "coal-mine",
 :rootdir "/canary",
 :compiler-rev "CLJS-3271",
 :verbosity 0,
 :job-id "1480",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/8c7cd476ddb01d23b6230839b40d177897fec410",
  :build-version "1.10.817",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.817-1cb44a7ba/clojurescript-1.10.817-1cb44a7ba.jar",
  :github-release-tag "r1.10.817-1cb44a7ba",
  :build-rev "1cb44a7babc7a2df036b4aa422a4b530287248b7",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.817-1cb44a7ba.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/1cb44a7babc7a2df036b4aa422a4b530287248b7",
  :canary-job-commit-author-login "mfikes",
  :build-id "1.10.817-1cb44a7ba",
  :github-release-name "ClojureScript 1.10.817-1cb44a7ba",
  :canary-job-commit-author-avatar-url "https://avatars1.githubusercontent.com/u/1723464?v=4",
  :canary-job-commit-author-date "2020-07-25T19:12:17Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/711791802",
  :canary-job-commit "8c7cd476ddb01d23b6230839b40d177897fec410",
  :canary-job-commit-author-name "Mike Fikes"},
 :timeout 1800000}
