({:name "planck",
  :description "a Clojure function planck from canary.projects.mfikes",
  :enabled true,
  :enabled-reason "included by default",
  :color :blue,
  :result
  {:status :ok,
   :report
   "triggered a build of mfikes/planck => request id 39191344"}}
 {:name "cljs-devtools",
  :description
  "a Clojure function cljs-devtools from canary.projects.binaryage",
  :enabled true,
  :enabled-reason "included by default",
  :color :green,
  :result
  {:status :ok,
   :report
   "triggered a build of binaryage/cljs-devtools => request id 29934632"}})
