{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "CLJS-3054",
 :verbosity 0,
 :job-id "833",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/4f98f47041fe982fd1e8af836de8cc7e86874dc9",
  :build-version "1.10.522",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.522-ba9a31a/clojurescript-1.10.522-ba9a31a.jar",
  :github-release-tag "r1.10.522-ba9a31a",
  :build-rev "ba9a31a56eb949bfd8202480c94fa1b024f5a9f0",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.522-ba9a31a.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/ba9a31a56eb949bfd8202480c94fa1b024f5a9f0",
  :build-id "1.10.522-ba9a31a",
  :github-release-name "ClojureScript 1.10.522-ba9a31a",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/501154588"},
 :timeout 1800000}
