{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "CLJS-2869",
 :verbosity 0,
 :job-id "546",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/7a45aa174112831ddaf06c04c86f5867b5b3a519",
  :build-version "1.10.395",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.395-90e027c/clojurescript-1.10.395-90e027c.jar",
  :github-release-tag "r1.10.395-90e027c",
  :build-rev "90e027ca8897cf44f0f78f64998c3ecc793e8ac8",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.395-90e027c.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/90e027ca8897cf44f0f78f64998c3ecc793e8ac8",
  :build-id "1.10.395-90e027c",
  :github-release-name "ClojureScript 1.10.395-90e027c",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/422585351"},
 :timeout 1800000}
