{:projects "/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :only "planck",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "81",
 :polling-interval 300000,
 :production true,
 :cachedir "/runner/.cachedir",
 :action :job,
 :workdir "/runner/.workdir",
 :build-result
 {:build-id "1.9.915-adc7dea",
  :build-jar-path "/runner/.workdir/clojurescript-1.9.915-adc7dea.jar",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.9.915-adc7dea/clojurescript-1.9.915-adc7dea.jar",
  :github-release-name "ClojureScript 1.9.915-adc7dea",
  :github-release-tag "r1.9.915-adc7dea",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/adc7deaafc54f6f7d27cc631db4e381d222a818c",
  :canary-job-commit-url "https://github.com/cljs-oss/canary/commit/b75fca653364a9cd0252b9cd5a78335c5f32f61d",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/266188757"},
 :timeout 3600000}
