({:name "cljs-devtools",
  :description
  "a Clojure function cljs-devtools from canary.projects.binaryage",
  :enabled true,
  :enabled-reason "included by default",
  :color :green,
  :result
  {:status :ok,
   :report
   "<div><span style=\"font-weight:bold;color:red\">Some builds failed!</span>\n<ul>\n<li><span title=\"failed\">&#x2718; </span><a href=\"https://travis-ci.org/binaryage/cljs-devtools/builds/254539871\">Travis #254539871</a></li>\n</ul></div>"}}
 {:name "planck",
  :description "a Clojure function planck from canary.projects.mfikes",
  :enabled true,
  :enabled-reason "included by default",
  :color :blue,
  :result
  {:status :ok,
   :report
   "<div><span style=\"font-weight:bold;color:red\">Some builds failed!</span>\n<ul>\n<li><span title=\"passed\">&#x2714; </span><a href=\"https://travis-ci.org/mfikes/planck/builds/254539884\">Travis #254539884</a></li>\n</ul></div>"}})
