{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "CLJS-3056",
 :verbosity 0,
 :job-id "853",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/4f5533e69c79ddb3654077743e54314e2453b7c5",
  :build-version "1.10.522",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.522-7985309/clojurescript-1.10.522-7985309.jar",
  :github-release-tag "r1.10.522-7985309",
  :build-rev "79853097156c0860f34cafda67f7f9b171227dab",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.522-7985309.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/79853097156c0860f34cafda67f7f9b171227dab",
  :build-id "1.10.522-7985309",
  :github-release-name "ClojureScript 1.10.522-7985309",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/510633776"},
 :timeout 1800000}
