{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :meta-job-args "job",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "1783",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/b278b0c4279332d01e0fd9cbee14a1708b3e4024",
  :build-version "1.10.864",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.864-15f330f3/clojurescript-1.10.864-15f330f3.jar",
  :github-release-tag "r1.10.864-15f330f3",
  :build-rev "15f330f31a57ef7586b37a81d539f67f2a66b168",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.864-15f330f3.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/15f330f31a57ef7586b37a81d539f67f2a66b168",
  :canary-job-commit-author-login "mfikes",
  :build-id "1.10.864-15f330f3",
  :github-release-name "ClojureScript 1.10.864-15f330f3",
  :canary-job-commit-author-avatar-url "https://avatars.githubusercontent.com/u/1723464?v=4",
  :canary-job-commit-author-date "2021-05-19T15:43:49Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/771683963",
  :canary-job-commit "b278b0c4279332d01e0fd9cbee14a1708b3e4024",
  :canary-job-commit-author-name "Mike Fikes"},
 :timeout 1800000}
