{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :meta-job-args "job",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "1262",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/eb980282598ca1515dab2a8301f4e0d083f8ce16",
  :build-version "1.10.599",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.599-79c1e828/clojurescript-1.10.599-79c1e828.jar",
  :github-release-tag "r1.10.599-79c1e828",
  :build-rev "79c1e828449cbb8c354fdd5ec0d999a5424249d3",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.599-79c1e828.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/79c1e828449cbb8c354fdd5ec0d999a5424249d3",
  :canary-job-commit-author-login "babot",
  :build-id "1.10.599-79c1e828",
  :github-release-name "ClojureScript 1.10.599-79c1e828",
  :canary-job-commit-author-avatar-url "https://avatars0.githubusercontent.com/u/1476765?v=4",
  :canary-job-commit-author-date "2020-01-22T11:02:18Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/640394221",
  :canary-job-commit "eb980282598ca1515dab2a8301f4e0d083f8ce16",
  :canary-job-commit-author-name "BinaryAge Bot"},
 :timeout 1800000}
