{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "CLJS-2873",
 :verbosity 0,
 :job-id "684",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/ebea0a9d968c2b3e73ebb7bf87c20ccf4f3df457",
  :build-version "1.10.454",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.454-c9656be/clojurescript-1.10.454-c9656be.jar",
  :github-release-tag "r1.10.454-c9656be",
  :build-rev "c9656be6bd30d65874d92c1ee46bbf678e5a8159",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.454-c9656be.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/c9656be6bd30d65874d92c1ee46bbf678e5a8159",
  :build-id "1.10.454-c9656be",
  :github-release-name "ClojureScript 1.10.454-c9656be",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/458943671"},
 :timeout 1800000}
