{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "CLJS-2869-if",
 :verbosity 0,
 :job-id "544",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/1af718b592f67853034117ed0bcb752a06453158",
  :build-version "1.10.413",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.413-3ca2b9d/clojurescript-1.10.413-3ca2b9d.jar",
  :github-release-tag "r1.10.413-3ca2b9d",
  :build-rev "3ca2b9d91fffa559c5b52fd259a2d89bd1ce3e25",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.413-3ca2b9d.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/3ca2b9d91fffa559c5b52fd259a2d89bd1ce3e25",
  :build-id "1.10.413-3ca2b9d",
  :github-release-name "ClojureScript 1.10.413-3ca2b9d",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/422049894"},
 :timeout 1800000}
