{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :meta-job-args "job --only cljs-devtools",
 :only "cljs-devtools",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "1796",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/97cde0c7b8c4751d6ba6aa2a75ff337fe346f343",
  :build-version "1.10.866",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.866-1aa56667/clojurescript-1.10.866-1aa56667.jar",
  :github-release-tag "r1.10.866-1aa56667",
  :build-rev "1aa56667620198eee5b42a36e36691d514d47c9b",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.866-1aa56667.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/1aa56667620198eee5b42a36e36691d514d47c9b",
  :canary-job-commit-author-login "darwin",
  :build-id "1.10.866-1aa56667",
  :github-release-name "ClojureScript 1.10.866-1aa56667",
  :canary-job-commit-author-avatar-url "https://avatars.githubusercontent.com/u/5453?v=4",
  :canary-job-commit-author-date "2021-05-29T11:04:25Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/227358981",
  :canary-job-commit "97cde0c7b8c4751d6ba6aa2a75ff337fe346f343",
  :canary-job-commit-author-name "Antonin Hildebrand"},
 :timeout 1800000}
