{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "689",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/01570889edbf606b7d3b6d84791322383cc43a14",
  :build-version "1.10.463",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.463-b1ad22a/clojurescript-1.10.463-b1ad22a.jar",
  :github-release-tag "r1.10.463-b1ad22a",
  :build-rev "b1ad22a8e20d2f57e88fba1b556a4f8b11be0ab0",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.463-b1ad22a.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/b1ad22a8e20d2f57e88fba1b556a4f8b11be0ab0",
  :build-id "1.10.463-b1ad22a",
  :github-release-name "ClojureScript 1.10.463-b1ad22a",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/459619137"},
 :timeout 1800000}
