{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "CLJS-2301",
 :verbosity 0,
 :job-id "699",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/f53b63cab3c5becd4ed68c6ef602fce423b8764e",
  :build-version "1.10.469",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.469-0bb14ea/clojurescript-1.10.469-0bb14ea.jar",
  :github-release-tag "r1.10.469-0bb14ea",
  :build-rev "0bb14ea4a29131ef96dc33f593ba94b0762eafb2",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.469-0bb14ea.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/0bb14ea4a29131ef96dc33f593ba94b0762eafb2",
  :build-id "1.10.469-0bb14ea",
  :github-release-name "ClojureScript 1.10.469-0bb14ea",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/461927161"},
 :timeout 1800000}
