{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :meta-job-args "job",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "1103",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/9b1f2bdc051338b9d54f1b82ac4dbf8a152155db",
  :build-version "1.10.579",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.579-a760439b/clojurescript-1.10.579-a760439b.jar",
  :github-release-tag "r1.10.579-a760439b",
  :build-rev "a760439b5084937a556712d6ee056e95f4f075c7",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.579-a760439b.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/a760439b5084937a556712d6ee056e95f4f075c7",
  :canary-job-commit-author-login "babot",
  :build-id "1.10.579-a760439b",
  :github-release-name "ClojureScript 1.10.579-a760439b",
  :canary-job-commit-author-avatar-url "https://avatars0.githubusercontent.com/u/1476765?v=4",
  :canary-job-commit-author-date "2019-09-15T06:00:10Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/585130051",
  :canary-job-commit "9b1f2bdc051338b9d54f1b82ac4dbf8a152155db",
  :canary-job-commit-author-name "BinaryAge Bot"},
 :timeout 1800000}
