{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "464",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/e9b280be619656e3cca715ce9c6b39613b3a27b7",
  :build-version "1.10.356",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.356-88390da/clojurescript-1.10.356-88390da.jar",
  :github-release-tag "r1.10.356-88390da",
  :build-rev "88390da6f68124663ca19827434924e37f1c5804",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.356-88390da.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/88390da6f68124663ca19827434924e37f1c5804",
  :build-id "1.10.356-88390da",
  :github-release-name "ClojureScript 1.10.356-88390da",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/400263186"},
 :timeout 1800000}
