{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/frenchy64/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "e03e416b972848200c18f23dcad2f918a3832932",
 :verbosity 0,
 :job-id "466",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/efc6c5a643f74fa80b72b6e1b0e051f9fbe4b464",
  :build-version "1.10.357",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.357-e03e416/clojurescript-1.10.357-e03e416.jar",
  :github-release-tag "r1.10.357-e03e416",
  :build-rev "e03e416b972848200c18f23dcad2f918a3832932",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.357-e03e416.jar",
  :compiler-rev-url "https://github.com/frenchy64/clojurescript/commit/e03e416b972848200c18f23dcad2f918a3832932",
  :build-id "1.10.357-e03e416",
  :github-release-name "ClojureScript 1.10.357-e03e416",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/400546520"},
 :timeout 1800000}
