{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "414",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/c5d3ad2d6bf81876560b66eb4d17b957836a32ad",
  :build-version "1.10.308",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.308-e75706a/clojurescript-1.10.308-e75706a.jar",
  :github-release-tag "r1.10.308-e75706a",
  :build-rev "e75706a1754211628363d185945c0319604bd971",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.308-e75706a.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/e75706a1754211628363d185945c0319604bd971",
  :build-id "1.10.308-e75706a",
  :github-release-name "ClojureScript 1.10.308-e75706a",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/392097017"},
 :timeout 1800000}
