{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "CLJS-2886",
 :verbosity 0,
 :job-id "557",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/e326b5dffa04be21c930fe96c679f867e6c4cc9f",
  :build-version "1.10.407",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.407-e0b06e3/clojurescript-1.10.407-e0b06e3.jar",
  :github-release-tag "r1.10.407-e0b06e3",
  :build-rev "e0b06e3d1f84503d982c44d769484c6795734ca1",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.407-e0b06e3.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/e0b06e3d1f84503d982c44d769484c6795734ca1",
  :build-id "1.10.407-e0b06e3",
  :github-release-name "ClojureScript 1.10.407-e0b06e3",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/424511898"},
 :timeout 1800000}
