({:name "chromex",
  :description "function chromex from canary/projects/binaryage.clj:7",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [binaryage/chromex#735](https://travis-ci.org/binaryage/chromex/builds/360537253)<br>"}}
 {:name "cljs-devtools",
  :description "function cljs-devtools from canary/projects/binaryage.clj:4",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [binaryage/cljs-devtools#579](https://travis-ci.org/binaryage/cljs-devtools/builds/360537255)<br>"}}
 {:name "cljs-oops",
  :description "function cljs-oops from canary/projects/binaryage.clj:10",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [binaryage/cljs-oops#444](https://travis-ci.org/binaryage/cljs-oops/builds/360537259)<br>"}}
 {:name "cljs-zones",
  :description "function cljs-zones from canary/projects/binaryage.clj:16",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [binaryage/cljs-zones#110](https://travis-ci.org/binaryage/cljs-zones/builds/360537263)<br>"}}
 {:name "closure-latest",
  :description "function closure-latest from canary/projects/mfikes.clj:43",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [mfikes/closure-latest#22](https://travis-ci.org/mfikes/closure-latest/builds/360537265)<br>"}}
 {:name "coal-mine-1",
  :description "function coal-mine-1 from canary/projects/mfikes.clj:20",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [mfikes/coal-mine#922](https://travis-ci.org/mfikes/coal-mine/builds/360537267)<br>"}}
 {:name "coal-mine-2",
  :description "function coal-mine-2 from canary/projects/mfikes.clj:24",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [mfikes/coal-mine#923](https://travis-ci.org/mfikes/coal-mine/builds/360537272)<br>"}}
 {:name "coal-mine-3",
  :description "function coal-mine-3 from canary/projects/mfikes.clj:28",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [mfikes/coal-mine#924](https://travis-ci.org/mfikes/coal-mine/builds/360537279)<br>"}}
 {:name "coal-mine-4",
  :description "function coal-mine-4 from canary/projects/mfikes.clj:32",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [mfikes/coal-mine#925](https://travis-ci.org/mfikes/coal-mine/builds/360537283)<br>"}}
 {:name "coal-mine-5",
  :description "function coal-mine-5 from canary/projects/mfikes.clj:36",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [mfikes/coal-mine#926](https://travis-ci.org/mfikes/coal-mine/builds/360537288)<br>"}}
 {:name "env-config",
  :description "function env-config from canary/projects/binaryage.clj:13",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [binaryage/env-config#135](https://travis-ci.org/binaryage/env-config/builds/360537292)<br>"}}
 {:name "lumo",
  :description "function lumo from canary/projects/lumo.clj:4",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :failed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:red'>&#x2717;</b> Travis build [anmonteiro/lumo#1028](https://travis-ci.org/anmonteiro/lumo/builds/360537294)<br>"}}
 {:name "planck",
  :description "function planck from canary/projects/mfikes.clj:4",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [mfikes/planck#1757](https://travis-ci.org/mfikes/planck/builds/360537296)<br>"}})
