{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "693",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/ea948f07daeae8404358ec08dfd1da2247598752",
  :build-version "1.10.466",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.466-7db5826/clojurescript-1.10.466-7db5826.jar",
  :github-release-tag "r1.10.466-7db5826",
  :build-rev "7db58267bc496b22a2a672e38b3656ce898363ce",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.466-7db5826.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/7db58267bc496b22a2a672e38b3656ce898363ce",
  :build-id "1.10.466-7db5826",
  :github-release-name "ClojureScript 1.10.466-7db5826",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/460631581"},
 :timeout 1800000}
