({:name "chromex",
  :description "function chromex from canary/projects/binaryage.clj:7",
  :enabled false,
  :enabled-reason "disabled because not matching --only or --include options"}
 {:name "cljs-oops",
  :description "function cljs-oops from canary/projects/binaryage.clj:10",
  :enabled false,
  :enabled-reason "disabled because not matching --only or --include options"}
 {:name "cljs-devtools",
  :description "function cljs-devtools from canary/projects/binaryage.clj:4",
  :enabled false,
  :enabled-reason "disabled because not matching --only or --include options"}
 {:name "planck",
  :description "function planck from canary/projects/mfikes.clj:4",
  :enabled false,
  :enabled-reason "disabled because not matching --only or --include options"}
 {:name "coal-mine",
  :description "function coal-mine from canary/projects/mfikes.clj:17",
  :enabled true,
  :enabled-reason "enabled because matching --only 'coal-mine'",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [mfikes/coal-mine#14](https://travis-ci.org/mfikes/coal-mine/builds/322308794)<br>"}})
