{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :meta-job-args "job",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "1365",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/14c26a2bd831eb653f07719c903e21d488711d18",
  :build-version "1.10.669",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.669-2c516d48/clojurescript-1.10.669-2c516d48.jar",
  :github-release-tag "r1.10.669-2c516d48",
  :build-rev "2c516d488b140c680829b7bdf0e53cbe8eb60240",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.669-2c516d48.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/2c516d488b140c680829b7bdf0e53cbe8eb60240",
  :canary-job-commit-author-login "babot",
  :build-id "1.10.669-2c516d48",
  :github-release-name "ClojureScript 1.10.669-2c516d48",
  :canary-job-commit-author-avatar-url "https://avatars0.githubusercontent.com/u/1476765?v=4",
  :canary-job-commit-author-date "2020-04-05T11:02:29Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/671207754",
  :canary-job-commit "14c26a2bd831eb653f07719c903e21d488711d18",
  :canary-job-commit-author-name "BinaryAge Bot"},
 :timeout 1800000}
