{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "771",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/8cb912f2d4d82e1f224424c7e6c0242562dc0d3d",
  :build-version "1.10.507",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.507-4d54c04/clojurescript-1.10.507-4d54c04.jar",
  :github-release-tag "r1.10.507-4d54c04",
  :build-rev "4d54c041703672600eece45d67e559e769f68dbf",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.507-4d54c04.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/4d54c041703672600eece45d67e559e769f68dbf",
  :build-id "1.10.507-4d54c04",
  :github-release-name "ClojureScript 1.10.507-4d54c04",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/478946723"},
 :timeout 1800000}
