{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "CLJS-2753",
 :verbosity 0,
 :job-id "621",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/08705589213015ca72215750b29a3b204ca973e5",
  :build-version "1.10.425",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.425-924360c/clojurescript-1.10.425-924360c.jar",
  :github-release-tag "r1.10.425-924360c",
  :build-rev "924360cf7d88c1430798d9aa6cb372aeb846e490",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.425-924360c.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/924360cf7d88c1430798d9aa6cb372aeb846e490",
  :build-id "1.10.425-924360c",
  :github-release-name "ClojureScript 1.10.425-924360c",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/441872938"},
 :timeout 1800000}
