{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "577",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/d91b3fe8d3fd4a2afbbec0d11dca6ec1e73a6359",
  :build-version "1.10.421",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.421-71f5771/clojurescript-1.10.421-71f5771.jar",
  :github-release-tag "r1.10.421-71f5771",
  :build-rev "71f57714e6fc2f591d9de22cbfcfa009500e6742",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.421-71f5771.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/71f57714e6fc2f591d9de22cbfcfa009500e6742",
  :build-id "1.10.421-71f5771",
  :github-release-name "ClojureScript 1.10.421-71f5771",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/429153019"},
 :timeout 1800000}
