{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "718",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/2c70a5e5179191a7df96ce6ba5f82adecec93501",
  :build-version "1.10.487",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.487-848e10a/clojurescript-1.10.487-848e10a.jar",
  :github-release-tag "r1.10.487-848e10a",
  :build-rev "848e10a9dac539b9271d83577fc1266f18e949da",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.487-848e10a.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/848e10a9dac539b9271d83577fc1266f18e949da",
  :build-id "1.10.487-848e10a",
  :github-release-name "ClojureScript 1.10.487-848e10a",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/465535001"},
 :timeout 1800000}
