{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "338",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/4bd397a3cadd07e1d529cdaec9e9186695ce12da",
  :build-version "1.10.263",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.263-9c1c727/clojurescript-1.10.263-9c1c727.jar",
  :github-release-tag "r1.10.263-9c1c727",
  :build-rev "9c1c727674aa7e2bfb399289d6f00bd51745457a",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.263-9c1c727.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/9c1c727674aa7e2bfb399289d6f00bd51745457a",
  :build-id "1.10.263-9c1c727",
  :github-release-name "ClojureScript 1.10.263-9c1c727",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/361980919"},
 :timeout 1800000}
