{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :meta-job-args "job -c mfikes -r CLJS-3188",
 :rootdir "/canary",
 :compiler-rev "CLJS-3188",
 :verbosity 0,
 :job-id "1180",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/eb43c6ff0b74fb96b46f6e4b33b274f316e322ae",
  :build-version "1.10.596",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.596-b05c23440/clojurescript-1.10.596-b05c23440.jar",
  :github-release-tag "r1.10.596-b05c23440",
  :build-rev "b05c23440b4920554487de84af46e3dd43e91040",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.596-b05c23440.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/b05c23440b4920554487de84af46e3dd43e91040",
  :canary-job-commit-author-login "mfikes",
  :build-id "1.10.596-b05c23440",
  :github-release-name "ClojureScript 1.10.596-b05c23440",
  :canary-job-commit-author-avatar-url "https://avatars1.githubusercontent.com/u/1723464?v=4",
  :canary-job-commit-author-date "2019-11-17T23:03:37Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/613243092",
  :canary-job-commit "eb43c6ff0b74fb96b46f6e4b33b274f316e322ae",
  :canary-job-commit-author-name "Mike Fikes"},
 :timeout 1800000}
