{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "CLJS-3126",
 :verbosity 0,
 :job-id "998",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/f7a1ebb0a49af2e211e5f4e28ee9f457f5d75e51",
  :build-version "1.10.555",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.555-25d4c38f/clojurescript-1.10.555-25d4c38f.jar",
  :github-release-tag "r1.10.555-25d4c38f",
  :build-rev "25d4c38fea95e8510f0e209f2593593cdbfb1b0c",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.555-25d4c38f.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/25d4c38fea95e8510f0e209f2593593cdbfb1b0c",
  :build-id "1.10.555-25d4c38f",
  :github-release-name "ClojureScript 1.10.555-25d4c38f",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/554266915"},
 :timeout 1800000}
