({:name "chromex",
  :description "function chromex from canary/projects/binaryage.clj:7",
  :meta {:homepage "https://github.com/binaryage/chromex"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [binaryage/chromex#1581](https://travis-ci.org/binaryage/chromex/builds/554268750)<br>"}}
 {:name "clara-rules",
  :description "function clara-rules from canary/projects/chkup.clj:4",
  :meta {:homepage "https://github.com/cerner/clara-rules"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/clara-rules#508](https://travis-ci.org/chkup/clara-rules/builds/554268754)<br>"}}
 {:name "cljs-bean",
  :description "function cljs-bean from canary/projects/mfikes.clj:27",
  :meta {:homepage "https://github.com/mfikes/cljs-bean"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [mfikes/cljs-bean#303](https://travis-ci.org/mfikes/cljs-bean/builds/554268760)<br>"}}
 {:name "cljs-devtools",
  :description "function cljs-devtools from canary/projects/binaryage.clj:4",
  :meta {:homepage "https://github.com/binaryage/cljs-devtools"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [binaryage/cljs-devtools#1189](https://travis-ci.org/binaryage/cljs-devtools/builds/554268765)<br>"}}
 {:name "cljs-oops",
  :description "function cljs-oops from canary/projects/binaryage.clj:10",
  :meta {:homepage "https://github.com/binaryage/cljs-oops"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [binaryage/cljs-oops#1077](https://travis-ci.org/binaryage/cljs-oops/builds/554268773)<br>"}}
 {:name "cljs-zones",
  :description "function cljs-zones from canary/projects/binaryage.clj:13",
  :meta {:homepage "https://github.com/binaryage/cljs-zones"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [binaryage/cljs-zones#709](https://travis-ci.org/binaryage/cljs-zones/builds/554268775)<br>"}}
 {:name "coal-mine",
  :description "function coal-mine from canary/projects/mfikes.clj:4",
  :meta {:homepage "https://github.com/mfikes/coal-mine"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [mfikes/coal-mine#2124](https://travis-ci.org/mfikes/coal-mine/builds/554268783)<br>"}}
 {:name "core-async",
  :description "function core-async from canary/projects/chkup.clj:37",
  :meta {:homepage "https://github.com/clojure/core.async"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/core.async#197](https://travis-ci.org/chkup/core.async/builds/554268793)<br>"}}
 {:name "core-logic",
  :description "function core-logic from canary/projects/chkup.clj:46",
  :meta {:homepage "https://github.com/clojure/core.logic"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/core.logic#195](https://travis-ci.org/chkup/core.logic/builds/554268806)<br>"}}
 {:name "core-match",
  :description "function core-match from canary/projects/chkup.clj:43",
  :meta {:homepage "https://github.com/clojure/core.match"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/core.match#193](https://travis-ci.org/chkup/core.match/builds/554268834)<br>"}}
 {:name "core-rrb-vector",
  :description "function core-rrb-vector from canary/projects/chkup.clj:40",
  :meta {:homepage "https://github.com/clojure/core.rrb-vector"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/core.rrb-vector#193](https://travis-ci.org/chkup/core.rrb-vector/builds/554268822)<br>"}}
 {:name "cuerdas",
  :description "function cuerdas from canary/projects/chkup.clj:7",
  :meta {:homepage "https://github.com/funcool/cuerdas"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/cuerdas#519](https://travis-ci.org/chkup/cuerdas/builds/554268836)<br>"}}
 {:name "fulcro",
  :description "function fulcro from canary/projects/chkup.clj:10",
  :meta {:homepage "https://github.com/fulcrologic/fulcro"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :failed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:red'>&#x2717;</b> Travis build [chkup/fulcro#510](https://travis-ci.org/chkup/fulcro/builds/554268850)<br>"}}
 {:name "garden",
  :description "function garden from canary/projects/chkup.clj:13",
  :meta {:homepage "https://github.com/noprompt/garden"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/garden#518](https://travis-ci.org/chkup/garden/builds/554268871)<br>"}}
 {:name "hoplon",
  :description "function hoplon from canary/projects/chkup.clj:16",
  :meta {:homepage "https://github.com/hoplon/hoplon"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/hoplon#505](https://travis-ci.org/chkup/hoplon/builds/554268896)<br>"}}
 {:name "ilk",
  :description "function ilk from canary/projects/mfikes.clj:24",
  :meta {:homepage "https://github.com/mfikes/ilk"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [mfikes/ilk#248](https://travis-ci.org/mfikes/ilk/builds/554268979)<br>"}}
 {:name "om",
  :description "function om from canary/projects/chkup.clj:19",
  :meta {:homepage "https://github.com/omcljs/om"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/om#517](https://travis-ci.org/chkup/om/builds/554268943)<br>"}}
 {:name "planck",
  :description "function planck from canary/projects/planck_repl.clj:4",
  :meta {:homepage "https://github.com/planck-repl/planck"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [planck-repl/planck#3418](https://travis-ci.org/planck-repl/planck/builds/554269055)<br>"}}
 {:name "re-frame",
  :description "function re-frame from canary/projects/chkup.clj:22",
  :meta {:homepage "https://github.com/Day8/re-frame"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/re-frame#538](https://travis-ci.org/chkup/re-frame/builds/554269015)<br>"}}
 {:name "reagent",
  :description "function reagent from canary/projects/chkup.clj:25",
  :meta {:homepage "https://github.com/reagent-project/reagent"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/reagent#513](https://travis-ci.org/chkup/reagent/builds/554269104)<br>"}}
 {:name "side-fx",
  :description "function side-fx from canary/projects/cljsrn.clj:4",
  :meta {:homepage "https://github.com/cljsrn/side-fx"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [cljsrn/side-fx#568](https://travis-ci.org/cljsrn/side-fx/builds/554269047)<br>"}}
 {:name "spec-tools",
  :description "function spec-tools from canary/projects/chkup.clj:28",
  :meta {:homepage "https://github.com/metosin/spec-tools"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/spec-tools#522](https://travis-ci.org/chkup/spec-tools/builds/554269122)<br>"}}
 {:name "specter",
  :description "function specter from canary/projects/chkup.clj:31",
  :meta {:homepage "https://github.com/nathanmarz/specter"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/specter#524](https://travis-ci.org/chkup/specter/builds/554269093)<br>"}}
 {:name "test-check",
  :description "function test-check from canary/projects/chkup.clj:34",
  :meta {:homepage "https://github.com/clojure/test.check"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/test.check#518](https://travis-ci.org/chkup/test.check/builds/554269027)<br>"}})
