{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "CLJS-3132",
 :verbosity 0,
 :job-id "1005",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/9f2ec5d8612b1353ad2aa0d29ccbd733699cf4a1",
  :build-version "1.10.555",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.555-485f3123/clojurescript-1.10.555-485f3123.jar",
  :github-release-tag "r1.10.555-485f3123",
  :build-rev "485f3123d78292c1bee4aa5a1899db8cc5e001f0",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.555-485f3123.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/485f3123d78292c1bee4aa5a1899db8cc5e001f0",
  :build-id "1.10.555-485f3123",
  :github-release-name "ClojureScript 1.10.555-485f3123",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/555493559"},
 :timeout 1800000}
