{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :meta-job-args "job",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "1249",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/31e7924b014aa90684a3bc43b95e18b132ffa5be",
  :build-version "1.10.597",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.597-23cedecb/clojurescript-1.10.597-23cedecb.jar",
  :github-release-tag "r1.10.597-23cedecb",
  :build-rev "23cedecbf4f704f9fee672e395bbfa1e3fe3ee1a",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.597-23cedecb.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/23cedecbf4f704f9fee672e395bbfa1e3fe3ee1a",
  :canary-job-commit-author-login "babot",
  :build-id "1.10.597-23cedecb",
  :github-release-name "ClojureScript 1.10.597-23cedecb",
  :canary-job-commit-author-avatar-url "https://avatars0.githubusercontent.com/u/1476765?v=4",
  :canary-job-commit-author-date "2020-01-09T11:02:18Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/634686885",
  :canary-job-commit "31e7924b014aa90684a3bc43b95e18b132ffa5be",
  :canary-job-commit-author-name "BinaryAge Bot"},
 :timeout 1800000}
