{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "743",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/150f523714d6e780853a32d397665f335531b502",
  :build-version "1.10.495",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.495-857c1e2/clojurescript-1.10.495-857c1e2.jar",
  :github-release-tag "r1.10.495-857c1e2",
  :build-rev "857c1e2013d7e743fc46b398f72728d1be970aa3",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.495-857c1e2.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/857c1e2013d7e743fc46b398f72728d1be970aa3",
  :build-id "1.10.495-857c1e2",
  :github-release-name "ClojureScript 1.10.495-857c1e2",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/472264340"},
 :timeout 1800000}
