{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :meta-job-args "job -c mfikes -r CLJS-3185",
 :rootdir "/canary",
 :compiler-rev "CLJS-3185",
 :verbosity 0,
 :job-id "1166",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/ced78f11994807871af54152bc360193318e118a",
  :build-version "1.10.593",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.593-7a629304d/clojurescript-1.10.593-7a629304d.jar",
  :github-release-tag "r1.10.593-7a629304d",
  :build-rev "7a629304da620eafc0f2bd7de84549eee64f31bf",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.593-7a629304d.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/7a629304da620eafc0f2bd7de84549eee64f31bf",
  :canary-job-commit-author-login "mfikes",
  :build-id "1.10.593-7a629304d",
  :github-release-name "ClojureScript 1.10.593-7a629304d",
  :canary-job-commit-author-avatar-url "https://avatars1.githubusercontent.com/u/1723464?v=4",
  :canary-job-commit-author-date "2019-11-10T18:20:19Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/610018188",
  :canary-job-commit "ced78f11994807871af54152bc360193318e118a",
  :canary-job-commit-author-name "Mike Fikes"},
 :timeout 1800000}
