{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "318",
 :polling-interval 300000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/65df84787c201289b4217fd15692718311f2e19c",
  :build-version "1.10.225",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.225-0dad6a2/clojurescript-1.10.225-0dad6a2.jar",
  :github-release-tag "r1.10.225-0dad6a2",
  :build-rev "0dad6a2d74155ab0c930d4d1df86e2901ea6f394",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.225-0dad6a2.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/0dad6a2d74155ab0c930d4d1df86e2901ea6f394",
  :build-id "1.10.225-0dad6a2",
  :github-release-name "ClojureScript 1.10.225-0dad6a2",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/357261287"},
 :timeout 3600000}
