{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "550",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/be1f650ada72eeb92f2ba4db893beacf7f2d6f18",
  :build-version "1.10.405",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.405-980d1fa/clojurescript-1.10.405-980d1fa.jar",
  :github-release-tag "r1.10.405-980d1fa",
  :build-rev "980d1fa9f14a4ec5caad1e2a8b734795094e0eba",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.405-980d1fa.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/980d1fa9f14a4ec5caad1e2a8b734795094e0eba",
  :build-id "1.10.405-980d1fa",
  :github-release-name "ClojureScript 1.10.405-980d1fa",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/423246928"},
 :timeout 1800000}
