{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :meta-job-args "job",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "1478",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/fa86a65d2e7c2f09fe2ab469cf7e5881849aa740",
  :build-version "1.10.813",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.813-f5f9b79f/clojurescript-1.10.813-f5f9b79f.jar",
  :github-release-tag "r1.10.813-f5f9b79f",
  :build-rev "f5f9b79f6f446cef768e190971cf67fc78bf5b93",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.813-f5f9b79f.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/f5f9b79f6f446cef768e190971cf67fc78bf5b93",
  :canary-job-commit-author-login "babot",
  :build-id "1.10.813-f5f9b79f",
  :github-release-name "ClojureScript 1.10.813-f5f9b79f",
  :canary-job-commit-author-avatar-url "https://avatars0.githubusercontent.com/u/1476765?v=4",
  :canary-job-commit-author-date "2020-07-25T11:04:49Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/711702142",
  :canary-job-commit "fa86a65d2e7c2f09fe2ab469cf7e5881849aa740",
  :canary-job-commit-author-name "BinaryAge Bot"},
 :timeout 1800000}
