{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :meta-job-args "job",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "1034",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/2823fb06a89016391c559f1f6b6dea023e6615ab",
  :build-version "1.10.569",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.569-885238e9/clojurescript-1.10.569-885238e9.jar",
  :github-release-tag "r1.10.569-885238e9",
  :build-rev "885238e97fec2008f03b9413a987ed432d1970a0",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.569-885238e9.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/885238e97fec2008f03b9413a987ed432d1970a0",
  :canary-job-commit-author-login "babot",
  :build-id "1.10.569-885238e9",
  :github-release-name "ClojureScript 1.10.569-885238e9",
  :canary-job-commit-author-avatar-url "https://avatars0.githubusercontent.com/u/1476765?v=4",
  :canary-job-commit-author-date "2019-07-28T06:00:13Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/564555034",
  :canary-job-commit "2823fb06a89016391c559f1f6b6dea023e6615ab",
  :canary-job-commit-author-name "BinaryAge Bot"},
 :timeout 1800000}
