{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "CLJS-3031",
 :verbosity 0,
 :job-id "757",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/338dcad679c2b4379be6d660da65438e2491ff54",
  :build-version "1.10.505",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.505-d44a751/clojurescript-1.10.505-d44a751.jar",
  :github-release-tag "r1.10.505-d44a751",
  :build-rev "d44a751536b1e942d9bc5968e1cf95e380c975bb",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.505-d44a751.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/d44a751536b1e942d9bc5968e1cf95e380c975bb",
  :build-id "1.10.505-d44a751",
  :github-release-name "ClojureScript 1.10.505-d44a751",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/476092628"},
 :timeout 1800000}
