{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "CLJS-2852",
 :verbosity 0,
 :job-id "502",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/0b904060b2dbc843bcf5616df92d636194c1bce4",
  :build-version "1.10.374",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.374-2b61aa4/clojurescript-1.10.374-2b61aa4.jar",
  :github-release-tag "r1.10.374-2b61aa4",
  :build-rev "2b61aa4490fcc00b0149595b8efe7c1824175d98",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.374-2b61aa4.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/2b61aa4490fcc00b0149595b8efe7c1824175d98",
  :build-id "1.10.374-2b61aa4",
  :github-release-name "ClojureScript 1.10.374-2b61aa4",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/410355592"},
 :timeout 1800000}
