{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :meta-job-args "job",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "1392",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/468f1657c77b4393685734fac1f43f7ffe20e71a",
  :build-version "1.10.753",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.753-917e1d23/clojurescript-1.10.753-917e1d23.jar",
  :github-release-tag "r1.10.753-917e1d23",
  :build-rev "917e1d2338873246b2dabaa04e339cd10c6e27ca",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.753-917e1d23.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/917e1d2338873246b2dabaa04e339cd10c6e27ca",
  :canary-job-commit-author-login "babot",
  :build-id "1.10.753-917e1d23",
  :github-release-name "ClojureScript 1.10.753-917e1d23",
  :canary-job-commit-author-avatar-url "https://avatars0.githubusercontent.com/u/1476765?v=4",
  :canary-job-commit-author-date "2020-05-02T11:02:18Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/682250336",
  :canary-job-commit "468f1657c77b4393685734fac1f43f7ffe20e71a",
  :canary-job-commit-author-name "BinaryAge Bot"},
 :timeout 1800000}
