{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "patch-tender-2018-10-06T16",
 :verbosity 0,
 :job-id "609",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/8ddea0277e17cc20fe66a09121ec09e4ccff0e87",
  :build-version "1.10.466",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.466-b15d302/clojurescript-1.10.466-b15d302.jar",
  :github-release-tag "r1.10.466-b15d302",
  :build-rev "b15d30241982e02e82656c9ee64e358c43733626",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.466-b15d302.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/b15d30241982e02e82656c9ee64e358c43733626",
  :build-id "1.10.466-b15d302",
  :github-release-name "ClojureScript 1.10.466-b15d302",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/438044858"},
 :timeout 1800000}
