{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :meta-job-args "job",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "1032",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/7da7356fa3918c4aa1cd6adda6691e759324130c",
  :build-version "1.10.568",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.568-8f38049d/clojurescript-1.10.568-8f38049d.jar",
  :github-release-tag "r1.10.568-8f38049d",
  :build-rev "8f38049d543b04b8da55029f140b6577e3ec245a",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.568-8f38049d.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/8f38049d543b04b8da55029f140b6577e3ec245a",
  :canary-job-commit-author-login "babot",
  :build-id "1.10.568-8f38049d",
  :github-release-name "ClojureScript 1.10.568-8f38049d",
  :canary-job-commit-author-avatar-url "https://avatars0.githubusercontent.com/u/1476765?v=4",
  :canary-job-commit-author-date "2019-07-26T06:00:15Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/563870188",
  :canary-job-commit "7da7356fa3918c4aa1cd6adda6691e759324130c",
  :canary-job-commit-author-name "BinaryAge Bot"},
 :timeout 1800000}
