{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "CLJS-2866",
 :verbosity 0,
 :job-id "530",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/ea4c7569c85ac41448dd110ad83d1f86f145fa12",
  :build-version "1.10.395",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.395-70964f5/clojurescript-1.10.395-70964f5.jar",
  :github-release-tag "r1.10.395-70964f5",
  :build-rev "70964f5f91a442e65b8fb165a02b4967fbc78e5d",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.395-70964f5.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/70964f5f91a442e65b8fb165a02b4967fbc78e5d",
  :build-id "1.10.395-70964f5",
  :github-release-name "ClojureScript 1.10.395-70964f5",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/418640724"},
 :timeout 1800000}
