{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "CLJS-2941",
 :verbosity 0,
 :job-id "631",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/d6cbcbf77ada2e74f123c080daa9638d800e13e8",
  :build-version "1.10.425",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.425-b5d676e/clojurescript-1.10.425-b5d676e.jar",
  :github-release-tag "r1.10.425-b5d676e",
  :build-rev "b5d676eb328229f72d8537058f84ab0bd29d7061",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.425-b5d676e.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/b5d676eb328229f72d8537058f84ab0bd29d7061",
  :build-id "1.10.425-b5d676e",
  :github-release-name "ClojureScript 1.10.425-b5d676e",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/445121269"},
 :timeout 1800000}
