{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "438",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/2bfd60d22f538cd1ca3ad585423df69c0db5ddf3",
  :build-version "1.10.326",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.326-3620434/clojurescript-1.10.326-3620434.jar",
  :github-release-tag "r1.10.326-3620434",
  :build-rev "3620434c8ae812d2127f4b162d82e2c99cd104aa",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.326-3620434.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/3620434c8ae812d2127f4b162d82e2c99cd104aa",
  :build-id "1.10.326-3620434",
  :github-release-name "ClojureScript 1.10.326-3620434",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/395623324"},
 :timeout 1800000}
