({:name "chromex",
  :description "function chromex from canary/projects/binaryage.clj:7",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [binaryage/chromex#869](https://travis-ci.org/binaryage/chromex/builds/395625572)<br>"}}
 {:name "cljs-devtools",
  :description "function cljs-devtools from canary/projects/binaryage.clj:4",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [binaryage/cljs-devtools#673](https://travis-ci.org/binaryage/cljs-devtools/builds/395625577)<br>"}}
 {:name "cljs-oops",
  :description "function cljs-oops from canary/projects/binaryage.clj:10",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [binaryage/cljs-oops#543](https://travis-ci.org/binaryage/cljs-oops/builds/395625579)<br>"}}
 {:name "cljs-zones",
  :description "function cljs-zones from canary/projects/binaryage.clj:16",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [binaryage/cljs-zones#198](https://travis-ci.org/binaryage/cljs-zones/builds/395625585)<br>"}}
 {:name "closurecomp",
  :description "function closurecomp from canary/projects/mfikes.clj:30",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [mfikes/closurecomp#123](https://travis-ci.org/mfikes/closurecomp/builds/395625587)<br>"}}
 {:name "closurelib",
  :description "function closurelib from canary/projects/mfikes.clj:33",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [mfikes/closurelib#8](https://travis-ci.org/mfikes/closurelib/builds/395625592)<br>"}}
 {:name "coal-mine-1",
  :description "function coal-mine-1 from canary/projects/mfikes.clj:7",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [mfikes/coal-mine#1370](https://travis-ci.org/mfikes/coal-mine/builds/395625599)<br>"}}
 {:name "coal-mine-2",
  :description "function coal-mine-2 from canary/projects/mfikes.clj:11",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [mfikes/coal-mine#1371](https://travis-ci.org/mfikes/coal-mine/builds/395625601)<br>"}}
 {:name "coal-mine-3",
  :description "function coal-mine-3 from canary/projects/mfikes.clj:15",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [mfikes/coal-mine#1372](https://travis-ci.org/mfikes/coal-mine/builds/395625614)<br>"}}
 {:name "coal-mine-4",
  :description "function coal-mine-4 from canary/projects/mfikes.clj:19",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [mfikes/coal-mine#1373](https://travis-ci.org/mfikes/coal-mine/builds/395625618)<br>"}}
 {:name "coal-mine-5",
  :description "function coal-mine-5 from canary/projects/mfikes.clj:23",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [mfikes/coal-mine#1374](https://travis-ci.org/mfikes/coal-mine/builds/395625623)<br>"}}
 {:name "cuerdas",
  :description "function cuerdas from canary/projects/chkup.clj:4",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/cuerdas#12](https://travis-ci.org/chkup/cuerdas/builds/395625639)<br>"}}
 {:name "env-config",
  :description "function env-config from canary/projects/binaryage.clj:13",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [binaryage/env-config#224](https://travis-ci.org/binaryage/env-config/builds/395625645)<br>"}}
 {:name "garden",
  :description "function garden from canary/projects/chkup.clj:7",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/garden#10](https://travis-ci.org/chkup/garden/builds/395625697)<br>"}}
 {:name "om",
  :description "function om from canary/projects/chkup.clj:10",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/om#9](https://travis-ci.org/chkup/om/builds/395625745)<br>"}}
 {:name "planck",
  :description "function planck from canary/projects/planck_repl.clj:4",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [planck-repl/planck#2065](https://travis-ci.org/planck-repl/planck/builds/395625864)<br>"}}
 {:name "re-frame",
  :description "function re-frame from canary/projects/chkup.clj:13",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/re-frame#26](https://travis-ci.org/chkup/re-frame/builds/395625788)<br>"}}
 {:name "side-fx",
  :description "function side-fx from canary/projects/cljsrn.clj:4",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :failed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:red'>&#x2717;</b> Travis build [cljsrn/side-fx#58](https://travis-ci.org/cljsrn/side-fx/builds/395625839)<br>"}}
 {:name "spec-tools",
  :description "function spec-tools from canary/projects/chkup.clj:16",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/spec-tools#9](https://travis-ci.org/chkup/spec-tools/builds/395625721)<br>"}}
 {:name "specter",
  :description "function specter from canary/projects/chkup.clj:19",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/specter#12](https://travis-ci.org/chkup/specter/builds/395625831)<br>"}}
 {:name "test-check",
  :description "function test-check from canary/projects/chkup.clj:22",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/test.check#10](https://travis-ci.org/chkup/test.check/builds/395625890)<br>"}})
