{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "408",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/b7a5dcd8f927996e484d14aa10caf32d899d3e87",
  :build-version "1.10.298",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.298-03455b4/clojurescript-1.10.298-03455b4.jar",
  :github-release-tag "r1.10.298-03455b4",
  :build-rev "03455b4ba4338ab05ffccefc9ddb41c8fd128cfa",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.298-03455b4.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/03455b4ba4338ab05ffccefc9ddb41c8fd128cfa",
  :build-id "1.10.298-03455b4",
  :github-release-name "ClojureScript 1.10.298-03455b4",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/389572066"},
 :timeout 1800000}
