{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :meta-job-args "job",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "1445",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/7129aa3141ab3ce29c03d3c49df2a1545da23dcc",
  :build-version "1.10.779",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.779-ba048aa3/clojurescript-1.10.779-ba048aa3.jar",
  :github-release-tag "r1.10.779-ba048aa3",
  :build-rev "ba048aa3cfee4977c49372f03e58e4a4fcaef7b5",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.779-ba048aa3.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/ba048aa3cfee4977c49372f03e58e4a4fcaef7b5",
  :canary-job-commit-author-login "babot",
  :build-id "1.10.779-ba048aa3",
  :github-release-name "ClojureScript 1.10.779-ba048aa3",
  :canary-job-commit-author-avatar-url "https://avatars0.githubusercontent.com/u/1476765?v=4",
  :canary-job-commit-author-date "2020-06-22T11:03:47Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/700837336",
  :canary-job-commit "7129aa3141ab3ce29c03d3c49df2a1545da23dcc",
  :canary-job-commit-author-name "BinaryAge Bot"},
 :timeout 1800000}
