{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :meta-job-args "job",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "1374",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/f750400e48d2291b44bfd0733610fd66d3f38fb6",
  :build-version "1.10.729",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.729-8db5b768/clojurescript-1.10.729-8db5b768.jar",
  :github-release-tag "r1.10.729-8db5b768",
  :build-rev "8db5b7689b6a1d4ba1a0270db71a8cdb31381c5e",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.729-8db5b768.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/8db5b7689b6a1d4ba1a0270db71a8cdb31381c5e",
  :canary-job-commit-author-login "babot",
  :build-id "1.10.729-8db5b768",
  :github-release-name "ClojureScript 1.10.729-8db5b768",
  :canary-job-commit-author-avatar-url "https://avatars0.githubusercontent.com/u/1476765?v=4",
  :canary-job-commit-author-date "2020-04-14T11:02:18Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/674800059",
  :canary-job-commit "f750400e48d2291b44bfd0733610fd66d3f38fb6",
  :canary-job-commit-author-name "BinaryAge Bot"},
 :timeout 1800000}
