{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "CLJS-3068",
 :verbosity 0,
 :job-id "865",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/cd578bb523e7f100fdb0f214a5dce32ffc9229c0",
  :build-version "1.10.525",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.525-71012e9/clojurescript-1.10.525-71012e9.jar",
  :github-release-tag "r1.10.525-71012e9",
  :build-rev "71012e92b7a9c6ef6eef462e218da040d0d0fe29",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.525-71012e9.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/71012e92b7a9c6ef6eef462e218da040d0d0fe29",
  :build-id "1.10.525-71012e9",
  :github-release-name "ClojureScript 1.10.525-71012e9",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/516290095"},
 :timeout 1800000}
