{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :meta-job-args "job -c mfikes -r CLJS-3102",
 :rootdir "/canary",
 :compiler-rev "CLJS-3102",
 :verbosity 0,
 :job-id "1064",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/8b671c5d1bc9fc22849fee6530aefc27bddded25",
  :build-version "1.10.573",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.573-246492b15/clojurescript-1.10.573-246492b15.jar",
  :github-release-tag "r1.10.573-246492b15",
  :build-rev "246492b15328668bd8fdf3260ddca7a87d5899c3",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.573-246492b15.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/246492b15328668bd8fdf3260ddca7a87d5899c3",
  :canary-job-commit-author-login "mfikes",
  :build-id "1.10.573-246492b15",
  :github-release-name "ClojureScript 1.10.573-246492b15",
  :canary-job-commit-author-avatar-url "https://avatars1.githubusercontent.com/u/1723464?v=4",
  :canary-job-commit-author-date "2019-08-20T01:24:15Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/574113462",
  :canary-job-commit "8b671c5d1bc9fc22849fee6530aefc27bddded25",
  :canary-job-commit-author-name "Mike Fikes"},
 :timeout 1800000}
