{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "947",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/ca27f22ed5582171bb5f584038ad58f0cde13326",
  :build-version "1.10.533",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.533-570d066e/clojurescript-1.10.533-570d066e.jar",
  :github-release-tag "r1.10.533-570d066e",
  :build-rev "570d066ecd0e5a3b45849a28b8b8238fa920a4ea",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.533-570d066e.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/570d066ecd0e5a3b45849a28b8b8238fa920a4ea",
  :build-id "1.10.533-570d066e",
  :github-release-name "ClojureScript 1.10.533-570d066e",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/538068439"},
 :timeout 1800000}
