{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :meta-job-args "job -c mfikes -r CLJS-3155",
 :rootdir "/canary",
 :compiler-rev "CLJS-3155",
 :verbosity 0,
 :job-id "1070",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/2e768cae8ef07f751899fa1959e89fae2b3741ae",
  :build-version "1.10.572",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.572-6b32d9e9f/clojurescript-1.10.572-6b32d9e9f.jar",
  :github-release-tag "r1.10.572-6b32d9e9f",
  :build-rev "6b32d9e9fd9befb96243091a97de13d447ea8ec6",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.572-6b32d9e9f.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/6b32d9e9fd9befb96243091a97de13d447ea8ec6",
  :canary-job-commit-author-login "mfikes",
  :build-id "1.10.572-6b32d9e9f",
  :github-release-name "ClojureScript 1.10.572-6b32d9e9f",
  :canary-job-commit-author-avatar-url "https://avatars1.githubusercontent.com/u/1723464?v=4",
  :canary-job-commit-author-date "2019-08-20T12:35:28Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/574330488",
  :canary-job-commit "2e768cae8ef07f751899fa1959e89fae2b3741ae",
  :canary-job-commit-author-name "Mike Fikes"},
 :timeout 1800000}
