{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :meta-job-args "job",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "1174",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/a7eb8566f70531ed8c46092c6358e220ffc5d22b",
  :build-version "1.10.595",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.595-910fbe30/clojurescript-1.10.595-910fbe30.jar",
  :github-release-tag "r1.10.595-910fbe30",
  :build-rev "910fbe304b7cff60ff117851311a9534de3885d6",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.595-910fbe30.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/910fbe304b7cff60ff117851311a9534de3885d6",
  :canary-job-commit-author-login "mfikes",
  :build-id "1.10.595-910fbe30",
  :github-release-name "ClojureScript 1.10.595-910fbe30",
  :canary-job-commit-author-avatar-url "https://avatars1.githubusercontent.com/u/1723464?v=4",
  :canary-job-commit-author-date "2019-11-15T20:41:20Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/612567108",
  :canary-job-commit "a7eb8566f70531ed8c46092c6358e220ffc5d22b",
  :canary-job-commit-author-name "Mike Fikes"},
 :timeout 1800000}
