{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "CLJS-2993",
 :verbosity 0,
 :job-id "695",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/6d7334264f390bcefcee81e9a5463ad99028b620",
  :build-version "1.10.468",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.468-d6b0e5f/clojurescript-1.10.468-d6b0e5f.jar",
  :github-release-tag "r1.10.468-d6b0e5f",
  :build-rev "d6b0e5f3cce51372dcd744094a4bfab5133b3855",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.468-d6b0e5f.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/d6b0e5f3cce51372dcd744094a4bfab5133b3855",
  :build-id "1.10.468-d6b0e5f",
  :github-release-name "ClojureScript 1.10.468-d6b0e5f",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/461244600"},
 :timeout 1800000}
