{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "CLJS-2342",
 :verbosity 0,
 :job-id "913",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/deacb84f1dec3bb32c54a99eb706941ea77e6a05",
  :build-version "1.10.529",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.529-4554e776/clojurescript-1.10.529-4554e776.jar",
  :github-release-tag "r1.10.529-4554e776",
  :build-rev "4554e776e8b08b06c01ed2ae8f9bd45f568112fd",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.529-4554e776.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/4554e776e8b08b06c01ed2ae8f9bd45f568112fd",
  :build-id "1.10.529-4554e776",
  :github-release-name "ClojureScript 1.10.529-4554e776",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/531335945"},
 :timeout 1800000}
