{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "478",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/6054dde5317636359cf5162a86fbec9d924bfac9",
  :build-version "1.10.363",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.363-0773689/clojurescript-1.10.363-0773689.jar",
  :github-release-tag "r1.10.363-0773689",
  :build-rev "0773689ec748109a8c09ba924f90c25875eb6a9d",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.363-0773689.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/0773689ec748109a8c09ba924f90c25875eb6a9d",
  :build-id "1.10.363-0773689",
  :github-release-name "ClojureScript 1.10.363-0773689",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/402518833"},
 :timeout 1800000}
