{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "254",
 :polling-interval 300000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/a6c065649dcbfbf769f2ee3c644861e7e196f54f",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.9.1032-2f9e50c/clojurescript-1.9.1032-2f9e50c.jar",
  :github-release-tag "r1.9.1032-2f9e50c",
  :build-rev "2f9e50c230969c217e1465958a9480883a55961b",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.9.1032-2f9e50c.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/2f9e50c230969c217e1465958a9480883a55961b",
  :build-id "1.9.1032-2f9e50c",
  :github-release-name "ClojureScript 1.9.1032-2f9e50c",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/339772933"},
 :timeout 3600000}
