{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :meta-job-args "job",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "1373",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/30b0cbbbbaaba2f551a74566d46c4170f49185fe",
  :build-version "1.10.721",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.721-f83b1f76/clojurescript-1.10.721-f83b1f76.jar",
  :github-release-tag "r1.10.721-f83b1f76",
  :build-rev "f83b1f766c32b60a3e2660170e0faf15c6e2a34e",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.721-f83b1f76.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/f83b1f766c32b60a3e2660170e0faf15c6e2a34e",
  :canary-job-commit-author-login "babot",
  :build-id "1.10.721-f83b1f76",
  :github-release-name "ClojureScript 1.10.721-f83b1f76",
  :canary-job-commit-author-avatar-url "https://avatars0.githubusercontent.com/u/1476765?v=4",
  :canary-job-commit-author-date "2020-04-13T11:02:18Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/674354053",
  :canary-job-commit "30b0cbbbbaaba2f551a74566d46c4170f49185fe",
  :canary-job-commit-author-name "BinaryAge Bot"},
 :timeout 1800000}
