{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "CLJS-3134",
 :verbosity 0,
 :job-id "1008",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/3a37c2854bcd92a4693c92611f25ca1801700ff1",
  :build-version "1.10.557",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.557-973b7074/clojurescript-1.10.557-973b7074.jar",
  :github-release-tag "r1.10.557-973b7074",
  :build-rev "973b7074a6bfff1dc0dc54ef39902b163ae7430c",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.557-973b7074.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/973b7074a6bfff1dc0dc54ef39902b163ae7430c",
  :build-id "1.10.557-973b7074",
  :github-release-name "ClojureScript 1.10.557-973b7074",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/555561945"},
 :timeout 1800000}
