{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :meta-job-args "job",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "1447",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/facd1c56981b01e25911b1e86bd2c897748ffe5a",
  :build-version "1.10.781",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.781-92707a0b/clojurescript-1.10.781-92707a0b.jar",
  :github-release-tag "r1.10.781-92707a0b",
  :build-rev "92707a0b1ffb2a9fb6c019f877008eaeaedf97e5",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.781-92707a0b.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/92707a0b1ffb2a9fb6c019f877008eaeaedf97e5",
  :canary-job-commit-author-login "babot",
  :build-id "1.10.781-92707a0b",
  :github-release-name "ClojureScript 1.10.781-92707a0b",
  :canary-job-commit-author-avatar-url "https://avatars0.githubusercontent.com/u/1476765?v=4",
  :canary-job-commit-author-date "2020-06-24T11:04:19Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/701605615",
  :canary-job-commit "facd1c56981b01e25911b1e86bd2c897748ffe5a",
  :canary-job-commit-author-name "BinaryAge Bot"},
 :timeout 1800000}
