{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "256",
 :polling-interval 300000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/68a88472798988e4558fcd47d905ea33f9becf8a",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.9.1054-8c08b21/clojurescript-1.9.1054-8c08b21.jar",
  :github-release-tag "r1.9.1054-8c08b21",
  :build-rev "8c08b2129496a800c7b356cb45b48c497c1e11ab",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.9.1054-8c08b21.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/8c08b2129496a800c7b356cb45b48c497c1e11ab",
  :build-id "1.9.1054-8c08b21",
  :github-release-name "ClojureScript 1.9.1054-8c08b21",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/340362950"},
 :timeout 3600000}
