{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "CLJS-2869",
 :verbosity 0,
 :job-id "547",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/6116b8d5fcd831c2de62be6ab1e81d9688237eac",
  :build-version "1.10.395",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.395-bc29cc2/clojurescript-1.10.395-bc29cc2.jar",
  :github-release-tag "r1.10.395-bc29cc2",
  :build-rev "bc29cc212c11bc01469d580f2d345a7f1b10ed91",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.395-bc29cc2.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/bc29cc212c11bc01469d580f2d345a7f1b10ed91",
  :build-id "1.10.395-bc29cc2",
  :github-release-name "ClojureScript 1.10.395-bc29cc2",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/422830641"},
 :timeout 1800000}
