({:name "cljs-devtools",
  :description
  "a Clojure function cljs-devtools from canary.projects.binaryage",
  :enabled true,
  :enabled-reason "included by default",
  :color :green,
  :result
  {:status :failed,
   :report
   "**`FAILED`**\n\n  * &#x2718; Travis build [binaryage/cljs-devtools#324](https://travis-ci.org/binaryage/cljs-devtools/builds/254593836)"}}
 {:name "planck",
  :description "a Clojure function planck from canary.projects.mfikes",
  :enabled true,
  :enabled-reason "included by default",
  :color :blue,
  :result
  {:status :failed,
   :report
   "**`FAILED`**\n\n  * &#x2714; Travis build [mfikes/planck#873](https://travis-ci.org/mfikes/planck/builds/254593838)"}})
