{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :meta-job-args "job",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "1506",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/50b8727cda8580baa56842d39e4e478cd7b9c996",
  :build-version "1.10.822",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.822-a15247a7/clojurescript-1.10.822-a15247a7.jar",
  :github-release-tag "r1.10.822-a15247a7",
  :build-rev "a15247a743d4d1c5d73224038f7289c447b38ca8",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.822-a15247a7.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/a15247a743d4d1c5d73224038f7289c447b38ca8",
  :canary-job-commit-author-login "babot",
  :build-id "1.10.822-a15247a7",
  :github-release-name "ClojureScript 1.10.822-a15247a7",
  :canary-job-commit-author-avatar-url "https://avatars0.githubusercontent.com/u/1476765?v=4",
  :canary-job-commit-author-date "2020-08-18T11:05:56Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/718919237",
  :canary-job-commit "50b8727cda8580baa56842d39e4e478cd7b9c996",
  :canary-job-commit-author-name "BinaryAge Bot"},
 :timeout 1800000}
