{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :only "closurelib",
 :rootdir "/canary",
 :compiler-rev "CLJS-2869",
 :verbosity 0,
 :job-id "540",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/f02eed7c971a1187955019d360274397cbbeb654",
  :build-version "1.10.395",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.395-551ef4f/clojurescript-1.10.395-551ef4f.jar",
  :github-release-tag "r1.10.395-551ef4f",
  :build-rev "551ef4f54b17ab5126df22bd1ec646657bbeb1d9",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.395-551ef4f.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/551ef4f54b17ab5126df22bd1ec646657bbeb1d9",
  :build-id "1.10.395-551ef4f",
  :github-release-name "ClojureScript 1.10.395-551ef4f",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/420808781"},
 :timeout 1800000}
