{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "554",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/74ea089aaa6964f40f47e5fb83904005e71de38d",
  :build-version "1.10.406",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.406-4f37076/clojurescript-1.10.406-4f37076.jar",
  :github-release-tag "r1.10.406-4f37076",
  :build-rev "4f3707624846a2cf0345859e41370ec172da73c4",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.406-4f37076.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/4f3707624846a2cf0345859e41370ec172da73c4",
  :build-id "1.10.406-4f37076",
  :github-release-name "ClojureScript 1.10.406-4f37076",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/424182043"},
 :timeout 1800000}
