{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "CLJS-2873",
 :verbosity 0,
 :job-id "686",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/6fa837c6d1d536f093bce41f6c5b8e5b389e08a9",
  :build-version "1.10.454",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.454-25b8982/clojurescript-1.10.454-25b8982.jar",
  :github-release-tag "r1.10.454-25b8982",
  :build-rev "25b898241229f3de0aad6e60b0951799666f0177",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.454-25b8982.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/25b898241229f3de0aad6e60b0951799666f0177",
  :build-id "1.10.454-25b8982",
  :github-release-name "ClojureScript 1.10.454-25b8982",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/459017390"},
 :timeout 1800000}
