{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :meta-job-args "job",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "1824",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/e0612e6a582ae5806f20074eb5539e96037d1b53",
  :build-version "1.10.867",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.867-9027c028/clojurescript-1.10.867-9027c028.jar",
  :github-release-tag "r1.10.867-9027c028",
  :build-rev "9027c02852bbeb512cda728e5f0551145e921a9c",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.867-9027c028.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/9027c02852bbeb512cda728e5f0551145e921a9c",
  :canary-job-commit-author-login "babot",
  :build-id "1.10.867-9027c028",
  :github-release-name "ClojureScript 1.10.867-9027c028",
  :canary-job-commit-author-avatar-url "https://avatars.githubusercontent.com/u/1476765?v=4",
  :canary-job-commit-author-date "2021-06-12T11:08:01Z",
  :travis-build-url "https://travis-ci.com/cljs-oss/canary/builds/228784095",
  :canary-job-commit "e0612e6a582ae5806f20074eb5539e96037d1b53",
  :canary-job-commit-author-name "BinaryAge Bot"},
 :timeout 1800000}
