{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :meta-job-args "job",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "1400",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/4b2608c126b964cabb58a01188a225c84960ae2b",
  :build-version "1.10.761",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.761-be792c95/clojurescript-1.10.761-be792c95.jar",
  :github-release-tag "r1.10.761-be792c95",
  :build-rev "be792c950ad56b23454e9136260ce7a49073323c",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.761-be792c95.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/be792c950ad56b23454e9136260ce7a49073323c",
  :canary-job-commit-author-login "babot",
  :build-id "1.10.761-be792c95",
  :github-release-name "ClojureScript 1.10.761-be792c95",
  :canary-job-commit-author-avatar-url "https://avatars0.githubusercontent.com/u/1476765?v=4",
  :canary-job-commit-author-date "2020-05-09T11:02:13Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/685008326",
  :canary-job-commit "4b2608c126b964cabb58a01188a225c84960ae2b",
  :canary-job-commit-author-name "BinaryAge Bot"},
 :timeout 1800000}
