{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :meta-job-args "job",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "1785",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/fe7571843db89d99661765e7ba69b48bc125912f",
  :build-version "1.10.865",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.865-58e39cb5/clojurescript-1.10.865-58e39cb5.jar",
  :github-release-tag "r1.10.865-58e39cb5",
  :build-rev "58e39cb5f672ce7419955285bd78a71d4cbf595b",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.865-58e39cb5.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/58e39cb5f672ce7419955285bd78a71d4cbf595b",
  :canary-job-commit-author-login "babot",
  :build-id "1.10.865-58e39cb5",
  :github-release-name "ClojureScript 1.10.865-58e39cb5",
  :canary-job-commit-author-avatar-url "https://avatars.githubusercontent.com/u/1476765?v=4",
  :canary-job-commit-author-date "2021-05-20T11:09:44Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/771780747",
  :canary-job-commit "fe7571843db89d99661765e7ba69b48bc125912f",
  :canary-job-commit-author-name "BinaryAge Bot"},
 :timeout 1800000}
