{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "696",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/bc252e0dd8f3788df69da6b65401383f28b87626",
  :build-version "1.10.468",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.468-0be62b2/clojurescript-1.10.468-0be62b2.jar",
  :github-release-tag "r1.10.468-0be62b2",
  :build-rev "0be62b2eef8e1c70711b16aee128d5def1cf6028",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.468-0be62b2.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/0be62b2eef8e1c70711b16aee128d5def1cf6028",
  :build-id "1.10.468-0be62b2",
  :github-release-name "ClojureScript 1.10.468-0be62b2",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/461648582"},
 :timeout 1800000}
