{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :meta-job-args "job -c mfikes -r CLJS-3086",
 :rootdir "/canary",
 :compiler-rev "CLJS-3086",
 :verbosity 0,
 :job-id "1063",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/b80e9b10b09d8020e390e30c167976243262b268",
  :build-version "1.10.573",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.573-a9defd07d/clojurescript-1.10.573-a9defd07d.jar",
  :github-release-tag "r1.10.573-a9defd07d",
  :build-rev "a9defd07dcabae1695bbb14cd3fd598a43c35f73",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.573-a9defd07d.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/a9defd07dcabae1695bbb14cd3fd598a43c35f73",
  :canary-job-commit-author-login "mfikes",
  :build-id "1.10.573-a9defd07d",
  :github-release-name "ClojureScript 1.10.573-a9defd07d",
  :canary-job-commit-author-avatar-url "https://avatars1.githubusercontent.com/u/1723464?v=4",
  :canary-job-commit-author-date "2019-08-20T00:56:28Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/574107279",
  :canary-job-commit "b80e9b10b09d8020e390e30c167976243262b268",
  :canary-job-commit-author-name "Mike Fikes"},
 :timeout 1800000}
