{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "277",
 :polling-interval 300000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/84da9b78a0d2b6e4d499835f19cf5d3434a4fda5",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.10-08beee8/clojurescript-1.10.10-08beee8.jar",
  :github-release-tag "r1.10.10-08beee8",
  :build-rev "08beee84b05f911a6bb0eff0dd1235c201b26c70",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.10-08beee8.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/08beee84b05f911a6bb0eff0dd1235c201b26c70",
  :build-id "1.10.10-08beee8",
  :github-release-name "ClojureScript 1.10.10-08beee8",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/345129684"},
 :timeout 3600000}
