{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :meta-job-args "job -c mfikes -r CLJS-3140",
 :rootdir "/canary",
 :compiler-rev "CLJS-3140",
 :verbosity 0,
 :job-id "1026",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/019a1068ae456b94617c2bb8bb3e3ad122dce2db",
  :build-version "1.10.561",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.561-8793f4ca/clojurescript-1.10.561-8793f4ca.jar",
  :github-release-tag "r1.10.561-8793f4ca",
  :build-rev "8793f4cac13b87f74bfc30736e63b0a43cfbba74",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.561-8793f4ca.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/8793f4cac13b87f74bfc30736e63b0a43cfbba74",
  :canary-job-commit-author-login "mfikes",
  :build-id "1.10.561-8793f4ca",
  :github-release-name "ClojureScript 1.10.561-8793f4ca",
  :canary-job-commit-author-avatar-url "https://avatars1.githubusercontent.com/u/1723464?v=4",
  :canary-job-commit-author-date "2019-07-21T13:50:28Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/561699199",
  :canary-job-commit "019a1068ae456b94617c2bb8bb3e3ad122dce2db",
  :canary-job-commit-author-name "Mike Fikes"},
 :timeout 1800000}
