{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "563",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/f2ff05f33826429e329e1f169338e07c01c18131",
  :build-version "1.10.414",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.414-0598b93/clojurescript-1.10.414-0598b93.jar",
  :github-release-tag "r1.10.414-0598b93",
  :build-rev "0598b93e309150a979d3a738ed6cb6a8558dde05",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.414-0598b93.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/0598b93e309150a979d3a738ed6cb6a8558dde05",
  :build-id "1.10.414-0598b93",
  :github-release-name "ClojureScript 1.10.414-0598b93",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/425588283"},
 :timeout 1800000}
