{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :meta-job-args "job -c mfikes -r CLJS-3164",
 :rootdir "/canary",
 :compiler-rev "CLJS-3164",
 :verbosity 0,
 :job-id "1097",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/7a296ffc21bc2951135195988e785957a4420dd8",
  :build-version "1.10.573",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.573-8de2130ed/clojurescript-1.10.573-8de2130ed.jar",
  :github-release-tag "r1.10.573-8de2130ed",
  :build-rev "8de2130ed42516fb21bcee117bd439f13a4b8f99",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.573-8de2130ed.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/8de2130ed42516fb21bcee117bd439f13a4b8f99",
  :canary-job-commit-author-login "mfikes",
  :build-id "1.10.573-8de2130ed",
  :github-release-name "ClojureScript 1.10.573-8de2130ed",
  :canary-job-commit-author-avatar-url "https://avatars1.githubusercontent.com/u/1723464?v=4",
  :canary-job-commit-author-date "2019-09-11T19:48:42Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/583828680",
  :canary-job-commit "7a296ffc21bc2951135195988e785957a4420dd8",
  :canary-job-commit-author-name "Mike Fikes"},
 :timeout 1800000}
