{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "patch-tender-2019-01-09T20",
 :verbosity 0,
 :job-id "766",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/4d19fd7377a3ad60e6e8c9941305d62bbf23e5fe",
  :build-version "1.10.558",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.558-58848a9/clojurescript-1.10.558-58848a9.jar",
  :github-release-tag "r1.10.558-58848a9",
  :build-rev "58848a97441274cccea3f954f9172449b6f98df3",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.558-58848a9.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/58848a97441274cccea3f954f9172449b6f98df3",
  :build-id "1.10.558-58848a9",
  :github-release-name "ClojureScript 1.10.558-58848a9",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/477595294"},
 :timeout 1800000}
