{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :meta-job-args "job",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "1438",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/12a41f8e46a738e3ffc0fb085db5ebb954045a0b",
  :build-version "1.10.778",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.778-42bcb07b/clojurescript-1.10.778-42bcb07b.jar",
  :github-release-tag "r1.10.778-42bcb07b",
  :build-rev "42bcb07b8bf23d57f98e4617e4c4c93347f09715",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.778-42bcb07b.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/42bcb07b8bf23d57f98e4617e4c4c93347f09715",
  :canary-job-commit-author-login "babot",
  :build-id "1.10.778-42bcb07b",
  :github-release-name "ClojureScript 1.10.778-42bcb07b",
  :canary-job-commit-author-avatar-url "https://avatars0.githubusercontent.com/u/1476765?v=4",
  :canary-job-commit-author-date "2020-06-15T11:04:03Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/698478866",
  :canary-job-commit "12a41f8e46a738e3ffc0fb085db5ebb954045a0b",
  :canary-job-commit-author-name "BinaryAge Bot"},
 :timeout 1800000}
