({:name "chromex",
  :description "function chromex from canary/projects/binaryage.clj:7",
  :meta {:homepage "https://github.com/binaryage/chromex"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [binaryage/chromex#1515](https://travis-ci.org/binaryage/chromex/builds/539547846)<br>"}}
 {:name "clara-rules",
  :description "function clara-rules from canary/projects/chkup.clj:4",
  :meta {:homepage "https://github.com/cerner/clara-rules"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/clara-rules#465](https://travis-ci.org/chkup/clara-rules/builds/539547848)<br>"}}
 {:name "cljs-devtools",
  :description "function cljs-devtools from canary/projects/binaryage.clj:4",
  :meta {:homepage "https://github.com/binaryage/cljs-devtools"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [binaryage/cljs-devtools#1144](https://travis-ci.org/binaryage/cljs-devtools/builds/539547859)<br>"}}
 {:name "cljs-oops",
  :description "function cljs-oops from canary/projects/binaryage.clj:10",
  :meta {:homepage "https://github.com/binaryage/cljs-oops"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [binaryage/cljs-oops#1034](https://travis-ci.org/binaryage/cljs-oops/builds/539547870)<br>"}}
 {:name "cljs-zones",
  :description "function cljs-zones from canary/projects/binaryage.clj:13",
  :meta {:homepage "https://github.com/binaryage/cljs-zones"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [binaryage/cljs-zones#666](https://travis-ci.org/binaryage/cljs-zones/builds/539547872)<br>"}}
 {:name "coal-mine",
  :description "function coal-mine from canary/projects/mfikes.clj:4",
  :meta {:homepage "https://github.com/mfikes/coal-mine"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [mfikes/coal-mine#2078](https://travis-ci.org/mfikes/coal-mine/builds/539547885)<br>"}}
 {:name "core-async",
  :description "function core-async from canary/projects/chkup.clj:37",
  :meta {:homepage "https://github.com/clojure/core.async"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/core.async#154](https://travis-ci.org/chkup/core.async/builds/539547893)<br>"}}
 {:name "core-logic",
  :description "function core-logic from canary/projects/chkup.clj:46",
  :meta {:homepage "https://github.com/clojure/core.logic"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/core.logic#152](https://travis-ci.org/chkup/core.logic/builds/539547903)<br>"}}
 {:name "core-match",
  :description "function core-match from canary/projects/chkup.clj:43",
  :meta {:homepage "https://github.com/clojure/core.match"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/core.match#150](https://travis-ci.org/chkup/core.match/builds/539547910)<br>"}}
 {:name "core-rrb-vector",
  :description "function core-rrb-vector from canary/projects/chkup.clj:40",
  :meta {:homepage "https://github.com/clojure/core.rrb-vector"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/core.rrb-vector#150](https://travis-ci.org/chkup/core.rrb-vector/builds/539547916)<br>"}}
 {:name "cuerdas",
  :description "function cuerdas from canary/projects/chkup.clj:7",
  :meta {:homepage "https://github.com/funcool/cuerdas"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/cuerdas#476](https://travis-ci.org/chkup/cuerdas/builds/539547922)<br>"}}
 {:name "fulcro",
  :description "function fulcro from canary/projects/chkup.clj:10",
  :meta {:homepage "https://github.com/fulcrologic/fulcro"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/fulcro#467](https://travis-ci.org/chkup/fulcro/builds/539547920)<br>"}}
 {:name "garden",
  :description "function garden from canary/projects/chkup.clj:13",
  :meta {:homepage "https://github.com/noprompt/garden"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/garden#475](https://travis-ci.org/chkup/garden/builds/539548105)<br>"}}
 {:name "hoplon",
  :description "function hoplon from canary/projects/chkup.clj:16",
  :meta {:homepage "https://github.com/hoplon/hoplon"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/hoplon#462](https://travis-ci.org/chkup/hoplon/builds/539547933)<br>"}}
 {:name "ilk",
  :description "function ilk from canary/projects/mfikes.clj:24",
  :meta {:homepage "https://github.com/mfikes/ilk"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [mfikes/ilk#205](https://travis-ci.org/mfikes/ilk/builds/539547946)<br>"}}
 {:name "om",
  :description "function om from canary/projects/chkup.clj:19",
  :meta {:homepage "https://github.com/omcljs/om"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/om#474](https://travis-ci.org/chkup/om/builds/539547953)<br>"}}
 {:name "planck",
  :description "function planck from canary/projects/planck_repl.clj:4",
  :meta {:homepage "https://github.com/planck-repl/planck"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [planck-repl/planck#3188](https://travis-ci.org/planck-repl/planck/builds/539548014)<br>"}}
 {:name "re-frame",
  :description "function re-frame from canary/projects/chkup.clj:22",
  :meta {:homepage "https://github.com/Day8/re-frame"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/re-frame#495](https://travis-ci.org/chkup/re-frame/builds/539548039)<br>"}}
 {:name "reagent",
  :description "function reagent from canary/projects/chkup.clj:25",
  :meta {:homepage "https://github.com/reagent-project/reagent"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/reagent#470](https://travis-ci.org/chkup/reagent/builds/539547958)<br>"}}
 {:name "side-fx",
  :description "function side-fx from canary/projects/cljsrn.clj:4",
  :meta {:homepage "https://github.com/cljsrn/side-fx"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [cljsrn/side-fx#525](https://travis-ci.org/cljsrn/side-fx/builds/539547993)<br>"}}
 {:name "spec-tools",
  :description "function spec-tools from canary/projects/chkup.clj:28",
  :meta {:homepage "https://github.com/metosin/spec-tools"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/spec-tools#479](https://travis-ci.org/chkup/spec-tools/builds/539548020)<br>"}}
 {:name "specter",
  :description "function specter from canary/projects/chkup.clj:31",
  :meta {:homepage "https://github.com/nathanmarz/specter"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/specter#479](https://travis-ci.org/chkup/specter/builds/539548046)<br>"}}
 {:name "test-check",
  :description "function test-check from canary/projects/chkup.clj:34",
  :meta {:homepage "https://github.com/clojure/test.check"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/test.check#475](https://travis-ci.org/chkup/test.check/builds/539548069)<br>"}})
