{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "715",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/0418eda73e1e452bbbd6154ca2d4d47c280445b4",
  :build-version "1.10.484",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.484-b38ad7e/clojurescript-1.10.484-b38ad7e.jar",
  :github-release-tag "r1.10.484-b38ad7e",
  :build-rev "b38ad7e6a5edcb901db96d44ef2b44357253bf31",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.484-b38ad7e.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/b38ad7e6a5edcb901db96d44ef2b44357253bf31",
  :build-id "1.10.484-b38ad7e",
  :github-release-name "ClojureScript 1.10.484-b38ad7e",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/464201134"},
 :timeout 1800000}
