{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :meta-job-args "job",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "1363",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/7ee66e16496cbffdcb0e5def0d219d7be0732992",
  :build-version "1.10.663",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.663-45022fa1/clojurescript-1.10.663-45022fa1.jar",
  :github-release-tag "r1.10.663-45022fa1",
  :build-rev "45022fa177dc900b774c6736e04e698426bf55c8",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.663-45022fa1.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/45022fa177dc900b774c6736e04e698426bf55c8",
  :canary-job-commit-author-login "babot",
  :build-id "1.10.663-45022fa1",
  :github-release-name "ClojureScript 1.10.663-45022fa1",
  :canary-job-commit-author-avatar-url "https://avatars0.githubusercontent.com/u/1476765?v=4",
  :canary-job-commit-author-date "2020-04-04T11:02:31Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/670896083",
  :canary-job-commit "7ee66e16496cbffdcb0e5def0d219d7be0732992",
  :canary-job-commit-author-name "BinaryAge Bot"},
 :timeout 1800000}
