{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "CLJS-2979",
 :verbosity 0,
 :job-id "673",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/d7e0399736bbcd420efb962089aa2146718c54fd",
  :build-version "1.10.440",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.440-4842a8d/clojurescript-1.10.440-4842a8d.jar",
  :github-release-tag "r1.10.440-4842a8d",
  :build-rev "4842a8d95c1552066c47171b33923af1ac7c0c32",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.440-4842a8d.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/4842a8d95c1552066c47171b33923af1ac7c0c32",
  :build-id "1.10.440-4842a8d",
  :github-release-name "ClojureScript 1.10.440-4842a8d",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/456749134"},
 :timeout 1800000}
