{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :only "closurecomp",
 :rootdir "/canary",
 :compiler-rev "CLJS-2998",
 :verbosity 0,
 :job-id "702",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/a84bdbec9705aa82cb3ee79725450c96410c5fd1",
  :build-version "1.10.477",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.477-b4e02ec/clojurescript-1.10.477-b4e02ec.jar",
  :github-release-tag "r1.10.477-b4e02ec",
  :build-rev "b4e02ecbfab11b8c1b6c1d8328d20f7dba60acae",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.477-b4e02ec.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/b4e02ecbfab11b8c1b6c1d8328d20f7dba60acae",
  :build-id "1.10.477-b4e02ec",
  :github-release-name "ClojureScript 1.10.477-b4e02ec",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/462294407"},
 :timeout 1800000}
