{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "457",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/b32c279fd1e428ad4c1dfb89e96472f915b216ab",
  :build-version "1.10.348",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.348-e173e54/clojurescript-1.10.348-e173e54.jar",
  :github-release-tag "r1.10.348-e173e54",
  :build-rev "e173e54de9de5174601a35d22b8da33096af39d3",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.348-e173e54.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/e173e54de9de5174601a35d22b8da33096af39d3",
  :build-id "1.10.348-e173e54",
  :github-release-name "ClojureScript 1.10.348-e173e54",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/398514444"},
 :timeout 1800000}
