{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :meta-job-args "job",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "1711",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/529308060f6c1c4b9a9570b35e36c34663a6e71a",
  :build-version "1.10.836",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.836-69b66374/clojurescript-1.10.836-69b66374.jar",
  :github-release-tag "r1.10.836-69b66374",
  :build-rev "69b66374d857a176c5a9cd8cc0cbb7506876640d",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.836-69b66374.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/69b66374d857a176c5a9cd8cc0cbb7506876640d",
  :canary-job-commit-author-login "babot",
  :build-id "1.10.836-69b66374",
  :github-release-name "ClojureScript 1.10.836-69b66374",
  :canary-job-commit-author-avatar-url "https://avatars.githubusercontent.com/u/1476765?v=4",
  :canary-job-commit-author-date "2021-03-08T11:08:07Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/761928422",
  :canary-job-commit "529308060f6c1c4b9a9570b35e36c34663a6e71a",
  :canary-job-commit-author-name "BinaryAge Bot"},
 :timeout 1800000}
