{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "797",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/97539c1db21b1bfc8658f353fde9e1250d6ff1b9",
  :build-version "1.10.513",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.513-6e01b14/clojurescript-1.10.513-6e01b14.jar",
  :github-release-tag "r1.10.513-6e01b14",
  :build-rev "6e01b149dddfa28f76dd63374534900e6cf26d86",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.513-6e01b14.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/6e01b149dddfa28f76dd63374534900e6cf26d86",
  :build-id "1.10.513-6e01b14",
  :github-release-name "ClojureScript 1.10.513-6e01b14",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/485940334"},
 :timeout 1800000}
