{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :meta-job-args "job",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "1324",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/ae2aa53e921e6c6b02304ee87f485ef854b93710",
  :build-version "1.10.622",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.622-370e5878/clojurescript-1.10.622-370e5878.jar",
  :github-release-tag "r1.10.622-370e5878",
  :build-rev "370e58784112852c4094b68de40209de8528ddee",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.622-370e5878.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/370e58784112852c4094b68de40209de8528ddee",
  :canary-job-commit-author-login "babot",
  :build-id "1.10.622-370e5878",
  :github-release-name "ClojureScript 1.10.622-370e5878",
  :canary-job-commit-author-avatar-url "https://avatars0.githubusercontent.com/u/1476765?v=4",
  :canary-job-commit-author-date "2020-03-20T11:03:15Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/664798814",
  :canary-job-commit "ae2aa53e921e6c6b02304ee87f485ef854b93710",
  :canary-job-commit-author-name "BinaryAge Bot"},
 :timeout 1800000}
