{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :meta-job-args "job --only cljs-time",
 :only "cljs-time",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "1328",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/c5ff144d51615eb5db72f5db46242e17a28c05a4",
  :build-version "1.10.623",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.623-e4e1ac25/clojurescript-1.10.623-e4e1ac25.jar",
  :github-release-tag "r1.10.623-e4e1ac25",
  :build-rev "e4e1ac2520a2d5a1e5affdfc0a92a59da9dbbd2f",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.623-e4e1ac25.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/e4e1ac2520a2d5a1e5affdfc0a92a59da9dbbd2f",
  :canary-job-commit-author-login "mfikes",
  :build-id "1.10.623-e4e1ac25",
  :github-release-name "ClojureScript 1.10.623-e4e1ac25",
  :canary-job-commit-author-avatar-url "https://avatars1.githubusercontent.com/u/1723464?v=4",
  :canary-job-commit-author-date "2020-03-23T12:33:05Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/665838567",
  :canary-job-commit "c5ff144d51615eb5db72f5db46242e17a28c05a4",
  :canary-job-commit-author-name "Mike Fikes"},
 :timeout 1800000}
