{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "405",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/066ee0e38f86dca9cc55db9385f906590a465b72",
  :build-version "1.10.295",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.295-9a4e89e/clojurescript-1.10.295-9a4e89e.jar",
  :github-release-tag "r1.10.295-9a4e89e",
  :build-rev "9a4e89efb01669c07d64b328f16fcb3d9edfa198",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.295-9a4e89e.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/9a4e89efb01669c07d64b328f16fcb3d9edfa198",
  :build-id "1.10.295-9a4e89e",
  :github-release-name "ClojureScript 1.10.295-9a4e89e",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/388125641"},
 :timeout 1800000}
