{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :only "chromex",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "294",
 :polling-interval 300000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/fe9cac8e06c20b841121510706e4924fbe79f164",
  :build-version "1.10.106",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.106-a8d2007/clojurescript-1.10.106-a8d2007.jar",
  :github-release-tag "r1.10.106-a8d2007",
  :build-rev "a8d200761d70fbccf6cc749de58344fc896b7b99",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.106-a8d2007.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/a8d200761d70fbccf6cc749de58344fc896b7b99",
  :build-id "1.10.106-a8d2007",
  :github-release-name "ClojureScript 1.10.106-a8d2007",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/348684953"},
 :timeout 3600000}
