{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :meta-job-args "job",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "1253",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/ae26877e20222f56e138f161670e622eee13f623",
  :build-version "1.10.598",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.598-dcc8e61c/clojurescript-1.10.598-dcc8e61c.jar",
  :github-release-tag "r1.10.598-dcc8e61c",
  :build-rev "dcc8e61c79bfc701fe9e1414fe5db93edf6f1853",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.598-dcc8e61c.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/dcc8e61c79bfc701fe9e1414fe5db93edf6f1853",
  :canary-job-commit-author-login "babot",
  :build-id "1.10.598-dcc8e61c",
  :github-release-name "ClojureScript 1.10.598-dcc8e61c",
  :canary-job-commit-author-avatar-url "https://avatars0.githubusercontent.com/u/1476765?v=4",
  :canary-job-commit-author-date "2020-01-13T11:02:05Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/636300431",
  :canary-job-commit "ae26877e20222f56e138f161670e622eee13f623",
  :canary-job-commit-author-name "BinaryAge Bot"},
 :timeout 1800000}
