{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :meta-job-args "job",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "1718",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/b4cb33737691d5fc5b7d701be2fbce6b33b99ce0",
  :build-version "1.10.837",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.837-afbc4874/clojurescript-1.10.837-afbc4874.jar",
  :github-release-tag "r1.10.837-afbc4874",
  :build-rev "afbc4874518e26b800386ba2927fa532b2df7d90",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.837-afbc4874.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/afbc4874518e26b800386ba2927fa532b2df7d90",
  :canary-job-commit-author-login "babot",
  :build-id "1.10.837-afbc4874",
  :github-release-name "ClojureScript 1.10.837-afbc4874",
  :canary-job-commit-author-avatar-url "https://avatars.githubusercontent.com/u/1476765?v=4",
  :canary-job-commit-author-date "2021-03-15T11:08:03Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/762948274",
  :canary-job-commit "b4cb33737691d5fc5b7d701be2fbce6b33b99ce0",
  :canary-job-commit-author-name "BinaryAge Bot"},
 :timeout 1800000}
