{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :meta-job-args "job --only chromex",
 :only "chromex",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "1043",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/79f2499835276071e581393a4b704870d3441797",
  :build-version "1.10.571",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.571-3f5a60a3/clojurescript-1.10.571-3f5a60a3.jar",
  :github-release-tag "r1.10.571-3f5a60a3",
  :build-rev "3f5a60a31ac1aae9eb509da26249db51316c34e6",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.571-3f5a60a3.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/3f5a60a31ac1aae9eb509da26249db51316c34e6",
  :canary-job-commit-author-login "darwin",
  :build-id "1.10.571-3f5a60a3",
  :github-release-name "ClojureScript 1.10.571-3f5a60a3",
  :canary-job-commit-author-avatar-url "https://avatars1.githubusercontent.com/u/5453?v=4",
  :canary-job-commit-author-date "2019-08-03T11:12:17Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/567273214",
  :canary-job-commit "79f2499835276071e581393a4b704870d3441797",
  :canary-job-commit-author-name "Antonin Hildebrand"},
 :timeout 1800000}
