{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "750",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/9eab70398ad7d06cb7c1d81d89979820073cb5cd",
  :build-version "1.10.503",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.503-e0d499c/clojurescript-1.10.503-e0d499c.jar",
  :github-release-tag "r1.10.503-e0d499c",
  :build-rev "e0d499c8f5cd3cb5208f11dbcb953d76a06863ca",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.503-e0d499c.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/e0d499c8f5cd3cb5208f11dbcb953d76a06863ca",
  :build-id "1.10.503-e0d499c",
  :github-release-name "ClojureScript 1.10.503-e0d499c",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/474298857"},
 :timeout 1800000}
