{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "648",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/eb1b194bf2abd2021c99987671aeab7905f864ec",
  :build-version "1.10.438",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.438-e78d4fc/clojurescript-1.10.438-e78d4fc.jar",
  :github-release-tag "r1.10.438-e78d4fc",
  :build-rev "e78d4fc5b3cead6f4cec447c2daebda6eaa3489c",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.438-e78d4fc.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/e78d4fc5b3cead6f4cec447c2daebda6eaa3489c",
  :build-id "1.10.438-e78d4fc",
  :github-release-name "ClojureScript 1.10.438-e78d4fc",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/449706606"},
 :timeout 1800000}
