{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :meta-job-args "job",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "1638",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/14679f995a8244fb6d9a68c4baf6337b27467559",
  :build-version "1.10.825",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.825-5e88d338/clojurescript-1.10.825-5e88d338.jar",
  :github-release-tag "r1.10.825-5e88d338",
  :build-rev "5e88d3383e0f950c4de410d3d6ee11769f3714f4",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.825-5e88d338.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/5e88d3383e0f950c4de410d3d6ee11769f3714f4",
  :canary-job-commit-author-login "babot",
  :build-id "1.10.825-5e88d338",
  :github-release-name "ClojureScript 1.10.825-5e88d338",
  :canary-job-commit-author-avatar-url "https://avatars0.githubusercontent.com/u/1476765?v=4",
  :canary-job-commit-author-date "2020-12-24T11:14:44Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/751333190",
  :canary-job-commit "14679f995a8244fb6d9a68c4baf6337b27467559",
  :canary-job-commit-author-name "BinaryAge Bot"},
 :timeout 1800000}
