{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "CLJS-3005",
 :verbosity 0,
 :job-id "714",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/3c2ce94e4bae0f0a414dbba1a841ede1ff721cc6",
  :build-version "1.10.484",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.484-17eef7b/clojurescript-1.10.484-17eef7b.jar",
  :github-release-tag "r1.10.484-17eef7b",
  :build-rev "17eef7b05cec96eb361aa564efe5a197fe37ea0a",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.484-17eef7b.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/17eef7b05cec96eb361aa564efe5a197fe37ea0a",
  :build-id "1.10.484-17eef7b",
  :github-release-name "ClojureScript 1.10.484-17eef7b",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/464131365"},
 :timeout 1800000}
