{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "CLJS-2926",
 :verbosity 0,
 :job-id "605",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/178bce269a88d7b195583898de63eb003716e59e",
  :build-version "1.10.425",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.425-452a24b/clojurescript-1.10.425-452a24b.jar",
  :github-release-tag "r1.10.425-452a24b",
  :build-rev "452a24bfa68be3815cb2566fa20d71b7459e1459",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.425-452a24b.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/452a24bfa68be3815cb2566fa20d71b7459e1459",
  :build-id "1.10.425-452a24b",
  :github-release-name "ClojureScript 1.10.425-452a24b",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/437435068"},
 :timeout 1800000}
