{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :only "closurecomp",
 :rootdir "/canary",
 :compiler-rev "CLJS-2877",
 :verbosity 0,
 :job-id "548",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/aabb5a693eeed502ed8777e64fdf0b9ae2a595ad",
  :build-version "1.10.399",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.399-30939fc/clojurescript-1.10.399-30939fc.jar",
  :github-release-tag "r1.10.399-30939fc",
  :build-rev "30939fc9dacccfd808f4c4640a49d48f6ca3723f",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.399-30939fc.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/30939fc9dacccfd808f4c4640a49d48f6ca3723f",
  :build-id "1.10.399-30939fc",
  :github-release-name "ClojureScript 1.10.399-30939fc",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/422842751"},
 :timeout 1800000}
