{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "388",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/e15678c1677d0148cefff6a82f87ff679f36053c",
  :build-version "1.10.285",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.285-2e15a5c/clojurescript-1.10.285-2e15a5c.jar",
  :github-release-tag "r1.10.285-2e15a5c",
  :build-rev "2e15a5cc0d0e32265f86369c3ade17a445dee6cd",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.285-2e15a5c.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/2e15a5cc0d0e32265f86369c3ade17a445dee6cd",
  :build-id "1.10.285-2e15a5c",
  :github-release-name "ClojureScript 1.10.285-2e15a5c",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/380990004"},
 :timeout 1800000}
