{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :meta-job-args "job -c mfikes -r CLJS-3221",
 :rootdir "/canary",
 :compiler-rev "CLJS-3221",
 :verbosity 0,
 :job-id "1364",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/d3299c80efa8cc513440dc5cd01df03e906693eb",
  :build-version "1.10.664",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.664-847366121/clojurescript-1.10.664-847366121.jar",
  :github-release-tag "r1.10.664-847366121",
  :build-rev "847366121eddff36657835daf653f100f1193ba0",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.664-847366121.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/847366121eddff36657835daf653f100f1193ba0",
  :canary-job-commit-author-login "mfikes",
  :build-id "1.10.664-847366121",
  :github-release-name "ClojureScript 1.10.664-847366121",
  :canary-job-commit-author-avatar-url "https://avatars1.githubusercontent.com/u/1723464?v=4",
  :canary-job-commit-author-date "2020-04-04T13:14:54Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/670931402",
  :canary-job-commit "d3299c80efa8cc513440dc5cd01df03e906693eb",
  :canary-job-commit-author-name "Mike Fikes"},
 :timeout 1800000}
