{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "331",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/215228f465ed6ade76053047e4a153133246367d",
  :build-version "1.10.244",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.244-875c42a/clojurescript-1.10.244-875c42a.jar",
  :github-release-tag "r1.10.244-875c42a",
  :build-rev "875c42a73f057d6e905a263b41869988348603be",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.244-875c42a.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/875c42a73f057d6e905a263b41869988348603be",
  :build-id "1.10.244-875c42a",
  :github-release-name "ClojureScript 1.10.244-875c42a",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/359300585"},
 :timeout 1800000}
