{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :meta-job-args "job -c mfikes -r CLJS-3181",
 :rootdir "/canary",
 :compiler-rev "CLJS-3181",
 :verbosity 0,
 :job-id "1270",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/c6aee31956a42a44d6966e90bfbada7bc0c4eaae",
  :build-version "1.10.606",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.606-47dedf5cb/clojurescript-1.10.606-47dedf5cb.jar",
  :github-release-tag "r1.10.606-47dedf5cb",
  :build-rev "47dedf5cbfd7e8094b2478bed04328521de494f0",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.606-47dedf5cb.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/47dedf5cbfd7e8094b2478bed04328521de494f0",
  :canary-job-commit-author-login "mfikes",
  :build-id "1.10.606-47dedf5cb",
  :github-release-name "ClojureScript 1.10.606-47dedf5cb",
  :canary-job-commit-author-avatar-url "https://avatars1.githubusercontent.com/u/1723464?v=4",
  :canary-job-commit-author-date "2020-01-29T22:09:55Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/643598389",
  :canary-job-commit "c6aee31956a42a44d6966e90bfbada7bc0c4eaae",
  :canary-job-commit-author-name "Mike Fikes"},
 :timeout 1800000}
