({:name "chromex",
  :description "function chromex from canary/projects/binaryage.clj:7",
  :meta {:homepage "https://github.com/binaryage/chromex"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [binaryage/chromex#1743](https://travis-ci.org/binaryage/chromex/builds/595953913)<br>"}}
 {:name "clara-rules",
  :description "function clara-rules from canary/projects/chkup.clj:4",
  :meta {:homepage "https://github.com/cerner/clara-rules"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/clara-rules#628](https://travis-ci.org/chkup/clara-rules/builds/595953917)<br>"}}
 {:name "cljs-bean",
  :description "function cljs-bean from canary/projects/mfikes.clj:27",
  :meta {:homepage "https://github.com/mfikes/cljs-bean"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [mfikes/cljs-bean#465](https://travis-ci.org/mfikes/cljs-bean/builds/595953919)<br>"}}
 {:name "cljs-devtools",
  :description "function cljs-devtools from canary/projects/binaryage.clj:4",
  :meta {:homepage "https://github.com/binaryage/cljs-devtools"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [binaryage/cljs-devtools#1314](https://travis-ci.org/binaryage/cljs-devtools/builds/595953923)<br>"}}
 {:name "cljs-oops",
  :description "function cljs-oops from canary/projects/binaryage.clj:10",
  :meta {:homepage "https://github.com/binaryage/cljs-oops"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [binaryage/cljs-oops#1198](https://travis-ci.org/binaryage/cljs-oops/builds/595953931)<br>"}}
 {:name "cljs-time",
  :description "function cljs-time from canary/projects/chkup.clj:49",
  :meta {:homepage "https://github.com/andrewmcveigh/cljs-time"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/cljs-time#86](https://travis-ci.org/chkup/cljs-time/builds/595953937)<br>"}}
 {:name "cljs-zones",
  :description "function cljs-zones from canary/projects/binaryage.clj:13",
  :meta {:homepage "https://github.com/binaryage/cljs-zones"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [binaryage/cljs-zones#830](https://travis-ci.org/binaryage/cljs-zones/builds/595953933)<br>"}}
 {:name "coal-mine",
  :description "function coal-mine from canary/projects/mfikes.clj:4",
  :meta {:homepage "https://github.com/mfikes/coal-mine"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [mfikes/coal-mine#2255](https://travis-ci.org/mfikes/coal-mine/builds/595953940)<br>"}}
 {:name "core-async",
  :description "function core-async from canary/projects/chkup.clj:37",
  :meta {:homepage "https://github.com/clojure/core.async"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/core.async#317](https://travis-ci.org/chkup/core.async/builds/595953984)<br>"}}
 {:name "core-logic",
  :description "function core-logic from canary/projects/chkup.clj:46",
  :meta {:homepage "https://github.com/clojure/core.logic"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/core.logic#316](https://travis-ci.org/chkup/core.logic/builds/595953992)<br>"}}
 {:name "core-match",
  :description "function core-match from canary/projects/chkup.clj:43",
  :meta {:homepage "https://github.com/clojure/core.match"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/core.match#313](https://travis-ci.org/chkup/core.match/builds/595954012)<br>"}}
 {:name "core-rrb-vector",
  :description "function core-rrb-vector from canary/projects/chkup.clj:40",
  :meta {:homepage "https://github.com/clojure/core.rrb-vector"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/core.rrb-vector#313](https://travis-ci.org/chkup/core.rrb-vector/builds/595954030)<br>"}}
 {:name "cuerdas",
  :description "function cuerdas from canary/projects/chkup.clj:7",
  :meta {:homepage "https://github.com/funcool/cuerdas"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/cuerdas#641](https://travis-ci.org/chkup/cuerdas/builds/595954036)<br>"}}
 {:name "fulcro",
  :description "function fulcro from canary/projects/chkup.clj:10",
  :meta {:homepage "https://github.com/fulcrologic/fulcro"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/fulcro#630](https://travis-ci.org/chkup/fulcro/builds/595954104)<br>"}}
 {:name "garden",
  :description "function garden from canary/projects/chkup.clj:13",
  :meta {:homepage "https://github.com/noprompt/garden"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/garden#639](https://travis-ci.org/chkup/garden/builds/595954042)<br>"}}
 {:name "hoplon",
  :description "function hoplon from canary/projects/chkup.clj:16",
  :meta {:homepage "https://github.com/hoplon/hoplon"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/hoplon#628](https://travis-ci.org/chkup/hoplon/builds/595954100)<br>"}}
 {:name "ilk",
  :description "function ilk from canary/projects/mfikes.clj:24",
  :meta {:homepage "https://github.com/mfikes/ilk"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [mfikes/ilk#369](https://travis-ci.org/mfikes/ilk/builds/595954054)<br>"}}
 {:name "om",
  :description "function om from canary/projects/chkup.clj:19",
  :meta {:homepage "https://github.com/omcljs/om"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/om#638](https://travis-ci.org/chkup/om/builds/595954087)<br>"}}
 {:name "planck",
  :description "function planck from canary/projects/planck_repl.clj:4",
  :meta {:homepage "https://github.com/planck-repl/planck"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [planck-repl/planck#3629](https://travis-ci.org/planck-repl/planck/builds/595954136)<br>"}}
 {:name "re-frame",
  :description "function re-frame from canary/projects/chkup.clj:22",
  :meta {:homepage "https://github.com/Day8/re-frame"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/re-frame#659](https://travis-ci.org/chkup/re-frame/builds/595954106)<br>"}}
 {:name "reagent",
  :description "function reagent from canary/projects/chkup.clj:25",
  :meta {:homepage "https://github.com/reagent-project/reagent"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/reagent#632](https://travis-ci.org/chkup/reagent/builds/595954082)<br>"}}
 {:name "side-fx",
  :description "function side-fx from canary/projects/cljsrn.clj:4",
  :meta {:homepage "https://github.com/cljsrn/side-fx"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [cljsrn/side-fx#689](https://travis-ci.org/cljsrn/side-fx/builds/595954102)<br>"}}
 {:name "spec-tools",
  :description "function spec-tools from canary/projects/chkup.clj:28",
  :meta {:homepage "https://github.com/metosin/spec-tools"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/spec-tools#645](https://travis-ci.org/chkup/spec-tools/builds/595954089)<br>"}}
 {:name "specter",
  :description "function specter from canary/projects/chkup.clj:31",
  :meta {:homepage "https://github.com/nathanmarz/specter"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/specter#644](https://travis-ci.org/chkup/specter/builds/595954094)<br>"}}
 {:name "test-check",
  :description "function test-check from canary/projects/chkup.clj:34",
  :meta {:homepage "https://github.com/clojure/test.check"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/test.check#639](https://travis-ci.org/chkup/test.check/builds/595954140)<br>"}})
