{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :meta-job-args "job -c mfikes -r CLJS-3271",
 :rootdir "/canary",
 :compiler-rev "CLJS-3271",
 :verbosity 0,
 :job-id "1481",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/0c0491b1c082db958ac0b730a3d4392bfe376abd",
  :build-version "1.10.814",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.814-564b55dc3/clojurescript-1.10.814-564b55dc3.jar",
  :github-release-tag "r1.10.814-564b55dc3",
  :build-rev "564b55dc320b0491103801da45fb10561d62368d",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.814-564b55dc3.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/564b55dc320b0491103801da45fb10561d62368d",
  :canary-job-commit-author-login "mfikes",
  :build-id "1.10.814-564b55dc3",
  :github-release-name "ClojureScript 1.10.814-564b55dc3",
  :canary-job-commit-author-avatar-url "https://avatars1.githubusercontent.com/u/1723464?v=4",
  :canary-job-commit-author-date "2020-07-25T19:58:39Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/711799674",
  :canary-job-commit "0c0491b1c082db958ac0b730a3d4392bfe376abd",
  :canary-job-commit-author-name "Mike Fikes"},
 :timeout 1800000}
