{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "patch-tender-2018-10-06T15",
 :verbosity 0,
 :job-id "608",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/39e88920d35626cfd4c9cbc44b450891ca04ba1a",
  :build-version "1.10.467",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.467-1d34f08/clojurescript-1.10.467-1d34f08.jar",
  :github-release-tag "r1.10.467-1d34f08",
  :build-rev "1d34f08fbbe8eddd3ef2161e23d4ce52564f450f",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.467-1d34f08.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/1d34f08fbbe8eddd3ef2161e23d4ce52564f450f",
  :build-id "1.10.467-1d34f08",
  :github-release-name "ClojureScript 1.10.467-1d34f08",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/438029234"},
 :timeout 1800000}
