{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "CLJS-2916",
 :verbosity 0,
 :job-id "584",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/6172e9c8f4e766d8e98efd146cf6c49265ed5809",
  :build-version "1.10.422",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.422-a468764/clojurescript-1.10.422-a468764.jar",
  :github-release-tag "r1.10.422-a468764",
  :build-rev "a4687648234b15ca74ff700e9c8c1cc7985f4080",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.422-a468764.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/a4687648234b15ca74ff700e9c8c1cc7985f4080",
  :build-id "1.10.422-a468764",
  :github-release-name "ClojureScript 1.10.422-a468764",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/430778291"},
 :timeout 1800000}
