{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :meta-job-args "job -c mfikes -r CLJS-3278",
 :rootdir "/canary",
 :compiler-rev "CLJS-3278",
 :verbosity 0,
 :job-id "1497",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/6669417c7e143861ceb5621ca32041ab10d5bacf",
  :build-version "1.10.821",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.821-9e70fa397/clojurescript-1.10.821-9e70fa397.jar",
  :github-release-tag "r1.10.821-9e70fa397",
  :build-rev "9e70fa3971009652766d360bd0d23aa9c863457b",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.821-9e70fa397.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/9e70fa3971009652766d360bd0d23aa9c863457b",
  :canary-job-commit-author-login "mfikes",
  :build-id "1.10.821-9e70fa397",
  :github-release-name "ClojureScript 1.10.821-9e70fa397",
  :canary-job-commit-author-avatar-url "https://avatars1.githubusercontent.com/u/1723464?v=4",
  :canary-job-commit-author-date "2020-08-10T00:34:06Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/716407254",
  :canary-job-commit "6669417c7e143861ceb5621ca32041ab10d5bacf",
  :canary-job-commit-author-name "Mike Fikes"},
 :timeout 1800000}
