{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "CLJS-2880",
 :verbosity 0,
 :job-id "982",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/f80e5b3cf6663ce031c37a54fcc8a70e626b7866",
  :build-version "1.10.546",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.546-31a5e86e/clojurescript-1.10.546-31a5e86e.jar",
  :github-release-tag "r1.10.546-31a5e86e",
  :build-rev "31a5e86e10b08569b4652f61d1c9fc54c4f3eb8f",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.546-31a5e86e.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/31a5e86e10b08569b4652f61d1c9fc54c4f3eb8f",
  :build-id "1.10.546-31a5e86e",
  :github-release-name "ClojureScript 1.10.546-31a5e86e",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/548343271"},
 :timeout 1800000}
