{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :meta-job-args "job",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "1776",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/8ed3cb21097681c05aef79c74bc6b406eb6ba22e",
  :build-version "1.10.857",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.857-d82b10a9/clojurescript-1.10.857-d82b10a9.jar",
  :github-release-tag "r1.10.857-d82b10a9",
  :build-rev "d82b10a904eb0d4b066e62bd6c1c6509eb3d91d8",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.857-d82b10a9.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/d82b10a904eb0d4b066e62bd6c1c6509eb3d91d8",
  :canary-job-commit-author-login "babot",
  :build-id "1.10.857-d82b10a9",
  :github-release-name "ClojureScript 1.10.857-d82b10a9",
  :canary-job-commit-author-avatar-url "https://avatars.githubusercontent.com/u/1476765?v=4",
  :canary-job-commit-author-date "2021-05-12T11:09:21Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/770900596",
  :canary-job-commit "8ed3cb21097681c05aef79c74bc6b406eb6ba22e",
  :canary-job-commit-author-name "BinaryAge Bot"},
 :timeout 1800000}
