{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :meta-job-args "job -c mfikes -r CLJS-3185-2",
 :rootdir "/canary",
 :compiler-rev "CLJS-3185-2",
 :verbosity 0,
 :job-id "1167",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/fb1c9e29e9cdf65d91f24e678c1d534b6c74d441",
  :build-version "1.10.593",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.593-3471f42de/clojurescript-1.10.593-3471f42de.jar",
  :github-release-tag "r1.10.593-3471f42de",
  :build-rev "3471f42de0e7183e2dea44ccc1281df12d45e8e0",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.593-3471f42de.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/3471f42de0e7183e2dea44ccc1281df12d45e8e0",
  :canary-job-commit-author-login "mfikes",
  :build-id "1.10.593-3471f42de",
  :github-release-name "ClojureScript 1.10.593-3471f42de",
  :canary-job-commit-author-avatar-url "https://avatars1.githubusercontent.com/u/1723464?v=4",
  :canary-job-commit-author-date "2019-11-10T21:44:06Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/610070730",
  :canary-job-commit "fb1c9e29e9cdf65d91f24e678c1d534b6c74d441",
  :canary-job-commit-author-name "Mike Fikes"},
 :timeout 1800000}
