{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :meta-job-args "job",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "1759",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/5cc0d70c2da59d8191260a1513377d0300b8166c",
  :build-version "1.10.852",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.852-5b1a7f09/clojurescript-1.10.852-5b1a7f09.jar",
  :github-release-tag "r1.10.852-5b1a7f09",
  :build-rev "5b1a7f0914b5aa50aac2deb2fbfce4e595243f7d",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.852-5b1a7f09.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/5b1a7f0914b5aa50aac2deb2fbfce4e595243f7d",
  :canary-job-commit-author-login "babot",
  :build-id "1.10.852-5b1a7f09",
  :github-release-name "ClojureScript 1.10.852-5b1a7f09",
  :canary-job-commit-author-avatar-url "https://avatars.githubusercontent.com/u/1476765?v=4",
  :canary-job-commit-author-date "2021-04-25T11:11:24Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/768295684",
  :canary-job-commit "5cc0d70c2da59d8191260a1513377d0300b8166c",
  :canary-job-commit-author-name "BinaryAge Bot"},
 :timeout 1800000}
