{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "CLJS-2959",
 :verbosity 0,
 :job-id "651",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/54bc0808b6a02c47fca02d66a98fda478b59832e",
  :build-version "1.10.440",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.440-cb60721/clojurescript-1.10.440-cb60721.jar",
  :github-release-tag "r1.10.440-cb60721",
  :build-rev "cb6072105ee30832d5d60a69d70a384561e7421b",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.440-cb60721.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/cb6072105ee30832d5d60a69d70a384561e7421b",
  :build-id "1.10.440-cb60721",
  :github-release-name "ClojureScript 1.10.440-cb60721",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/450489575"},
 :timeout 1800000}
