{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :meta-job-args "job -c mfikes -r CLJS-3271 --only coal-mine",
 :only "coal-mine",
 :rootdir "/canary",
 :compiler-rev "CLJS-3271",
 :verbosity 0,
 :job-id "1479",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/b5767c8c5dbe89f132d0dadca587356ac4133d18",
  :build-version "1.10.815",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.815-d4d717943/clojurescript-1.10.815-d4d717943.jar",
  :github-release-tag "r1.10.815-d4d717943",
  :build-rev "d4d7179434748849a876c58d2a192962d0266f31",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.815-d4d717943.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/d4d7179434748849a876c58d2a192962d0266f31",
  :canary-job-commit-author-login "mfikes",
  :build-id "1.10.815-d4d717943",
  :github-release-name "ClojureScript 1.10.815-d4d717943",
  :canary-job-commit-author-avatar-url "https://avatars1.githubusercontent.com/u/1723464?v=4",
  :canary-job-commit-author-date "2020-07-25T17:56:12Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/711778009",
  :canary-job-commit "b5767c8c5dbe89f132d0dadca587356ac4133d18",
  :canary-job-commit-author-name "Mike Fikes"},
 :timeout 1800000}
