{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :meta-job-args "job",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "1784",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/1e2c9bf7a3131d5dbb33471e6d8b6ba38bdd3abd",
  :build-version "1.10.865",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.865-58e39cb5/clojurescript-1.10.865-58e39cb5.jar",
  :github-release-tag "r1.10.865-58e39cb5",
  :build-rev "58e39cb5f672ce7419955285bd78a71d4cbf595b",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.865-58e39cb5.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/58e39cb5f672ce7419955285bd78a71d4cbf595b",
  :canary-job-commit-author-login "mfikes",
  :build-id "1.10.865-58e39cb5",
  :github-release-name "ClojureScript 1.10.865-58e39cb5",
  :canary-job-commit-author-avatar-url "https://avatars.githubusercontent.com/u/1723464?v=4",
  :canary-job-commit-author-date "2021-05-19T19:16:58Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/771710120",
  :canary-job-commit "1e2c9bf7a3131d5dbb33471e6d8b6ba38bdd3abd",
  :canary-job-commit-author-name "Mike Fikes"},
 :timeout 1800000}
