{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "CLJS-2997",
 :verbosity 0,
 :job-id "701",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/993bf5ce458e28352ebe918a90de2332dbe91021",
  :build-version "1.10.477",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.477-b0e55f7/clojurescript-1.10.477-b0e55f7.jar",
  :github-release-tag "r1.10.477-b0e55f7",
  :build-rev "b0e55f73c873d75f19941a5fbdac4f20870a1f09",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.477-b0e55f7.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/b0e55f73c873d75f19941a5fbdac4f20870a1f09",
  :build-id "1.10.477-b0e55f7",
  :github-release-name "ClojureScript 1.10.477-b0e55f7",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/462275107"},
 :timeout 1800000}
