{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "CLJS-3034",
 :verbosity 0,
 :job-id "761",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/9091cb9b26c1e827a430c026882b38de3aa7f1e1",
  :build-version "1.10.507",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.507-fb1246c/clojurescript-1.10.507-fb1246c.jar",
  :github-release-tag "r1.10.507-fb1246c",
  :build-rev "fb1246c7cfcd9fa049db10d25306307104dd231f",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.507-fb1246c.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/fb1246c7cfcd9fa049db10d25306307104dd231f",
  :build-id "1.10.507-fb1246c",
  :github-release-name "ClojureScript 1.10.507-fb1246c",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/477152862"},
 :timeout 1800000}
