{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "CLJS-2995",
 :verbosity 0,
 :job-id "698",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/5338203578df813da8459a8e7120db8fb6f82b50",
  :build-version "1.10.469",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.469-6606401/clojurescript-1.10.469-6606401.jar",
  :github-release-tag "r1.10.469-6606401",
  :build-rev "660640131cf2e0384c23d3ef16625b456eb5b58d",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.469-6606401.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/660640131cf2e0384c23d3ef16625b456eb5b58d",
  :build-id "1.10.469-6606401",
  :github-release-name "ClojureScript 1.10.469-6606401",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/461771806"},
 :timeout 1800000}
