({:name "chromex",
  :description "function chromex from canary/projects/binaryage.clj:7",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :failed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:red'>&#x2717;</b> Travis build [binaryage/chromex#892](https://travis-ci.org/binaryage/chromex/builds/400678550)<br>"}}
 {:name "clara-rules",
  :description "function clara-rules from canary/projects/chkup.clj:4",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/clara-rules#19](https://travis-ci.org/chkup/clara-rules/builds/400678556)<br>"}}
 {:name "cljs-devtools",
  :description "function cljs-devtools from canary/projects/binaryage.clj:4",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [binaryage/cljs-devtools#693](https://travis-ci.org/binaryage/cljs-devtools/builds/400678559)<br>"}}
 {:name "cljs-oops",
  :description "function cljs-oops from canary/projects/binaryage.clj:10",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [binaryage/cljs-oops#563](https://travis-ci.org/binaryage/cljs-oops/builds/400678563)<br>"}}
 {:name "cljs-zones",
  :description "function cljs-zones from canary/projects/binaryage.clj:13",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [binaryage/cljs-zones#218](https://travis-ci.org/binaryage/cljs-zones/builds/400678565)<br>"}}
 {:name "closurecomp",
  :description "function closurecomp from canary/projects/mfikes.clj:16",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [mfikes/closurecomp#143](https://travis-ci.org/mfikes/closurecomp/builds/400678576)<br>"}}
 {:name "closurelib",
  :description "function closurelib from canary/projects/mfikes.clj:19",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [mfikes/closurelib#28](https://travis-ci.org/mfikes/closurelib/builds/400678578)<br>"}}
 {:name "coal-mine",
  :description "function coal-mine from canary/projects/mfikes.clj:4",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :failed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:red'>&#x2717;</b> Travis build [mfikes/coal-mine#1468](https://travis-ci.org/mfikes/coal-mine/builds/400678580)<br>"}}
 {:name "cuerdas",
  :description "function cuerdas from canary/projects/chkup.clj:7",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/cuerdas#32](https://travis-ci.org/chkup/cuerdas/builds/400678586)<br>"}}
 {:name "fulcro",
  :description "function fulcro from canary/projects/chkup.clj:10",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :failed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:red'>&#x2717;</b> Travis build [chkup/fulcro#20](https://travis-ci.org/chkup/fulcro/builds/400678588)<br>"}}
 {:name "garden",
  :description "function garden from canary/projects/chkup.clj:13",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/garden#30](https://travis-ci.org/chkup/garden/builds/400678590)<br>"}}
 {:name "hoplon",
  :description "function hoplon from canary/projects/chkup.clj:16",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/hoplon#17](https://travis-ci.org/chkup/hoplon/builds/400678592)<br>"}}
 {:name "om",
  :description "function om from canary/projects/chkup.clj:19",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/om#29](https://travis-ci.org/chkup/om/builds/400678594)<br>"}}
 {:name "planck",
  :description "function planck from canary/projects/planck_repl.clj:4",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [planck-repl/planck#2115](https://travis-ci.org/planck-repl/planck/builds/400678688)<br>"}}
 {:name "re-frame",
  :description "function re-frame from canary/projects/chkup.clj:22",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/re-frame#46](https://travis-ci.org/chkup/re-frame/builds/400678635)<br>"}}
 {:name "reagent",
  :description "function reagent from canary/projects/chkup.clj:25",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/reagent#23](https://travis-ci.org/chkup/reagent/builds/400678600)<br>"}}
 {:name "side-fx",
  :description "function side-fx from canary/projects/cljsrn.clj:4",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :failed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:red'>&#x2717;</b> Travis build [cljsrn/side-fx#78](https://travis-ci.org/cljsrn/side-fx/builds/400678612)<br>"}}
 {:name "spec-tools",
  :description "function spec-tools from canary/projects/chkup.clj:28",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/spec-tools#31](https://travis-ci.org/chkup/spec-tools/builds/400678645)<br>"}}
 {:name "specter",
  :description "function specter from canary/projects/chkup.clj:31",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/specter#34](https://travis-ci.org/chkup/specter/builds/400678640)<br>"}}
 {:name "test-check",
  :description "function test-check from canary/projects/chkup.clj:34",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/test.check#30](https://travis-ci.org/chkup/test.check/builds/400678656)<br>"}})
