{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :meta-job-args "job -c mfikes -r CLJS-3193",
 :rootdir "/canary",
 :compiler-rev "CLJS-3193",
 :verbosity 0,
 :job-id "1187",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/06448407f40a12d8d3b22b0c07e628e45e7ef581",
  :build-version "1.10.596",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.596-134469d73/clojurescript-1.10.596-134469d73.jar",
  :github-release-tag "r1.10.596-134469d73",
  :build-rev "134469d739dfce42805abac1dca0eca8053e824d",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.596-134469d73.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/134469d739dfce42805abac1dca0eca8053e824d",
  :canary-job-commit-author-login "mfikes",
  :build-id "1.10.596-134469d73",
  :github-release-name "ClojureScript 1.10.596-134469d73",
  :canary-job-commit-author-avatar-url "https://avatars1.githubusercontent.com/u/1723464?v=4",
  :canary-job-commit-author-date "2019-11-18T14:04:00Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/613519416",
  :canary-job-commit "06448407f40a12d8d3b22b0c07e628e45e7ef581",
  :canary-job-commit-author-name "Mike Fikes"},
 :timeout 1800000}
