{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :meta-job-args "job",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "1347",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/adaaf948337bcf4c90fa2e324a09138f0a5839b4",
  :build-version "1.10.624",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.624-20f34d85/clojurescript-1.10.624-20f34d85.jar",
  :github-release-tag "r1.10.624-20f34d85",
  :build-rev "20f34d8533f1fd324b0c34da96f49ac0a5574d5b",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.624-20f34d85.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/20f34d8533f1fd324b0c34da96f49ac0a5574d5b",
  :canary-job-commit-author-login "mfikes",
  :build-id "1.10.624-20f34d85",
  :github-release-name "ClojureScript 1.10.624-20f34d85",
  :canary-job-commit-author-avatar-url "https://avatars1.githubusercontent.com/u/1723464?v=4",
  :canary-job-commit-author-date "2020-03-28T01:31:31Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/667947532",
  :canary-job-commit "adaaf948337bcf4c90fa2e324a09138f0a5839b4",
  :canary-job-commit-author-name "Mike Fikes"},
 :timeout 1800000}
