{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :meta-job-args "job -c mfikes -r CLJS-3077",
 :rootdir "/canary",
 :compiler-rev "CLJS-3077",
 :verbosity 0,
 :job-id "1164",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/fdc649a0215f24372ca77011b5695ea79b71e1f7",
  :build-version "1.10.593",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.593-e01369f9e/clojurescript-1.10.593-e01369f9e.jar",
  :github-release-tag "r1.10.593-e01369f9e",
  :build-rev "e01369f9e4ff9521437a1b524969e32243cf5618",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.593-e01369f9e.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/e01369f9e4ff9521437a1b524969e32243cf5618",
  :canary-job-commit-author-login "mfikes",
  :build-id "1.10.593-e01369f9e",
  :github-release-name "ClojureScript 1.10.593-e01369f9e",
  :canary-job-commit-author-avatar-url "https://avatars1.githubusercontent.com/u/1723464?v=4",
  :canary-job-commit-author-date "2019-11-09T16:34:09Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/609690540",
  :canary-job-commit "fdc649a0215f24372ca77011b5695ea79b71e1f7",
  :canary-job-commit-author-name "Mike Fikes"},
 :timeout 1800000}
