{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "CLJS-3030",
 :verbosity 0,
 :job-id "751",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/9e25981c7bee9b16d488f6a78f63d085f33ffaba",
  :build-version "1.10.505",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.505-f58cc48/clojurescript-1.10.505-f58cc48.jar",
  :github-release-tag "r1.10.505-f58cc48",
  :build-rev "f58cc481f2a6f6ac0efc0bcdf7e6cd5714751839",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.505-f58cc48.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/f58cc481f2a6f6ac0efc0bcdf7e6cd5714751839",
  :build-id "1.10.505-f58cc48",
  :github-release-name "ClojureScript 1.10.505-f58cc48",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/475092994"},
 :timeout 1800000}
