{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "168",
 :polling-interval 300000,
 :production true,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:build-id "1.9.964-d98c00f",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.9.964-d98c00f.jar",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.9.964-d98c00f/clojurescript-1.9.964-d98c00f.jar",
  :github-release-name "ClojureScript 1.9.964-d98c00f",
  :github-release-tag "r1.9.964-d98c00f",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/d98c00ff4607b80d78787f7044346bd24b8fd6b5",
  :canary-job-commit-url "https://github.com/cljs-oss/canary/commit/a35b14bca9bf52a49fb8327d56e2e7a8044d908a",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/312817146"},
 :timeout 3600000}
