{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "960",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/9d2bd7e972d389dbb88d311f7450b5ae1c155378",
  :build-version "1.10.534",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.534-c4a51202/clojurescript-1.10.534-c4a51202.jar",
  :github-release-tag "r1.10.534-c4a51202",
  :build-rev "c4a5120294aa83b8f69d35ce10e5d03c951d99ea",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.534-c4a51202.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/c4a5120294aa83b8f69d35ce10e5d03c951d99ea",
  :build-id "1.10.534-c4a51202",
  :github-release-name "ClojureScript 1.10.534-c4a51202",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/542102680"},
 :timeout 1800000}
