{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :meta-job-args "job",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "1413",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/7eab8b95ea1b2f10aa4998df7fb3001a28628298",
  :build-version "1.10.770",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.770-5b1bdbae/clojurescript-1.10.770-5b1bdbae.jar",
  :github-release-tag "r1.10.770-5b1bdbae",
  :build-rev "5b1bdbae9ab44ce86015e5fc6c95ef5ac86ca9b9",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.770-5b1bdbae.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/5b1bdbae9ab44ce86015e5fc6c95ef5ac86ca9b9",
  :canary-job-commit-author-login "babot",
  :build-id "1.10.770-5b1bdbae",
  :github-release-name "ClojureScript 1.10.770-5b1bdbae",
  :canary-job-commit-author-avatar-url "https://avatars0.githubusercontent.com/u/1476765?v=4",
  :canary-job-commit-author-date "2020-05-21T11:02:37Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/689600831",
  :canary-job-commit "7eab8b95ea1b2f10aa4998df7fb3001a28628298",
  :canary-job-commit-author-name "BinaryAge Bot"},
 :timeout 1800000}
