{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :meta-job-args "job",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "1382",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/e24fa4447f41d8589541f8e8416953d674c1d173",
  :build-version "1.10.735",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.735-c3cbd807/clojurescript-1.10.735-c3cbd807.jar",
  :github-release-tag "r1.10.735-c3cbd807",
  :build-rev "c3cbd8077a2161ecb5593dedee79ddcfcbcb6615",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.735-c3cbd807.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/c3cbd8077a2161ecb5593dedee79ddcfcbcb6615",
  :canary-job-commit-author-login "babot",
  :build-id "1.10.735-c3cbd807",
  :github-release-name "ClojureScript 1.10.735-c3cbd807",
  :canary-job-commit-author-avatar-url "https://avatars0.githubusercontent.com/u/1476765?v=4",
  :canary-job-commit-author-date "2020-04-22T11:02:31Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/678112699",
  :canary-job-commit "e24fa4447f41d8589541f8e8416953d674c1d173",
  :canary-job-commit-author-name "BinaryAge Bot"},
 :timeout 1800000}
