({:name "chromex",
  :description "function chromex from canary/projects/binaryage.clj:7",
  :meta {:homepage "https://github.com/binaryage/chromex"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [binaryage/chromex#1340](https://travis-ci.org/binaryage/chromex/builds/494420082)<br>"}}
 {:name "clara-rules",
  :description "function clara-rules from canary/projects/chkup.clj:4",
  :meta {:homepage "https://github.com/cerner/clara-rules"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/clara-rules#341](https://travis-ci.org/chkup/clara-rules/builds/494420084)<br>"}}
 {:name "cljs-devtools",
  :description "function cljs-devtools from canary/projects/binaryage.clj:4",
  :meta {:homepage "https://github.com/binaryage/cljs-devtools"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [binaryage/cljs-devtools#1018](https://travis-ci.org/binaryage/cljs-devtools/builds/494420086)<br>"}}
 {:name "cljs-oops",
  :description "function cljs-oops from canary/projects/binaryage.clj:10",
  :meta {:homepage "https://github.com/binaryage/cljs-oops"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [binaryage/cljs-oops#902](https://travis-ci.org/binaryage/cljs-oops/builds/494420088)<br>"}}
 {:name "cljs-zones",
  :description "function cljs-zones from canary/projects/binaryage.clj:13",
  :meta {:homepage "https://github.com/binaryage/cljs-zones"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [binaryage/cljs-zones#540](https://travis-ci.org/binaryage/cljs-zones/builds/494420090)<br>"}}
 {:name "closurecomp",
  :description "function closurecomp from canary/projects/mfikes.clj:16",
  :meta {:homepage "https://github.com/mfikes/closurecomp"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :failed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:red'>&#x2717;</b> Travis build [mfikes/closurecomp#450](https://travis-ci.org/mfikes/closurecomp/builds/494420092)<br>"}}
 {:name "closurelib",
  :description "function closurelib from canary/projects/mfikes.clj:19",
  :meta {:homepage "https://github.com/mfikes/closurelib"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [mfikes/closurelib#354](https://travis-ci.org/mfikes/closurelib/builds/494420094)<br>"}}
 {:name "coal-mine",
  :description "function coal-mine from canary/projects/mfikes.clj:4",
  :meta {:homepage "https://github.com/mfikes/coal-mine"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [mfikes/coal-mine#1951](https://travis-ci.org/mfikes/coal-mine/builds/494420096)<br>"}}
 {:name "core-async",
  :description "function core-async from canary/projects/chkup.clj:37",
  :meta {:homepage "https://github.com/clojure/core.async"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/core.async#30](https://travis-ci.org/chkup/core.async/builds/494420102)<br>"}}
 {:name "core-logic",
  :description "function core-logic from canary/projects/chkup.clj:46",
  :meta {:homepage "https://github.com/clojure/core.logic"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/core.logic#28](https://travis-ci.org/chkup/core.logic/builds/494420111)<br>"}}
 {:name "core-match",
  :description "function core-match from canary/projects/chkup.clj:43",
  :meta {:homepage "https://github.com/clojure/core.match"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/core.match#26](https://travis-ci.org/chkup/core.match/builds/494420113)<br>"}}
 {:name "core-rrb-vector",
  :description "function core-rrb-vector from canary/projects/chkup.clj:40",
  :meta {:homepage "https://github.com/clojure/core.rrb-vector"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/core.rrb-vector#26](https://travis-ci.org/chkup/core.rrb-vector/builds/494420115)<br>"}}
 {:name "cuerdas",
  :description "function cuerdas from canary/projects/chkup.clj:7",
  :meta {:homepage "https://github.com/funcool/cuerdas"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/cuerdas#352](https://travis-ci.org/chkup/cuerdas/builds/494420117)<br>"}}
 {:name "fulcro",
  :description "function fulcro from canary/projects/chkup.clj:10",
  :meta {:homepage "https://github.com/fulcrologic/fulcro"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/fulcro#343](https://travis-ci.org/chkup/fulcro/builds/494420248)<br>"}}
 {:name "garden",
  :description "function garden from canary/projects/chkup.clj:13",
  :meta {:homepage "https://github.com/noprompt/garden"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/garden#351](https://travis-ci.org/chkup/garden/builds/494420157)<br>"}}
 {:name "hoplon",
  :description "function hoplon from canary/projects/chkup.clj:16",
  :meta {:homepage "https://github.com/hoplon/hoplon"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/hoplon#338](https://travis-ci.org/chkup/hoplon/builds/494420183)<br>"}}
 {:name "ilk",
  :description "function ilk from canary/projects/mfikes.clj:22",
  :meta {:homepage "https://github.com/mfikes/ilk"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [mfikes/ilk#76](https://travis-ci.org/mfikes/ilk/builds/494420167)<br>"}}
 {:name "om",
  :description "function om from canary/projects/chkup.clj:19",
  :meta {:homepage "https://github.com/omcljs/om"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/om#350](https://travis-ci.org/chkup/om/builds/494420196)<br>"}}
 {:name "planck",
  :description "function planck from canary/projects/planck_repl.clj:4",
  :meta {:homepage "https://github.com/planck-repl/planck"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [planck-repl/planck#2784](https://travis-ci.org/planck-repl/planck/builds/494420222)<br>"}}
 {:name "re-frame",
  :description "function re-frame from canary/projects/chkup.clj:22",
  :meta {:homepage "https://github.com/Day8/re-frame"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/re-frame#372](https://travis-ci.org/chkup/re-frame/builds/494420188)<br>"}}
 {:name "reagent",
  :description "function reagent from canary/projects/chkup.clj:25",
  :meta {:homepage "https://github.com/reagent-project/reagent"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/reagent#346](https://travis-ci.org/chkup/reagent/builds/494420279)<br>"}}
 {:name "side-fx",
  :description "function side-fx from canary/projects/cljsrn.clj:4",
  :meta {:homepage "https://github.com/cljsrn/side-fx"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [cljsrn/side-fx#401](https://travis-ci.org/cljsrn/side-fx/builds/494420204)<br>"}}
 {:name "spec-tools",
  :description "function spec-tools from canary/projects/chkup.clj:28",
  :meta {:homepage "https://github.com/metosin/spec-tools"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/spec-tools#355](https://travis-ci.org/chkup/spec-tools/builds/494420235)<br>"}}
 {:name "specter",
  :description "function specter from canary/projects/chkup.clj:31",
  :meta {:homepage "https://github.com/nathanmarz/specter"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/specter#355](https://travis-ci.org/chkup/specter/builds/494420255)<br>"}}
 {:name "test-check",
  :description "function test-check from canary/projects/chkup.clj:34",
  :meta {:homepage "https://github.com/clojure/test.check"},
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/test.check#351](https://travis-ci.org/chkup/test.check/builds/494420275)<br>"}})
