{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "283",
 :polling-interval 300000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/a6c365799ba9eb3b2724b5b7d4a173322a7e05b2",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.83-f18c318/clojurescript-1.10.83-f18c318.jar",
  :github-release-tag "r1.10.83-f18c318",
  :build-rev "f18c318882cd5699d34d1512564bc71e2a0b0235",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.83-f18c318.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/f18c318882cd5699d34d1512564bc71e2a0b0235",
  :build-id "1.10.83-f18c318",
  :github-release-name "ClojureScript 1.10.83-f18c318",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/347634314"},
 :timeout 3600000}
