{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "CLJS-3077",
 :verbosity 0,
 :job-id "950",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/0c84b7a0ca3b4b15bca438204d0485446d1d7938",
  :build-version "1.10.529",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.529-068ac34a/clojurescript-1.10.529-068ac34a.jar",
  :github-release-tag "r1.10.529-068ac34a",
  :build-rev "068ac34ac1e62226e6a6a9a6474692225b28b85f",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.529-068ac34a.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/068ac34ac1e62226e6a6a9a6474692225b28b85f",
  :build-id "1.10.529-068ac34a",
  :github-release-name "ClojureScript 1.10.529-068ac34a",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/538691164"},
 :timeout 1800000}
