{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "663",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/aac0db2bd87fc3610cdf447952b5a88d8a36d5f9",
  :build-version "1.10.439",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.439-39f47c3/clojurescript-1.10.439-39f47c3.jar",
  :github-release-tag "r1.10.439-39f47c3",
  :build-rev "39f47c3b840815d338b27bd864fb33115e73c24a",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.439-39f47c3.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/39f47c3b840815d338b27bd864fb33115e73c24a",
  :build-id "1.10.439-39f47c3",
  :github-release-name "ClojureScript 1.10.439-39f47c3",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/453819189"},
 :timeout 1800000}
