{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :meta-job-args "job -c mfikes -r CLJS-3147",
 :rootdir "/canary",
 :compiler-rev "CLJS-3147",
 :verbosity 0,
 :job-id "1037",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/a25f1b7804a58021567d18bef91a41269c4709af",
  :build-version "1.10.571",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.571-3f5a60a31/clojurescript-1.10.571-3f5a60a31.jar",
  :github-release-tag "r1.10.571-3f5a60a31",
  :build-rev "3f5a60a31ac1aae9eb509da26249db51316c34e6",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.571-3f5a60a31.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/3f5a60a31ac1aae9eb509da26249db51316c34e6",
  :canary-job-commit-author-login "mfikes",
  :build-id "1.10.571-3f5a60a31",
  :github-release-name "ClojureScript 1.10.571-3f5a60a31",
  :canary-job-commit-author-avatar-url "https://avatars1.githubusercontent.com/u/1723464?v=4",
  :canary-job-commit-author-date "2019-07-30T02:07:49Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/565270748",
  :canary-job-commit "a25f1b7804a58021567d18bef91a41269c4709af",
  :canary-job-commit-author-name "Mike Fikes"},
 :timeout 1800000}
