{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "399",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/73cc5742d763feaa9b58514930b16ef67c57d925",
  :build-version "1.10.288",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.288-2ad1470/clojurescript-1.10.288-2ad1470.jar",
  :github-release-tag "r1.10.288-2ad1470",
  :build-rev "2ad14709f390e4427b30a8ec86eeb05872e5e52c",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.288-2ad1470.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/2ad14709f390e4427b30a8ec86eeb05872e5e52c",
  :build-id "1.10.288-2ad1470",
  :github-release-name "ClojureScript 1.10.288-2ad1470",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/385532629"},
 :timeout 1800000}
