{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "CLJS-1776",
 :verbosity 0,
 :job-id "915",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/5b228372b884965ed3fcb5151b23bfec90f4cb17",
  :build-version "1.10.529",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.529-23d58e44/clojurescript-1.10.529-23d58e44.jar",
  :github-release-tag "r1.10.529-23d58e44",
  :build-rev "23d58e4403e9b8b2cdde5d04721081d1ef10a128",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.529-23d58e44.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/23d58e4403e9b8b2cdde5d04721081d1ef10a128",
  :build-id "1.10.529-23d58e44",
  :github-release-name "ClojureScript 1.10.529-23d58e44",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/531397489"},
 :timeout 1800000}
