{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :only "reagent",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "442",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/c6ef7475e15e19d4557a6711ca4776af5f521765",
  :build-version "1.10.333",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.333-a7c0899/clojurescript-1.10.333-a7c0899.jar",
  :github-release-tag "r1.10.333-a7c0899",
  :build-rev "a7c0899e073b0f8427e293d0fcb677f33c8d3ea9",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.333-a7c0899.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/a7c0899e073b0f8427e293d0fcb677f33c8d3ea9",
  :build-id "1.10.333-a7c0899",
  :github-release-name "ClojureScript 1.10.333-a7c0899",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/396071376"},
 :timeout 1800000}
