{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "571",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/4319cfa0a1ff588e1c21acf020198f7450376ee9",
  :build-version "1.10.416",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.416-9e1ff22/clojurescript-1.10.416-9e1ff22.jar",
  :github-release-tag "r1.10.416-9e1ff22",
  :build-rev "9e1ff2232da00dcda7fb495784e7d5a1d72573a7",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.416-9e1ff22.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/9e1ff2232da00dcda7fb495784e7d5a1d72573a7",
  :build-id "1.10.416-9e1ff22",
  :github-release-name "ClojureScript 1.10.416-9e1ff22",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/428012488"},
 :timeout 1800000}
