{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :meta-job-args "job",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "1720",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/858c69fc164d9275602e3d520341153687be8821",
  :build-version "1.10.843",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.843-3fdaabed/clojurescript-1.10.843-3fdaabed.jar",
  :github-release-tag "r1.10.843-3fdaabed",
  :build-rev "3fdaabedb1343f434b6cb4f75fa28e748f96eff0",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.843-3fdaabed.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/3fdaabedb1343f434b6cb4f75fa28e748f96eff0",
  :canary-job-commit-author-login "babot",
  :build-id "1.10.843-3fdaabed",
  :github-release-name "ClojureScript 1.10.843-3fdaabed",
  :canary-job-commit-author-avatar-url "https://avatars.githubusercontent.com/u/1476765?v=4",
  :canary-job-commit-author-date "2021-03-17T11:08:16Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/763247624",
  :canary-job-commit "858c69fc164d9275602e3d520341153687be8821",
  :canary-job-commit-author-name "BinaryAge Bot"},
 :timeout 1800000}
