{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "CLJS-3092",
 :verbosity 0,
 :job-id "941",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/f15e08999699b2515d404b95c3381fd3dc74f977",
  :build-version "1.10.531",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.531-cfe04d75/clojurescript-1.10.531-cfe04d75.jar",
  :github-release-tag "r1.10.531-cfe04d75",
  :build-rev "cfe04d75d53a8ef43fc7bd05a296d534bf759acc",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.531-cfe04d75.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/cfe04d75d53a8ef43fc7bd05a296d534bf759acc",
  :build-id "1.10.531-cfe04d75",
  :github-release-name "ClojureScript 1.10.531-cfe04d75",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/536440597"},
 :timeout 1800000}
