({:name "chromex",
  :description "function chromex from canary/projects/binaryage.clj:7",
  :enabled false,
  :enabled-reason "disabled because not matching --only or --include options"}
 {:name "cljs-devtools",
  :description "function cljs-devtools from canary/projects/binaryage.clj:4",
  :enabled false,
  :enabled-reason "disabled because not matching --only or --include options"}
 {:name "cljs-oops",
  :description "function cljs-oops from canary/projects/binaryage.clj:10",
  :enabled false,
  :enabled-reason "disabled because not matching --only or --include options"}
 {:name "cljs-zones",
  :description "function cljs-zones from canary/projects/binaryage.clj:16",
  :enabled false,
  :enabled-reason "disabled because not matching --only or --include options"}
 {:name "closurelatest",
  :description "function closurelatest from canary/projects/mfikes.clj:30",
  :enabled false,
  :enabled-reason "disabled because not matching --only or --include options"}
 {:name "coal-mine-1",
  :description "function coal-mine-1 from canary/projects/mfikes.clj:7",
  :enabled false,
  :enabled-reason "disabled because not matching --only or --include options"}
 {:name "coal-mine-2",
  :description "function coal-mine-2 from canary/projects/mfikes.clj:11",
  :enabled false,
  :enabled-reason "disabled because not matching --only or --include options"}
 {:name "coal-mine-3",
  :description "function coal-mine-3 from canary/projects/mfikes.clj:15",
  :enabled false,
  :enabled-reason "disabled because not matching --only or --include options"}
 {:name "coal-mine-4",
  :description "function coal-mine-4 from canary/projects/mfikes.clj:19",
  :enabled false,
  :enabled-reason "disabled because not matching --only or --include options"}
 {:name "coal-mine-5",
  :description "function coal-mine-5 from canary/projects/mfikes.clj:23",
  :enabled false,
  :enabled-reason "disabled because not matching --only or --include options"}
 {:name "cuerdas",
  :description "function cuerdas from canary/projects/chkup.clj:4",
  :enabled false,
  :enabled-reason "disabled because not matching --only or --include options"}
 {:name "env-config",
  :description "function env-config from canary/projects/binaryage.clj:13",
  :enabled false,
  :enabled-reason "disabled because not matching --only or --include options"}
 {:name "planck",
  :description "function planck from canary/projects/planck_repl.clj:4",
  :enabled false,
  :enabled-reason "disabled because not matching --only or --include options"}
 {:name "side-fx",
  :description "function side-fx from canary/projects/cljsrn.clj:4",
  :enabled false,
  :enabled-reason "disabled because not matching --only or --include options"}
 {:name "specter",
  :description "function specter from canary/projects/chkup.clj:7",
  :enabled false,
  :enabled-reason "disabled because not matching --only or --include options"}
 {:name "test-check",
  :description "function test-check from canary/projects/chkup.clj:10",
  :enabled true,
  :enabled-reason "enabled because matching --only 'test-check'",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [chkup/test.check#2](https://travis-ci.org/chkup/test.check/builds/393368295)<br>"}})
