{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :only "closurecomp",
 :rootdir "/canary",
 :compiler-rev "CLJS-2998",
 :verbosity 0,
 :job-id "703",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/db9bb1ea944957e5008f0e6ed3916017ffd70b4a",
  :build-version "1.10.470",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.470-9b31b9f/clojurescript-1.10.470-9b31b9f.jar",
  :github-release-tag "r1.10.470-9b31b9f",
  :build-rev "9b31b9f874061d2773eb7b64ae5fdb9219dcdcb4",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.470-9b31b9f.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/9b31b9f874061d2773eb7b64ae5fdb9219dcdcb4",
  :build-id "1.10.470-9b31b9f",
  :github-release-name "ClojureScript 1.10.470-9b31b9f",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/462306027"},
 :timeout 1800000}
