{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript",
 :rootdir "/canary",
 :compiler-rev "patch-tender-2018-07-19T17",
 :verbosity 0,
 :job-id "487",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/d7ce18bb89212dbd47b46853605b221bc9deee6e",
  :build-version "1.10.396",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.396-e6768a4/clojurescript-1.10.396-e6768a4.jar",
  :github-release-tag "r1.10.396-e6768a4",
  :build-rev "e6768a40b1c9929d7e86b259c0aa46ce39d69235",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.396-e6768a4.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/e6768a40b1c9929d7e86b259c0aa46ce39d69235",
  :build-id "1.10.396-e6768a4",
  :github-release-name "ClojureScript 1.10.396-e6768a4",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/405906956"},
 :timeout 1800000}
