{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :meta-job-args "job",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "1386",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/b9a00f15e367042b6ce57fe771ff5892427413e4",
  :build-version "1.10.744",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.744-6a6e4e30/clojurescript-1.10.744-6a6e4e30.jar",
  :github-release-tag "r1.10.744-6a6e4e30",
  :build-rev "6a6e4e30f14b38a20b383d38e89c1f2604803cf0",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.744-6a6e4e30.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/6a6e4e30f14b38a20b383d38e89c1f2604803cf0",
  :canary-job-commit-author-login "babot",
  :build-id "1.10.744-6a6e4e30",
  :github-release-name "ClojureScript 1.10.744-6a6e4e30",
  :canary-job-commit-author-avatar-url "https://avatars0.githubusercontent.com/u/1476765?v=4",
  :canary-job-commit-author-date "2020-04-26T11:02:15Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/679674622",
  :canary-job-commit "b9a00f15e367042b6ce57fe771ff5892427413e4",
  :canary-job-commit-author-name "BinaryAge Bot"},
 :timeout 1800000}
