{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :meta-job-args "job -c mfikes -r CLJS-3114",
 :rootdir "/canary",
 :compiler-rev "CLJS-3114",
 :verbosity 0,
 :job-id "1066",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/18a0f36d33d56537b9b59a347c5421c66e9b5a38",
  :build-version "1.10.573",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.573-317826448/clojurescript-1.10.573-317826448.jar",
  :github-release-tag "r1.10.573-317826448",
  :build-rev "3178264482a0d628c34aef0569a34177d8cf3311",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.573-317826448.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/3178264482a0d628c34aef0569a34177d8cf3311",
  :canary-job-commit-author-login "mfikes",
  :build-id "1.10.573-317826448",
  :github-release-name "ClojureScript 1.10.573-317826448",
  :canary-job-commit-author-avatar-url "https://avatars1.githubusercontent.com/u/1723464?v=4",
  :canary-job-commit-author-date "2019-08-20T02:40:13Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/574131297",
  :canary-job-commit "18a0f36d33d56537b9b59a347c5421c66e9b5a38",
  :canary-job-commit-author-name "Mike Fikes"},
 :timeout 1800000}
