{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "614",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/5c8b46071d58f7eccd70454222487b96c2376fef",
  :build-version "1.10.424",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.424-6eedd0a/clojurescript-1.10.424-6eedd0a.jar",
  :github-release-tag "r1.10.424-6eedd0a",
  :build-rev "6eedd0a08c49f7b0d4dcb30977b2fb38c90577bd",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.424-6eedd0a.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/6eedd0a08c49f7b0d4dcb30977b2fb38c90577bd",
  :build-id "1.10.424-6eedd0a",
  :github-release-name "ClojureScript 1.10.424-6eedd0a",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/439482193"},
 :timeout 1800000}
