{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :meta-job-args "job",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "1726",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/8006420332d9d0cc57e40180bf369cde97edf38e",
  :build-version "1.10.843",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.843-3fdaabed/clojurescript-1.10.843-3fdaabed.jar",
  :github-release-tag "r1.10.843-3fdaabed",
  :build-rev "3fdaabedb1343f434b6cb4f75fa28e748f96eff0",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.843-3fdaabed.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/3fdaabedb1343f434b6cb4f75fa28e748f96eff0",
  :canary-job-commit-author-login "babot",
  :build-id "1.10.843-3fdaabed",
  :github-release-name "ClojureScript 1.10.843-3fdaabed",
  :canary-job-commit-author-avatar-url "https://avatars.githubusercontent.com/u/1476765?v=4",
  :canary-job-commit-author-date "2021-03-23T11:08:09Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/764080109",
  :canary-job-commit "8006420332d9d0cc57e40180bf369cde97edf38e",
  :canary-job-commit-author-name "BinaryAge Bot"},
 :timeout 1800000}
