{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "CLJS-2912",
 :verbosity 0,
 :job-id "578",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/11dd1380b70b115f1df7bfc9d8172a31d70f659a",
  :build-version "1.10.422",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.422-277907a/clojurescript-1.10.422-277907a.jar",
  :github-release-tag "r1.10.422-277907a",
  :build-rev "277907aa6f1296912fd92454288253cec6f9d330",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.422-277907a.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/277907aa6f1296912fd92454288253cec6f9d330",
  :build-id "1.10.422-277907a",
  :github-release-name "ClojureScript 1.10.422-277907a",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/429341139"},
 :timeout 1800000}
