{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "CLJS-2386",
 :verbosity 0,
 :job-id "765",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/22ca1e7b681bbbc05d665fe2a97d89dcc06e4bd9",
  :build-version "1.10.469",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.469-4e1a5f8/clojurescript-1.10.469-4e1a5f8.jar",
  :github-release-tag "r1.10.469-4e1a5f8",
  :build-rev "4e1a5f88976452fd2efbb425ab9bf552bfdf454c",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.469-4e1a5f8.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/4e1a5f88976452fd2efbb425ab9bf552bfdf454c",
  :build-id "1.10.469-4e1a5f8",
  :github-release-name "ClojureScript 1.10.469-4e1a5f8",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/477491378"},
 :timeout 1800000}
