{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "CLJS-1297",
 :verbosity 0,
 :job-id "595",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/719a1a57d39d9873705cc5e35fa5467ebabee0c2",
  :build-version "1.10.423",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.423-e847c5b/clojurescript-1.10.423-e847c5b.jar",
  :github-release-tag "r1.10.423-e847c5b",
  :build-rev "e847c5bc9cf367c0215aedbbdbdfe6cadd97ce6c",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.423-e847c5b.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/e847c5bc9cf367c0215aedbbdbdfe6cadd97ce6c",
  :build-id "1.10.423-e847c5b",
  :github-release-name "ClojureScript 1.10.423-e847c5b",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/434290626"},
 :timeout 1800000}
