{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "CLJS-1888",
 :verbosity 0,
 :job-id "697",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/2c4b88350130fb5321f3fa260de1c51413088892",
  :build-version "1.10.469",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.469-240fc1b/clojurescript-1.10.469-240fc1b.jar",
  :github-release-tag "r1.10.469-240fc1b",
  :build-rev "240fc1b35b9e0efb038f88a82f3685f7aed67a07",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.469-240fc1b.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/240fc1b35b9e0efb038f88a82f3685f7aed67a07",
  :build-id "1.10.469-240fc1b",
  :github-release-name "ClojureScript 1.10.469-240fc1b",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/461752218"},
 :timeout 1800000}
