{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "505",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/e5c38d3151e20b3fe0ccb74b18941f8cb3dedff5",
  :build-version "1.10.373",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.373-3123aa3/clojurescript-1.10.373-3123aa3.jar",
  :github-release-tag "r1.10.373-3123aa3",
  :build-rev "3123aa32851c01682cf076e0e3b497e890b26922",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.373-3123aa3.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/3123aa32851c01682cf076e0e3b497e890b26922",
  :build-id "1.10.373-3123aa3",
  :github-release-name "ClojureScript 1.10.373-3123aa3",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/410652409"},
 :timeout 1800000}
