({:name "chromex",
  :description "function chromex from canary/projects/binaryage.clj:7",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [binaryage/chromex#745](https://travis-ci.org/binaryage/chromex/builds/362966310)<br>"}}
 {:name "cljs-devtools",
  :description "function cljs-devtools from canary/projects/binaryage.clj:4",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [binaryage/cljs-devtools#591](https://travis-ci.org/binaryage/cljs-devtools/builds/362966313)<br>"}}
 {:name "cljs-oops",
  :description "function cljs-oops from canary/projects/binaryage.clj:10",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [binaryage/cljs-oops#450](https://travis-ci.org/binaryage/cljs-oops/builds/362966315)<br>"}}
 {:name "cljs-zones",
  :description "function cljs-zones from canary/projects/binaryage.clj:16",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [binaryage/cljs-zones#116](https://travis-ci.org/binaryage/cljs-zones/builds/362966317)<br>"}}
 {:name "closure-latest",
  :description "function closure-latest from canary/projects/mfikes.clj:43",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [mfikes/closure-latest#28](https://travis-ci.org/mfikes/closure-latest/builds/362966325)<br>"}}
 {:name "coal-mine-1",
  :description "function coal-mine-1 from canary/projects/mfikes.clj:20",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [mfikes/coal-mine#952](https://travis-ci.org/mfikes/coal-mine/builds/362966327)<br>"}}
 {:name "coal-mine-2",
  :description "function coal-mine-2 from canary/projects/mfikes.clj:24",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [mfikes/coal-mine#953](https://travis-ci.org/mfikes/coal-mine/builds/362966329)<br>"}}
 {:name "coal-mine-3",
  :description "function coal-mine-3 from canary/projects/mfikes.clj:28",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [mfikes/coal-mine#954](https://travis-ci.org/mfikes/coal-mine/builds/362966331)<br>"}}
 {:name "coal-mine-4",
  :description "function coal-mine-4 from canary/projects/mfikes.clj:32",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [mfikes/coal-mine#955](https://travis-ci.org/mfikes/coal-mine/builds/362966333)<br>"}}
 {:name "coal-mine-5",
  :description "function coal-mine-5 from canary/projects/mfikes.clj:36",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [mfikes/coal-mine#956](https://travis-ci.org/mfikes/coal-mine/builds/362966343)<br>"}}
 {:name "env-config",
  :description "function env-config from canary/projects/binaryage.clj:13",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [binaryage/env-config#141](https://travis-ci.org/binaryage/env-config/builds/362966345)<br>"}}
 {:name "lumo",
  :description "function lumo from canary/projects/lumo.clj:4",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :failed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:red'>&#x2717;</b> Travis build [anmonteiro/lumo#1049](https://travis-ci.org/anmonteiro/lumo/builds/362966347)<br>"}}
 {:name "planck",
  :description "function planck from canary/projects/mfikes.clj:4",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [mfikes/planck#1765](https://travis-ci.org/mfikes/planck/builds/362966351)<br>"}})
