{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :meta-job-args "job -c mfikes -r CLJS-2823",
 :rootdir "/canary",
 :compiler-rev "CLJS-2823",
 :verbosity 0,
 :job-id "1061",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/5bbe62edc8fff0b5387b3337540d4cca4dc583f5",
  :build-version "1.10.573",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.573-faec20acc/clojurescript-1.10.573-faec20acc.jar",
  :github-release-tag "r1.10.573-faec20acc",
  :build-rev "faec20acc5bbc2962480690f4f4b4222af1be91e",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.573-faec20acc.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/faec20acc5bbc2962480690f4f4b4222af1be91e",
  :canary-job-commit-author-login "mfikes",
  :build-id "1.10.573-faec20acc",
  :github-release-name "ClojureScript 1.10.573-faec20acc",
  :canary-job-commit-author-avatar-url "https://avatars1.githubusercontent.com/u/1723464?v=4",
  :canary-job-commit-author-date "2019-08-19T21:05:05Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/574032871",
  :canary-job-commit "5bbe62edc8fff0b5387b3337540d4cca4dc583f5",
  :canary-job-commit-author-name "Mike Fikes"},
 :timeout 1800000}
