{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "CLJS-2886-B",
 :verbosity 0,
 :job-id "877",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/b947f1737fcc238bbb97df02c75b3a9db9697414",
  :build-version "1.10.526",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.526-87d0681/clojurescript-1.10.526-87d0681.jar",
  :github-release-tag "r1.10.526-87d0681",
  :build-rev "87d06815525860fdb119246f5af4500fe21ecc21",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.526-87d0681.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/87d06815525860fdb119246f5af4500fe21ecc21",
  :build-id "1.10.526-87d0681",
  :github-release-name "ClojureScript 1.10.526-87d0681",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/520561864"},
 :timeout 1800000}
