{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "403",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/001e47b7d8e9a7c46062976a3f44b2c43bec965e",
  :build-version "1.10.294",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.294-72e99c5/clojurescript-1.10.294-72e99c5.jar",
  :github-release-tag "r1.10.294-72e99c5",
  :build-rev "72e99c5d6f7164153cf6cf5613704ea342bde8da",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.294-72e99c5.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/72e99c5d6f7164153cf6cf5613704ea342bde8da",
  :build-id "1.10.294-72e99c5",
  :github-release-name "ClojureScript 1.10.294-72e99c5",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/387313843"},
 :timeout 1800000}
