{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "CLJS-3133",
 :verbosity 0,
 :job-id "1006",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/8d72d807ecb6bdd6b4b33e0afebe99aba6b81e38",
  :build-version "1.10.557",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.557-dffde420/clojurescript-1.10.557-dffde420.jar",
  :github-release-tag "r1.10.557-dffde420",
  :build-rev "dffde420878a2c92853a635c36105002bc6bc22e",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.557-dffde420.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/dffde420878a2c92853a635c36105002bc6bc22e",
  :build-id "1.10.557-dffde420",
  :github-release-name "ClojureScript 1.10.557-dffde420",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/555521487"},
 :timeout 1800000}
