{:projects "/runner/src/canary/projects",
 :compiler-repo "https://github.com/darwin/clojurescript.git",
 :only "planck",
 :compiler-rev "canary",
 :verbosity 0,
 :job-id "48",
 :polling-interval 300000,
 :production true,
 :cachedir "/runner/.cachedir",
 :workdir "/runner/.workdir",
 :build-result
 {:canary-job-commit-url
  "https://github.com/cljs-oss/canary/commit/57a0611ae7bd3ecc1814e308baf14c695a0c6c38",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.9.815-b6e2669/clojurescript-1.9.815-b6e2669.jar",
  :github-release-tag "r1.9.815-b6e2669",
  :build-jar-path "/runner/.workdir/clojurescript-1.9.815-b6e2669.jar",
  :compiler-rev-url
  "https://github.com/darwin/clojurescript/commit/b6e2669ca198c1a6e0f9b399e6487d1e57646f25",
  :build-id "1.9.815-b6e2669",
  :github-release-name "ClojureScript 1.9.815-b6e2669",
  :github-release-id "7057739",
  :travis-build-url
  "https://travis-ci.org/cljs-oss/canary/builds/254258397"},
 :timeout 3600000}
