{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :only "fulcro",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "447",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/83f1eeff4b56c89000fe0b18162878f839e6fd19",
  :build-version "1.10.338",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.338-b2b13e3/clojurescript-1.10.338-b2b13e3.jar",
  :github-release-tag "r1.10.338-b2b13e3",
  :build-rev "b2b13e370545d2eac661caab1a54b42a33d27ee9",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.338-b2b13e3.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/b2b13e370545d2eac661caab1a54b42a33d27ee9",
  :build-id "1.10.338-b2b13e3",
  :github-release-name "ClojureScript 1.10.338-b2b13e3",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/396419023"},
 :timeout 1800000}
