{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :meta-job-args "job -c mfikes -r CLJS-3150",
 :rootdir "/canary",
 :compiler-rev "CLJS-3150",
 :verbosity 0,
 :job-id "1065",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/bf825524a48b4034d189a2851a97ae5c57fb556f",
  :build-version "1.10.573",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.573-3fa7c4459/clojurescript-1.10.573-3fa7c4459.jar",
  :github-release-tag "r1.10.573-3fa7c4459",
  :build-rev "3fa7c445971461df91567c0f8797c610934c9436",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.573-3fa7c4459.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/3fa7c445971461df91567c0f8797c610934c9436",
  :canary-job-commit-author-login "mfikes",
  :build-id "1.10.573-3fa7c4459",
  :github-release-name "ClojureScript 1.10.573-3fa7c4459",
  :canary-job-commit-author-avatar-url "https://avatars1.githubusercontent.com/u/1723464?v=4",
  :canary-job-commit-author-date "2019-08-20T02:08:42Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/574124732",
  :canary-job-commit "bf825524a48b4034d189a2851a97ae5c57fb556f",
  :canary-job-commit-author-name "Mike Fikes"},
 :timeout 1800000}
