{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "688",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/efe2f60a1a127ae319d9fa563ec1625d984ab083",
  :build-version "1.10.458",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.458-f97d766/clojurescript-1.10.458-f97d766.jar",
  :github-release-tag "r1.10.458-f97d766",
  :build-rev "f97d766defd02f7d43abd37e3e9b04790a521b1e",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.458-f97d766.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/f97d766defd02f7d43abd37e3e9b04790a521b1e",
  :build-id "1.10.458-f97d766",
  :github-release-name "ClojureScript 1.10.458-f97d766",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/459329077"},
 :timeout 1800000}
