{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "413",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/43f15d539722260b8d93c1d7c0593fc4b8729b57",
  :build-version "1.10.302",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.302-00b8dea/clojurescript-1.10.302-00b8dea.jar",
  :github-release-tag "r1.10.302-00b8dea",
  :build-rev "00b8dea4b373f367ef23dd7b8913c79b26e2fa94",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.302-00b8dea.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/00b8dea4b373f367ef23dd7b8913c79b26e2fa94",
  :build-id "1.10.302-00b8dea",
  :github-release-name "ClojureScript 1.10.302-00b8dea",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/391597407"},
 :timeout 1800000}
