{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "CLJS-3095",
 :verbosity 0,
 :job-id "948",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/29bfd38808ef426a8373747c768e3a99440dfe05",
  :build-version "1.10.534",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.534-14034c51/clojurescript-1.10.534-14034c51.jar",
  :github-release-tag "r1.10.534-14034c51",
  :build-rev "14034c51d80299d0343414bfc070e158f692ed63",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.534-14034c51.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/14034c51d80299d0343414bfc070e158f692ed63",
  :build-id "1.10.534-14034c51",
  :github-release-name "ClojureScript 1.10.534-14034c51",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/538539199"},
 :timeout 1800000}
