{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "482",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/394f91bb50b1873c103c00ff5839d6cafd875e1f",
  :build-version "1.10.366",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.366-17b7146/clojurescript-1.10.366-17b7146.jar",
  :github-release-tag "r1.10.366-17b7146",
  :build-rev "17b71461ee6304e3696e397add1f4780525553fc",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.366-17b7146.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/17b71461ee6304e3696e397add1f4780525553fc",
  :build-id "1.10.366-17b7146",
  :github-release-name "ClojureScript 1.10.366-17b7146",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/404058283"},
 :timeout 1800000}
