{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "713",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/9b4b0af8b595d3073c03029560de7b4ed7829e12",
  :build-version "1.10.483",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.483-e523cfa/clojurescript-1.10.483-e523cfa.jar",
  :github-release-tag "r1.10.483-e523cfa",
  :build-rev "e523cfa290e9ceb30570f391c6586182fd08d01d",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.483-e523cfa.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/e523cfa290e9ceb30570f391c6586182fd08d01d",
  :build-id "1.10.483-e523cfa",
  :github-release-name "ClojureScript 1.10.483-e523cfa",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/463708274"},
 :timeout 1800000}
