{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :meta-job-args "job -c mfikes -r CLJS-3102",
 :rootdir "/canary",
 :compiler-rev "CLJS-3102",
 :verbosity 0,
 :job-id "1071",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/4c0277fbc6fd5227f72a8b138369002af733818b",
  :build-version "1.10.573",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.573-9a194eb8c/clojurescript-1.10.573-9a194eb8c.jar",
  :github-release-tag "r1.10.573-9a194eb8c",
  :build-rev "9a194eb8c1853a5f8b474205978cd1adaa00e604",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.573-9a194eb8c.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/9a194eb8c1853a5f8b474205978cd1adaa00e604",
  :canary-job-commit-author-login "mfikes",
  :build-id "1.10.573-9a194eb8c",
  :github-release-name "ClojureScript 1.10.573-9a194eb8c",
  :canary-job-commit-author-avatar-url "https://avatars1.githubusercontent.com/u/1723464?v=4",
  :canary-job-commit-author-date "2019-08-20T14:19:07Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/574385678",
  :canary-job-commit "4c0277fbc6fd5227f72a8b138369002af733818b",
  :canary-job-commit-author-name "Mike Fikes"},
 :timeout 1800000}
