{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :meta-job-args "job",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "1459",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/3edd091d0aafe54ba694f1171a171519289b13f6",
  :build-version "1.10.807",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.807-6691bae1/clojurescript-1.10.807-6691bae1.jar",
  :github-release-tag "r1.10.807-6691bae1",
  :build-rev "6691bae122a2159e04fcc2fbe56d14d8f6639a63",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.807-6691bae1.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/6691bae122a2159e04fcc2fbe56d14d8f6639a63",
  :canary-job-commit-author-login "babot",
  :build-id "1.10.807-6691bae1",
  :github-release-name "ClojureScript 1.10.807-6691bae1",
  :canary-job-commit-author-avatar-url "https://avatars0.githubusercontent.com/u/1476765?v=4",
  :canary-job-commit-author-date "2020-07-06T11:04:45Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/705359230",
  :canary-job-commit "3edd091d0aafe54ba694f1171a171519289b13f6",
  :canary-job-commit-author-name "BinaryAge Bot"},
 :timeout 1800000}
