{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "409",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/3abc9e86d0f8220306e2cd16b1ca4d7fde5c1096",
  :build-version "1.10.299",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.299-aab9710/clojurescript-1.10.299-aab9710.jar",
  :github-release-tag "r1.10.299-aab9710",
  :build-rev "aab9710a8b16b9c2c97c9ac4e87ae76824efbb67",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.299-aab9710.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/aab9710a8b16b9c2c97c9ac4e87ae76824efbb67",
  :build-id "1.10.299-aab9710",
  :github-release-name "ClojureScript 1.10.299-aab9710",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/390031158"},
 :timeout 1800000}
