{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :meta-job-args "job --only chromex",
 :only "chromex",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "1297",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/e3775b339aa156fe2411715ff3aec44881c45466",
  :build-version "1.10.605",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.605-6ab76973/clojurescript-1.10.605-6ab76973.jar",
  :github-release-tag "r1.10.605-6ab76973",
  :build-rev "6ab76973ab31033b2307f88a2ebc5ad9ebd5cf3e",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.605-6ab76973.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/6ab76973ab31033b2307f88a2ebc5ad9ebd5cf3e",
  :canary-job-commit-author-login "darwin",
  :build-id "1.10.605-6ab76973",
  :github-release-name "ClojureScript 1.10.605-6ab76973",
  :canary-job-commit-author-avatar-url "https://avatars1.githubusercontent.com/u/5453?v=4",
  :canary-job-commit-author-date "2020-02-23T12:15:32Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/654051323",
  :canary-job-commit "e3775b339aa156fe2411715ff3aec44881c45466",
  :canary-job-commit-author-name "Antonin Hildebrand"},
 :timeout 1800000}
