{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :meta-job-args "job -c mfikes -r CLJS-3069",
 :rootdir "/canary",
 :compiler-rev "CLJS-3069",
 :verbosity 0,
 :job-id "1062",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/80999bc968f46d18087a093962d7f0f1ae301d9f",
  :build-version "1.10.573",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.573-4e29b79df/clojurescript-1.10.573-4e29b79df.jar",
  :github-release-tag "r1.10.573-4e29b79df",
  :build-rev "4e29b79df1e4845847e0ffd2b16f6f88ea099ea2",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.573-4e29b79df.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/4e29b79df1e4845847e0ffd2b16f6f88ea099ea2",
  :canary-job-commit-author-login "mfikes",
  :build-id "1.10.573-4e29b79df",
  :github-release-name "ClojureScript 1.10.573-4e29b79df",
  :canary-job-commit-author-avatar-url "https://avatars1.githubusercontent.com/u/1723464?v=4",
  :canary-job-commit-author-date "2019-08-19T22:54:25Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/574075025",
  :canary-job-commit "80999bc968f46d18087a093962d7f0f1ae301d9f",
  :canary-job-commit-author-name "Mike Fikes"},
 :timeout 1800000}
