{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "942",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/6d6b3de0adcda3e3facbcc4a76c8315e6d39bfba",
  :build-version "1.10.530",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.530-e25ced97/clojurescript-1.10.530-e25ced97.jar",
  :github-release-tag "r1.10.530-e25ced97",
  :build-rev "e25ced97af3c15a87afcb15165508aa23e54a3fa",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.530-e25ced97.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/e25ced97af3c15a87afcb15165508aa23e54a3fa",
  :build-id "1.10.530-e25ced97",
  :github-release-name "ClojureScript 1.10.530-e25ced97",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/536625464"},
 :timeout 1800000}
