{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :meta-job-args "job",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "1366",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/d94d52c2f60d2ab127cfac4bfb22563a9e4232c6",
  :build-version "1.10.670",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.670-f742cd9d/clojurescript-1.10.670-f742cd9d.jar",
  :github-release-tag "r1.10.670-f742cd9d",
  :build-rev "f742cd9db9ed32442c2cff97c06788f39e26d8d1",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.670-f742cd9d.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/f742cd9db9ed32442c2cff97c06788f39e26d8d1",
  :canary-job-commit-author-login "babot",
  :build-id "1.10.670-f742cd9d",
  :github-release-name "ClojureScript 1.10.670-f742cd9d",
  :canary-job-commit-author-avatar-url "https://avatars0.githubusercontent.com/u/1476765?v=4",
  :canary-job-commit-author-date "2020-04-06T11:02:15Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/671576569",
  :canary-job-commit "d94d52c2f60d2ab127cfac4bfb22563a9e4232c6",
  :canary-job-commit-author-name "BinaryAge Bot"},
 :timeout 1800000}
