{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :meta-job-args "job",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "1152",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/e14023d2abf5e8286bb380cfe920ac791988b056",
  :build-version "1.10.589",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.589-95a406ac/clojurescript-1.10.589-95a406ac.jar",
  :github-release-tag "r1.10.589-95a406ac",
  :build-rev "95a406ac81a34b4c3d95a06bf38898fe7ffa04ae",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.589-95a406ac.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/95a406ac81a34b4c3d95a06bf38898fe7ffa04ae",
  :canary-job-commit-author-login "babot",
  :build-id "1.10.589-95a406ac",
  :github-release-name "ClojureScript 1.10.589-95a406ac",
  :canary-job-commit-author-avatar-url "https://avatars0.githubusercontent.com/u/1476765?v=4",
  :canary-job-commit-author-date "2019-11-02T07:00:09Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/606340533",
  :canary-job-commit "e14023d2abf5e8286bb380cfe920ac791988b056",
  :canary-job-commit-author-name "BinaryAge Bot"},
 :timeout 1800000}
