{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :meta-job-args "job",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "1046",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/e118014cc50d39abfec3b5abd071a45b79bae789",
  :build-version "1.10.571",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.571-3f5a60a3/clojurescript-1.10.571-3f5a60a3.jar",
  :github-release-tag "r1.10.571-3f5a60a3",
  :build-rev "3f5a60a31ac1aae9eb509da26249db51316c34e6",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.571-3f5a60a3.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/3f5a60a31ac1aae9eb509da26249db51316c34e6",
  :canary-job-commit-author-login "babot",
  :build-id "1.10.571-3f5a60a3",
  :github-release-name "ClojureScript 1.10.571-3f5a60a3",
  :canary-job-commit-author-avatar-url "https://avatars0.githubusercontent.com/u/1476765?v=4",
  :canary-job-commit-author-date "2019-08-05T06:00:16Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/567729696",
  :canary-job-commit "e118014cc50d39abfec3b5abd071a45b79bae789",
  :canary-job-commit-author-name "BinaryAge Bot"},
 :timeout 1800000}
