{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :meta-job-args "job",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "1471",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/a755c36560e3fcfacfa202fa68d8e19c19b94695",
  :build-version "1.10.812",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.812-dc6ae8c4/clojurescript-1.10.812-dc6ae8c4.jar",
  :github-release-tag "r1.10.812-dc6ae8c4",
  :build-rev "dc6ae8c4e1baf12fbb563a0eb13f93a9d4ae1103",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.812-dc6ae8c4.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/dc6ae8c4e1baf12fbb563a0eb13f93a9d4ae1103",
  :canary-job-commit-author-login "babot",
  :build-id "1.10.812-dc6ae8c4",
  :github-release-name "ClojureScript 1.10.812-dc6ae8c4",
  :canary-job-commit-author-avatar-url "https://avatars0.githubusercontent.com/u/1476765?v=4",
  :canary-job-commit-author-date "2020-07-18T11:04:42Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/709452995",
  :canary-job-commit "a755c36560e3fcfacfa202fa68d8e19c19b94695",
  :canary-job-commit-author-name "BinaryAge Bot"},
 :timeout 1800000}
