{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "706",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/aeb6364f58b86af070fb058aa4e918925fc3429c",
  :build-version "1.10.479",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.479-2e5790b/clojurescript-1.10.479-2e5790b.jar",
  :github-release-tag "r1.10.479-2e5790b",
  :build-rev "2e5790b781f18a6dba2c92a1e39be07b38cb5209",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.479-2e5790b.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/2e5790b781f18a6dba2c92a1e39be07b38cb5209",
  :build-id "1.10.479-2e5790b",
  :github-release-name "ClojureScript 1.10.479-2e5790b",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/462462607"},
 :timeout 1800000}
