{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :meta-job-args "job",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "1390",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/d2a70f9a3e825b0d4f36504385c81a4fcdaf76de",
  :build-version "1.10.749",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.749-2f8dd2ef/clojurescript-1.10.749-2f8dd2ef.jar",
  :github-release-tag "r1.10.749-2f8dd2ef",
  :build-rev "2f8dd2efdc5a2cb5e708bde09f65784669a72627",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.749-2f8dd2ef.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/2f8dd2efdc5a2cb5e708bde09f65784669a72627",
  :canary-job-commit-author-login "babot",
  :build-id "1.10.749-2f8dd2ef",
  :github-release-name "ClojureScript 1.10.749-2f8dd2ef",
  :canary-job-commit-author-avatar-url "https://avatars0.githubusercontent.com/u/1476765?v=4",
  :canary-job-commit-author-date "2020-04-30T11:02:30Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/681431195",
  :canary-job-commit "d2a70f9a3e825b0d4f36504385c81a4fcdaf76de",
  :canary-job-commit-author-name "BinaryAge Bot"},
 :timeout 1800000}
