{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "938",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/a290dffee4d466fec290d8865275f4e91a9ece97",
  :build-version "1.10.529",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.529-3a0c0747/clojurescript-1.10.529-3a0c0747.jar",
  :github-release-tag "r1.10.529-3a0c0747",
  :build-rev "3a0c07477ae781bf521bdc2b074ed7b783bb93f3",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.529-3a0c0747.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/3a0c07477ae781bf521bdc2b074ed7b783bb93f3",
  :build-id "1.10.529-3a0c0747",
  :github-release-name "ClojureScript 1.10.529-3a0c0747",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/535626461"},
 :timeout 1800000}
