({:name "cljs-devtools",
  :description
  "a Clojure function cljs-devtools from canary.projects.binaryage",
  :enabled false,
  :enabled-reason "excluded because not matching --only 'nothing'",
  :color :green}
 {:name "planck",
  :description "a Clojure function planck from canary.projects.mfikes",
  :enabled false,
  :enabled-reason "excluded because not matching --only 'nothing'",
  :color :blue})
