{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :meta-job-args "job",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "1519",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/6321952981582e4484b83629d5646a888af8083e",
  :build-version "1.10.824",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.824-599cd05f/clojurescript-1.10.824-599cd05f.jar",
  :github-release-tag "r1.10.824-599cd05f",
  :build-rev "599cd05fd271b4ce672e8a6124f0f785b1b3b2d0",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.824-599cd05f.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/599cd05fd271b4ce672e8a6124f0f785b1b3b2d0",
  :canary-job-commit-author-login "babot",
  :build-id "1.10.824-599cd05f",
  :github-release-name "ClojureScript 1.10.824-599cd05f",
  :canary-job-commit-author-avatar-url "https://avatars0.githubusercontent.com/u/1476765?v=4",
  :canary-job-commit-author-date "2020-08-31T11:03:00Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/722702031",
  :canary-job-commit "6321952981582e4484b83629d5646a888af8083e",
  :canary-job-commit-author-name "BinaryAge Bot"},
 :timeout 1800000}
