{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :meta-job-args "job -c mfikes -r CLJS-3174",
 :rootdir "/canary",
 :compiler-rev "CLJS-3174",
 :verbosity 0,
 :job-id "1526",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/67a577a9f10f93aaf9e504887bf306f18ee4719d",
  :build-version "1.10.825",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.825-ef20514a1/clojurescript-1.10.825-ef20514a1.jar",
  :github-release-tag "r1.10.825-ef20514a1",
  :build-rev "ef20514a1c6ce62c239f686659684b1af76b9747",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.825-ef20514a1.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/ef20514a1c6ce62c239f686659684b1af76b9747",
  :canary-job-commit-author-login "mfikes",
  :build-id "1.10.825-ef20514a1",
  :github-release-name "ClojureScript 1.10.825-ef20514a1",
  :canary-job-commit-author-avatar-url "https://avatars1.githubusercontent.com/u/1723464?v=4",
  :canary-job-commit-author-date "2020-09-05T18:59:15Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/724518071",
  :canary-job-commit "67a577a9f10f93aaf9e504887bf306f18ee4719d",
  :canary-job-commit-author-name "Mike Fikes"},
 :timeout 1800000}
