({:name "chromex",
  :description "function chromex from canary/projects/binaryage.clj:7",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [binaryage/chromex#776](https://travis-ci.org/binaryage/chromex/builds/369952177)<br>"}}
 {:name "cljs-devtools",
  :description "function cljs-devtools from canary/projects/binaryage.clj:4",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [binaryage/cljs-devtools#608](https://travis-ci.org/binaryage/cljs-devtools/builds/369952173)<br>"}}
 {:name "cljs-oops",
  :description "function cljs-oops from canary/projects/binaryage.clj:10",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [binaryage/cljs-oops#473](https://travis-ci.org/binaryage/cljs-oops/builds/369952175)<br>"}}
 {:name "cljs-zones",
  :description "function cljs-zones from canary/projects/binaryage.clj:16",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [binaryage/cljs-zones#133](https://travis-ci.org/binaryage/cljs-zones/builds/369952181)<br>"}}
 {:name "closure-latest",
  :description "function closure-latest from canary/projects/mfikes.clj:30",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :failed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:red'>&#x2717;</b> Travis build [mfikes/closure-latest#46](https://travis-ci.org/mfikes/closure-latest/builds/369952187)<br>"}}
 {:name "coal-mine-1",
  :description "function coal-mine-1 from canary/projects/mfikes.clj:7",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [mfikes/coal-mine#1045](https://travis-ci.org/mfikes/coal-mine/builds/369952218)<br>"}}
 {:name "coal-mine-2",
  :description "function coal-mine-2 from canary/projects/mfikes.clj:11",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [mfikes/coal-mine#1046](https://travis-ci.org/mfikes/coal-mine/builds/369952220)<br>"}}
 {:name "coal-mine-3",
  :description "function coal-mine-3 from canary/projects/mfikes.clj:15",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [mfikes/coal-mine#1048](https://travis-ci.org/mfikes/coal-mine/builds/369952226)<br>"}}
 {:name "coal-mine-4",
  :description "function coal-mine-4 from canary/projects/mfikes.clj:19",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [mfikes/coal-mine#1047](https://travis-ci.org/mfikes/coal-mine/builds/369952222)<br>"}}
 {:name "coal-mine-5",
  :description "function coal-mine-5 from canary/projects/mfikes.clj:23",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [mfikes/coal-mine#1049](https://travis-ci.org/mfikes/coal-mine/builds/369952230)<br>"}}
 {:name "env-config",
  :description "function env-config from canary/projects/binaryage.clj:13",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :failed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:red'>&#x2717;</b> Travis build [binaryage/env-config#158](https://travis-ci.org/binaryage/env-config/builds/369952228)<br>"}}
 {:name "lumo",
  :description "function lumo from canary/projects/lumo.clj:4",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :failed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:red'>&#x2717;</b> Travis build [anmonteiro/lumo#1378](https://travis-ci.org/anmonteiro/lumo/builds/369952238)<br>"}}
 {:name "planck",
  :description "function planck from canary/projects/planck_repl.clj:4",
  :enabled true,
  :enabled-reason "enabled by default",
  :result
  {:status :passed,
   :report
   "&nbsp;&nbsp;&nbsp;&nbsp;<b style='color:green'>&#x2713;</b> Travis build [planck-repl/planck#1944](https://travis-ci.org/planck-repl/planck/builds/369952242)<br>"}})
