{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :meta-job-args "job",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "1420",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/120fe19d32f1ac65847abe6bead7495ad9053f02",
  :build-version "1.10.773",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.773-790bcbf5/clojurescript-1.10.773-790bcbf5.jar",
  :github-release-tag "r1.10.773-790bcbf5",
  :build-rev "790bcbf5f45d3775c15d597eee240fb3f3636681",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.773-790bcbf5.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/790bcbf5f45d3775c15d597eee240fb3f3636681",
  :canary-job-commit-author-login "babot",
  :build-id "1.10.773-790bcbf5",
  :github-release-name "ClojureScript 1.10.773-790bcbf5",
  :canary-job-commit-author-avatar-url "https://avatars0.githubusercontent.com/u/1476765?v=4",
  :canary-job-commit-author-date "2020-05-28T11:04:14Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/692113608",
  :canary-job-commit "120fe19d32f1ac65847abe6bead7495ad9053f02",
  :canary-job-commit-author-name "BinaryAge Bot"},
 :timeout 1800000}
