{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "745",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/629f3ee96eb525d750aab26de70cf79c92d355f7",
  :build-version "1.10.496",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.496-632a171/clojurescript-1.10.496-632a171.jar",
  :github-release-tag "r1.10.496-632a171",
  :build-rev "632a17177a4a45228b8c3ab381d02dd8969f59e5",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.496-632a171.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/632a17177a4a45228b8c3ab381d02dd8969f59e5",
  :build-id "1.10.496-632a171",
  :github-release-name "ClojureScript 1.10.496-632a171",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/472907822"},
 :timeout 1800000}
