{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "739",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/814ef48655a41c4eda40bf63c0ce9c638554be3c",
  :build-version "1.10.492",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.492-6ccb629/clojurescript-1.10.492-6ccb629.jar",
  :github-release-tag "r1.10.492-6ccb629",
  :build-rev "6ccb629e365f46a9516e4defeced652cce9d4d35",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.492-6ccb629.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/6ccb629e365f46a9516e4defeced652cce9d4d35",
  :build-id "1.10.492-6ccb629",
  :github-release-name "ClojureScript 1.10.492-6ccb629",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/471527248"},
 :timeout 1800000}
