{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "515",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/24527c531350733879ff4864aec0f6bb7cc8af4a",
  :build-version "1.10.392",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.392-f13c08c/clojurescript-1.10.392-f13c08c.jar",
  :github-release-tag "r1.10.392-f13c08c",
  :build-rev "f13c08c90f27aa2a71694859f288e9b5f2407c73",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.392-f13c08c.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/f13c08c90f27aa2a71694859f288e9b5f2407c73",
  :build-id "1.10.392-f13c08c",
  :github-release-name "ClojureScript 1.10.392-f13c08c",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/414377277"},
 :timeout 1800000}
