{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "patch-tender-2018-09-05T15",
 :verbosity 0,
 :job-id "560",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/a117bf969f10d5bf2c96e2772739eafa3c034470",
  :build-version "1.10.438",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.438-687caa9/clojurescript-1.10.438-687caa9.jar",
  :github-release-tag "r1.10.438-687caa9",
  :build-rev "687caa946f27e35880a45bb7ac8894e4d066be29",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.438-687caa9.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/687caa946f27e35880a45bb7ac8894e4d066be29",
  :build-id "1.10.438-687caa9",
  :github-release-name "ClojureScript 1.10.438-687caa9",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/424867041"},
 :timeout 1800000}
