{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "CLJS-3076",
 :verbosity 0,
 :job-id "925",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/bc462cbc9e95041c6f3612d615db639db0620f3f",
  :build-version "1.10.529",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.529-2256cd0c/clojurescript-1.10.529-2256cd0c.jar",
  :github-release-tag "r1.10.529-2256cd0c",
  :build-rev "2256cd0c2e74e087d4ac0b0bdb1549e596a77ea3",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.529-2256cd0c.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/2256cd0c2e74e087d4ac0b0bdb1549e596a77ea3",
  :build-id "1.10.529-2256cd0c",
  :github-release-name "ClojureScript 1.10.529-2256cd0c",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/532243926"},
 :timeout 1800000}
