{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :meta-job-args "job -c mfikes -r CLJS-3179",
 :rootdir "/canary",
 :compiler-rev "CLJS-3179",
 :verbosity 0,
 :job-id "1154",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/a61050faf8424df2a2e481ef75bf48fe6d312893",
  :build-version "1.10.593",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.593-7de50caf6/clojurescript-1.10.593-7de50caf6.jar",
  :github-release-tag "r1.10.593-7de50caf6",
  :build-rev "7de50caf656b2989703ca63ca97b0013b762fd1a",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.593-7de50caf6.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/7de50caf656b2989703ca63ca97b0013b762fd1a",
  :canary-job-commit-author-login "mfikes",
  :build-id "1.10.593-7de50caf6",
  :github-release-name "ClojureScript 1.10.593-7de50caf6",
  :canary-job-commit-author-avatar-url "https://avatars1.githubusercontent.com/u/1723464?v=4",
  :canary-job-commit-author-date "2019-11-04T02:46:33Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/606951713",
  :canary-job-commit "a61050faf8424df2a2e481ef75bf48fe6d312893",
  :canary-job-commit-author-name "Mike Fikes"},
 :timeout 1800000}
