{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :meta-job-args "job",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "1770",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/09815ecfa17ba0225ea11b575b6b2413c21e75b4",
  :build-version "1.10.856",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.856-4a73bc8b/clojurescript-1.10.856-4a73bc8b.jar",
  :github-release-tag "r1.10.856-4a73bc8b",
  :build-rev "4a73bc8b4c95cfedc614dcabb0fe1795da371d37",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.856-4a73bc8b.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/4a73bc8b4c95cfedc614dcabb0fe1795da371d37",
  :canary-job-commit-author-login "babot",
  :build-id "1.10.856-4a73bc8b",
  :github-release-name "ClojureScript 1.10.856-4a73bc8b",
  :canary-job-commit-author-avatar-url "https://avatars.githubusercontent.com/u/1476765?v=4",
  :canary-job-commit-author-date "2021-05-06T11:08:14Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/769666641",
  :canary-job-commit "09815ecfa17ba0225ea11b575b6b2413c21e75b4",
  :canary-job-commit-author-name "BinaryAge Bot"},
 :timeout 1800000}
