({:name "cljs-devtools",
  :description "a Clojure function cljs-devtools from canary.projects.binaryage",
  :enabled true,
  :enabled-reason "included by default",
  :color :green,
  :result
  {:status :passed,
   :report
   "  * &#x2714; Travis build [binaryage/cljs-devtools#337](https://travis-ci.org/binaryage/cljs-devtools/builds/255346873)"}}
 {:name "planck",
  :description "a Clojure function planck from canary.projects.mfikes",
  :enabled true,
  :enabled-reason "included by default",
  :color :blue,
  :result
  {:status :passed,
   :report "  * &#x2714; Travis build [mfikes/planck#890](https://travis-ci.org/mfikes/planck/builds/255346863)"}})
