{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :meta-job-args "job",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "1141",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/1d4405ded3dbde83fd42aa5b217d33ea3bc2e1f3",
  :build-version "1.10.585",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.585-5ad96a8b/clojurescript-1.10.585-5ad96a8b.jar",
  :github-release-tag "r1.10.585-5ad96a8b",
  :build-rev "5ad96a8b3ae2e3616a19715ba9ba2471a36933a2",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.585-5ad96a8b.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/5ad96a8b3ae2e3616a19715ba9ba2471a36933a2",
  :canary-job-commit-author-login "babot",
  :build-id "1.10.585-5ad96a8b",
  :github-release-name "ClojureScript 1.10.585-5ad96a8b",
  :canary-job-commit-author-avatar-url "https://avatars0.githubusercontent.com/u/1476765?v=4",
  :canary-job-commit-author-date "2019-10-22T06:00:10Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/601109907",
  :canary-job-commit "1d4405ded3dbde83fd42aa5b217d33ea3bc2e1f3",
  :canary-job-commit-author-name "BinaryAge Bot"},
 :timeout 1800000}
