{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :meta-job-args "job -c mfikes -r CLJS-2874",
 :rootdir "/canary",
 :compiler-rev "CLJS-2874",
 :verbosity 0,
 :job-id "1060",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/b42952692c77ce87dd2c860fdc13c18d4bf5d389",
  :build-version "1.10.573",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.573-bfc2d2f0b/clojurescript-1.10.573-bfc2d2f0b.jar",
  :github-release-tag "r1.10.573-bfc2d2f0b",
  :build-rev "bfc2d2f0b879638702867bec2ef0ce9b455ec91d",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.573-bfc2d2f0b.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/bfc2d2f0b879638702867bec2ef0ce9b455ec91d",
  :canary-job-commit-author-login "mfikes",
  :build-id "1.10.573-bfc2d2f0b",
  :github-release-name "ClojureScript 1.10.573-bfc2d2f0b",
  :canary-job-commit-author-avatar-url "https://avatars1.githubusercontent.com/u/1723464?v=4",
  :canary-job-commit-author-date "2019-08-19T20:13:37Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/574005681",
  :canary-job-commit "b42952692c77ce87dd2c860fdc13c18d4bf5d389",
  :canary-job-commit-author-name "Mike Fikes"},
 :timeout 1800000}
