{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "431",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/b9997f5c41119e3ee1f79cab756c7a1a0d15a0e3",
  :build-version "1.10.324",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.324-68ff249/clojurescript-1.10.324-68ff249.jar",
  :github-release-tag "r1.10.324-68ff249",
  :build-rev "68ff24997370389478b97f088a42655f02194903",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.324-68ff249.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/68ff24997370389478b97f088a42655f02194903",
  :build-id "1.10.324-68ff249",
  :github-release-name "ClojureScript 1.10.324-68ff249",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/393401560"},
 :timeout 1800000}
