{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "691",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/47038c6956a1ad525d8dcb04dc801bb1270684f3",
  :build-version "1.10.465",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.465-e005b98/clojurescript-1.10.465-e005b98.jar",
  :github-release-tag "r1.10.465-e005b98",
  :build-rev "e005b987a8d1fe96e76c2975b931575fc2bdfce3",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.465-e005b98.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/e005b987a8d1fe96e76c2975b931575fc2bdfce3",
  :build-id "1.10.465-e005b98",
  :github-release-name "ClojureScript 1.10.465-e005b98",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/460110461"},
 :timeout 1800000}
