{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :meta-job-args "job",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "1463",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/a8293a5adbf951189c2e6503c5ba4dbefef21e68",
  :build-version "1.10.809",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.809-0ea117bd/clojurescript-1.10.809-0ea117bd.jar",
  :github-release-tag "r1.10.809-0ea117bd",
  :build-rev "0ea117bd3cc332ec430fde94da505d6cf6cdbf4b",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.809-0ea117bd.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/0ea117bd3cc332ec430fde94da505d6cf6cdbf4b",
  :canary-job-commit-author-login "babot",
  :build-id "1.10.809-0ea117bd",
  :github-release-name "ClojureScript 1.10.809-0ea117bd",
  :canary-job-commit-author-avatar-url "https://avatars0.githubusercontent.com/u/1476765?v=4",
  :canary-job-commit-author-date "2020-07-10T11:04:30Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/706837044",
  :canary-job-commit "a8293a5adbf951189c2e6503c5ba4dbefef21e68",
  :canary-job-commit-author-name "BinaryAge Bot"},
 :timeout 1800000}
