{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :meta-job-args "job -vvvv --only cljs-planck",
 :only "cljs-planck",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 4,
 :job-id "1354",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/5e8f055909fa8febea71cee713b7d4c93bb303b2",
  :build-version "1.10.634",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.634-f227fadb/clojurescript-1.10.634-f227fadb.jar",
  :github-release-tag "r1.10.634-f227fadb",
  :build-rev "f227fadb0f234cbd3c04110c1ce76abf740f283f",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.634-f227fadb.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/f227fadb0f234cbd3c04110c1ce76abf740f283f",
  :canary-job-commit-author-login "darwin",
  :build-id "1.10.634-f227fadb",
  :github-release-name "ClojureScript 1.10.634-f227fadb",
  :canary-job-commit-author-avatar-url "https://avatars1.githubusercontent.com/u/5453?v=4",
  :canary-job-commit-author-date "2020-03-29T13:37:30Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/668365585",
  :canary-job-commit "5e8f055909fa8febea71cee713b7d4c93bb303b2",
  :canary-job-commit-author-name "Antonin Hildebrand"},
 :timeout 1800000}
