{:projects "/runner/src/canary/projects",
 :compiler-repo "https://github.com/darwin/clojurescript.git",
 :only "devtools",
 :compiler-rev "canary",
 :verbosity 2,
 :job-id "0",
 :polling-interval 300000,
 :production true,
 :cachedir "/runner/.cachedir",
 :workdir "/runner/.workdir",
 :build-result
 {:build-id "1.9.817-281ed98",
  :build-jar-path "/runner/.workdir/clojurescript-1.9.817-281ed98.jar",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.9.817-281ed98/clojurescript-1.9.817-281ed98.jar",
  :github-release-name "ClojureScript 1.9.817-281ed98",
  :github-release-tag "r1.9.817-281ed98",
  :compiler-rev-url
  "https://github.com/darwin/clojurescript/commit/281ed9861c1edcd7cba7130462eadf3b37bc714a",
  :canary-job-commit-url
  "https://github.com/cljs-oss/canary/commit/jobs",
  :travis-build-url "n/a"},
 :timeout 3600000}
