({:name "planck",
  :description "a Clojure function planck from canary.projects.mfikes",
  :enabled false,
  :enabled-reason "excluded because not matching --only 'devtools'",
  :color :green}
 {:name "cljs-devtools",
  :description
  "a Clojure function cljs-devtools from canary.projects.binaryage",
  :enabled true,
  :enabled-reason "included because matching --only 'devtools'",
  :color :blue,
  :result
  {:status :failed,
   :report
   "  * &#x2718; Travis build [binaryage/cljs-devtools#328](https://travis-ci.org/binaryage/cljs-devtools/builds/254843924)"}})
