{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "450",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/dbe9b00d6ae3e89642e00685536e14a3003c8937",
  :build-version "1.10.339",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.339-b1ade48/clojurescript-1.10.339-b1ade48.jar",
  :github-release-tag "r1.10.339-b1ade48",
  :build-rev "b1ade48e21f9e7f78d9db74559ce4dd5846d0c94",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.339-b1ade48.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/b1ade48e21f9e7f78d9db74559ce4dd5846d0c94",
  :build-id "1.10.339-b1ade48",
  :github-release-name "ClojureScript 1.10.339-b1ade48",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/396494601"},
 :timeout 1800000}
