{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :meta-job-args "job",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "1406",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/f4b3b9800074619f40bffa214815a2a0fe4cf6da",
  :build-version "1.10.764",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.764-ac23fec2/clojurescript-1.10.764-ac23fec2.jar",
  :github-release-tag "r1.10.764-ac23fec2",
  :build-rev "ac23fec265bdf0ca971eb35c16da4b59191da5ca",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.764-ac23fec2.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/ac23fec265bdf0ca971eb35c16da4b59191da5ca",
  :canary-job-commit-author-login "babot",
  :build-id "1.10.764-ac23fec2",
  :github-release-name "ClojureScript 1.10.764-ac23fec2",
  :canary-job-commit-author-avatar-url "https://avatars0.githubusercontent.com/u/1476765?v=4",
  :canary-job-commit-author-date "2020-05-14T11:02:25Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/686957954",
  :canary-job-commit "f4b3b9800074619f40bffa214815a2a0fe4cf6da",
  :canary-job-commit-author-name "BinaryAge Bot"},
 :timeout 1800000}
