{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :meta-job-args "job -c mfikes -r CLJS-3201",
 :rootdir "/canary",
 :compiler-rev "CLJS-3201",
 :verbosity 0,
 :job-id "1208",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/4809416c84d9f572db58d7a24d37b9ff9c15bcc6",
  :build-version "1.10.598",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.598-8167cd16b/clojurescript-1.10.598-8167cd16b.jar",
  :github-release-tag "r1.10.598-8167cd16b",
  :build-rev "8167cd16b2eb0e84d126f6d221e1e025fe500355",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.598-8167cd16b.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/8167cd16b2eb0e84d126f6d221e1e025fe500355",
  :canary-job-commit-author-login "mfikes",
  :build-id "1.10.598-8167cd16b",
  :github-release-name "ClojureScript 1.10.598-8167cd16b",
  :canary-job-commit-author-avatar-url "https://avatars1.githubusercontent.com/u/1723464?v=4",
  :canary-job-commit-author-date "2019-12-07T05:03:52Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/621904314",
  :canary-job-commit "4809416c84d9f572db58d7a24d37b9ff9c15bcc6",
  :canary-job-commit-author-name "Mike Fikes"},
 :timeout 1800000}
