{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :meta-job-args "job -c mfikes -r CLJS-3190-2",
 :rootdir "/canary",
 :compiler-rev "CLJS-3190-2",
 :verbosity 0,
 :job-id "1178",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/e6a8f5c212bacf680c21c0a44c5ca7412d4e4d22",
  :build-version "1.10.595",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.595-95fdb2f38/clojurescript-1.10.595-95fdb2f38.jar",
  :github-release-tag "r1.10.595-95fdb2f38",
  :build-rev "95fdb2f3826ca4bd8a08d2317d9dd0c97087d98d",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.595-95fdb2f38.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/95fdb2f3826ca4bd8a08d2317d9dd0c97087d98d",
  :canary-job-commit-author-login "mfikes",
  :build-id "1.10.595-95fdb2f38",
  :github-release-name "ClojureScript 1.10.595-95fdb2f38",
  :canary-job-commit-author-avatar-url "https://avatars1.githubusercontent.com/u/1723464?v=4",
  :canary-job-commit-author-date "2019-11-17T15:03:45Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/613114823",
  :canary-job-commit "e6a8f5c212bacf680c21c0a44c5ca7412d4e4d22",
  :canary-job-commit-author-name "Mike Fikes"},
 :timeout 1800000}
