{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :meta-job-args "job",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "1779",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/d06b7335f023dd6c72bdade719f97cac14dbebf2",
  :build-version "1.10.863",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.863-8ef4bd24/clojurescript-1.10.863-8ef4bd24.jar",
  :github-release-tag "r1.10.863-8ef4bd24",
  :build-rev "8ef4bd2408e25f102992ca18f5e1d3959b68dac5",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.863-8ef4bd24.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/8ef4bd2408e25f102992ca18f5e1d3959b68dac5",
  :canary-job-commit-author-login "babot",
  :build-id "1.10.863-8ef4bd24",
  :github-release-name "ClojureScript 1.10.863-8ef4bd24",
  :canary-job-commit-author-avatar-url "https://avatars.githubusercontent.com/u/1476765?v=4",
  :canary-job-commit-author-date "2021-05-15T11:09:18Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/771222804",
  :canary-job-commit "d06b7335f023dd6c72bdade719f97cac14dbebf2",
  :canary-job-commit-author-name "BinaryAge Bot"},
 :timeout 1800000}
