{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :meta-job-args "job -c mfikes -r patch-tender-2019-11-10T21",
 :rootdir "/canary",
 :compiler-rev "patch-tender-2019-11-10T21",
 :verbosity 0,
 :job-id "1168",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/757f7921608fe40643a716d581dbb6b613385232",
  :build-version "1.10.657",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.657-f6852dd80/clojurescript-1.10.657-f6852dd80.jar",
  :github-release-tag "r1.10.657-f6852dd80",
  :build-rev "f6852dd8092a864669c0d1de4566e68d1dde4aa7",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.657-f6852dd80.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/f6852dd8092a864669c0d1de4566e68d1dde4aa7",
  :canary-job-commit-author-login "mfikes",
  :build-id "1.10.657-f6852dd80",
  :github-release-name "ClojureScript 1.10.657-f6852dd80",
  :canary-job-commit-author-avatar-url "https://avatars1.githubusercontent.com/u/1723464?v=4",
  :canary-job-commit-author-date "2019-11-10T23:42:52Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/610098140",
  :canary-job-commit "757f7921608fe40643a716d581dbb6b613385232",
  :canary-job-commit-author-name "Mike Fikes"},
 :timeout 1800000}
