{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "CLJS-3085",
 :verbosity 0,
 :job-id "930",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/dc741fe6bf464b78ec7e035305c537caa9cc401b",
  :build-version "1.10.529",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.529-1e041e76/clojurescript-1.10.529-1e041e76.jar",
  :github-release-tag "r1.10.529-1e041e76",
  :build-rev "1e041e76c5b71c0aad39f4d2eb20e817d1fc5e3c",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.529-1e041e76.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/1e041e76c5b71c0aad39f4d2eb20e817d1fc5e3c",
  :build-id "1.10.529-1e041e76",
  :github-release-name "ClojureScript 1.10.529-1e041e76",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/533290912"},
 :timeout 1800000}
