{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :meta-job-args "job",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "1648",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/930ed331888262bba06d5a967f09904fd65368e4",
  :build-version "1.10.826",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.826-017ce881/clojurescript-1.10.826-017ce881.jar",
  :github-release-tag "r1.10.826-017ce881",
  :build-rev "017ce8812d9b73f5df076b20e818e0ae90b90812",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.826-017ce881.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/017ce8812d9b73f5df076b20e818e0ae90b90812",
  :canary-job-commit-author-login "babot",
  :build-id "1.10.826-017ce881",
  :github-release-name "ClojureScript 1.10.826-017ce881",
  :canary-job-commit-author-avatar-url "https://avatars0.githubusercontent.com/u/1476765?v=4",
  :canary-job-commit-author-date "2021-01-03T11:18:14Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/752634120",
  :canary-job-commit "930ed331888262bba06d5a967f09904fd65368e4",
  :canary-job-commit-author-name "BinaryAge Bot"},
 :timeout 1800000}
