{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "CLJS-2045",
 :verbosity 0,
 :job-id "917",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/964814993551d1259edd47d1207c319eb67f5632",
  :build-version "1.10.529",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.529-fefe9d17/clojurescript-1.10.529-fefe9d17.jar",
  :github-release-tag "r1.10.529-fefe9d17",
  :build-rev "fefe9d17af6f5b2e6a810bdcd44196ddb99e1a1d",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.529-fefe9d17.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/fefe9d17af6f5b2e6a810bdcd44196ddb99e1a1d",
  :build-id "1.10.529-fefe9d17",
  :github-release-name "ClojureScript 1.10.529-fefe9d17",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/531422034"},
 :timeout 1800000}
