{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "818",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/37b2040a04426c91b3de3af64a2aa6a680433f11",
  :build-version "1.10.520",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.520-0c353f1/clojurescript-1.10.520-0c353f1.jar",
  :github-release-tag "r1.10.520-0c353f1",
  :build-rev "0c353f1947089cb8b1f010b4294b94ac109d4ef6",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.520-0c353f1.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/0c353f1947089cb8b1f010b4294b94ac109d4ef6",
  :build-id "1.10.520-0c353f1",
  :github-release-name "ClojureScript 1.10.520-0c353f1",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/495305273"},
 :timeout 1800000}
