{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "CLJS-2865",
 :verbosity 0,
 :job-id "658",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/5ff13a7844b1ad5c4f1099d3275d30897b7a698b",
  :build-version "1.10.440",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.440-f1e0001/clojurescript-1.10.440-f1e0001.jar",
  :github-release-tag "r1.10.440-f1e0001",
  :build-rev "f1e0001b09331fe0042c2c5116e304d79c17bc3c",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.440-f1e0001.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/f1e0001b09331fe0042c2c5116e304d79c17bc3c",
  :build-id "1.10.440-f1e0001",
  :github-release-name "ClojureScript 1.10.440-f1e0001",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/452663018"},
 :timeout 1800000}
