{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "CLJS-2120",
 :verbosity 0,
 :job-id "922",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/1791ea3b878619d668ea7c3ab231726fcfa74b73",
  :build-version "1.10.529",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.529-cfe50a51/clojurescript-1.10.529-cfe50a51.jar",
  :github-release-tag "r1.10.529-cfe50a51",
  :build-rev "cfe50a51ae270d7b2e0f882bc5c8ec42f3d5d63e",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.529-cfe50a51.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/cfe50a51ae270d7b2e0f882bc5c8ec42f3d5d63e",
  :build-id "1.10.529-cfe50a51",
  :github-release-name "ClojureScript 1.10.529-cfe50a51",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/531453119"},
 :timeout 1800000}
