{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :meta-job-args "job",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "1429",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/0289646eee8e3dc30bfcbd1d1fe088aaf494032f",
  :build-version "1.10.777",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.777-41180657/clojurescript-1.10.777-41180657.jar",
  :github-release-tag "r1.10.777-41180657",
  :build-rev "411806572ed0bfeb2e6ee2ed1b6d116ba2457a0f",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.777-41180657.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/411806572ed0bfeb2e6ee2ed1b6d116ba2457a0f",
  :canary-job-commit-author-login "babot",
  :build-id "1.10.777-41180657",
  :github-release-name "ClojureScript 1.10.777-41180657",
  :canary-job-commit-author-avatar-url "https://avatars0.githubusercontent.com/u/1476765?v=4",
  :canary-job-commit-author-date "2020-06-06T11:03:36Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/695348248",
  :canary-job-commit "0289646eee8e3dc30bfcbd1d1fe088aaf494032f",
  :canary-job-commit-author-name "BinaryAge Bot"},
 :timeout 1800000}
