{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "647",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/37705b8b480b231fdb3e462085fee0ecdbe76442",
  :build-version "1.10.437",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.437-6b9a37a/clojurescript-1.10.437-6b9a37a.jar",
  :github-release-tag "r1.10.437-6b9a37a",
  :build-rev "6b9a37a294746148d3f4f8c1b6839823fe6e23f3",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.437-6b9a37a.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/6b9a37a294746148d3f4f8c1b6839823fe6e23f3",
  :build-id "1.10.437-6b9a37a",
  :github-release-name "ClojureScript 1.10.437-6b9a37a",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/449214988"},
 :timeout 1800000}
