{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :only "env-config",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "236",
 :polling-interval 300000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/b2318b44185c4a8e0088e4624eef2a855907c5db",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.9.1017-91431bd/clojurescript-1.9.1017-91431bd.jar",
  :github-release-tag "r1.9.1017-91431bd",
  :build-rev "91431bd556f7a11db59319fcc082737a448f651e",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.9.1017-91431bd.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/91431bd556f7a11db59319fcc082737a448f651e",
  :build-id "1.9.1017-91431bd",
  :github-release-name "ClojureScript 1.9.1017-91431bd",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/334515271"},
 :timeout 3600000}
