{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "869",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/6cea5f9a592871fedd7deab5bb128c9a6f2c9d6d",
  :build-version "1.10.525",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.525-95b13de/clojurescript-1.10.525-95b13de.jar",
  :github-release-tag "r1.10.525-95b13de",
  :build-rev "95b13de8300123c3c984b80410475d5acd92af6f",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.525-95b13de.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/95b13de8300123c3c984b80410475d5acd92af6f",
  :build-id "1.10.525-95b13de",
  :github-release-name "ClojureScript 1.10.525-95b13de",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/517095744"},
 :timeout 1800000}
