{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "CLJS-2911",
 :verbosity 0,
 :job-id "580",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/646e032778ec0dc0cf038d05f28423837780a6b4",
  :build-version "1.10.422",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.422-af7530f/clojurescript-1.10.422-af7530f.jar",
  :github-release-tag "r1.10.422-af7530f",
  :build-rev "af7530f82328d10c3d5ab4ba0a91875f1d89d5e5",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.422-af7530f.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/af7530f82328d10c3d5ab4ba0a91875f1d89d5e5",
  :build-id "1.10.422-af7530f",
  :github-release-name "ClojureScript 1.10.422-af7530f",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/429355835"},
 :timeout 1800000}
