{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :meta-job-args "job -c mfikes -r patch-tender-2020-04-01T01",
 :rootdir "/canary",
 :compiler-rev "patch-tender-2020-04-01T01",
 :verbosity 0,
 :job-id "1360",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/eb6d31edeb0b750eccee44957102b133e8781cdf",
  :build-version "1.10.713",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.713-55c295755/clojurescript-1.10.713-55c295755.jar",
  :github-release-tag "r1.10.713-55c295755",
  :build-rev "55c295755600725344700d793b5e2910c3e3719b",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.713-55c295755.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/55c295755600725344700d793b5e2910c3e3719b",
  :canary-job-commit-author-login "mfikes",
  :build-id "1.10.713-55c295755",
  :github-release-name "ClojureScript 1.10.713-55c295755",
  :canary-job-commit-author-avatar-url "https://avatars1.githubusercontent.com/u/1723464?v=4",
  :canary-job-commit-author-date "2020-04-01T13:53:37Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/669713692",
  :canary-job-commit "eb6d31edeb0b750eccee44957102b133e8781cdf",
  :canary-job-commit-author-name "Mike Fikes"},
 :timeout 1800000}
