{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "694",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/e4de9a4007cb18af623b91c6f244485fff7ec439",
  :build-version "1.10.467",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.467-345a9b6/clojurescript-1.10.467-345a9b6.jar",
  :github-release-tag "r1.10.467-345a9b6",
  :build-rev "345a9b6c966a790aabcfd4bf6a46cb29a86e232d",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.467-345a9b6.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/345a9b6c966a790aabcfd4bf6a46cb29a86e232d",
  :build-id "1.10.467-345a9b6",
  :github-release-name "ClojureScript 1.10.467-345a9b6",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/461141352"},
 :timeout 1800000}
