{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "CLJS-3070",
 :verbosity 0,
 :job-id "979",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/5b17d2cf9f616970ab1b06441cee6fdf544cccb1",
  :build-version "1.10.546",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.546-7bee98c3/clojurescript-1.10.546-7bee98c3.jar",
  :github-release-tag "r1.10.546-7bee98c3",
  :build-rev "7bee98c3c340b3491e9f8ebec645ab9c65a25efa",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.546-7bee98c3.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/7bee98c3c340b3491e9f8ebec645ab9c65a25efa",
  :build-id "1.10.546-7bee98c3",
  :github-release-name "ClojureScript 1.10.546-7bee98c3",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/548228332"},
 :timeout 1800000}
