{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "CLJS-2886",
 :verbosity 0,
 :job-id "555",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/8c92f026bdc6a9932dc0c0df957593bd355c05b0",
  :build-version "1.10.407",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.407-6916423/clojurescript-1.10.407-6916423.jar",
  :github-release-tag "r1.10.407-6916423",
  :build-rev "69164237ad0cb9121c5a3a30eccb9a1be2df388e",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.407-6916423.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/69164237ad0cb9121c5a3a30eccb9a1be2df388e",
  :build-id "1.10.407-6916423",
  :github-release-name "ClojureScript 1.10.407-6916423",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/424466774"},
 :timeout 1800000}
