{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :meta-job-args "job",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "1418",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/4aaf708867e0301f023ad6a700c4a138220e4217",
  :build-version "1.10.771",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.771-1084cca7/clojurescript-1.10.771-1084cca7.jar",
  :github-release-tag "r1.10.771-1084cca7",
  :build-rev "1084cca73ac5082ae76f1939356f664f35284c4d",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.771-1084cca7.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/1084cca73ac5082ae76f1939356f664f35284c4d",
  :canary-job-commit-author-login "babot",
  :build-id "1.10.771-1084cca7",
  :github-release-name "ClojureScript 1.10.771-1084cca7",
  :canary-job-commit-author-avatar-url "https://avatars0.githubusercontent.com/u/1476765?v=4",
  :canary-job-commit-author-date "2020-05-26T11:04:29Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/691262249",
  :canary-job-commit "4aaf708867e0301f023ad6a700c4a138220e4217",
  :canary-job-commit-author-name "BinaryAge Bot"},
 :timeout 1800000}
