{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :meta-job-args "job",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "1019",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/6da5ed219f65f3d5473976e9a48de70c71f08622",
  :build-version "1.10.556",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.556-11de795d/clojurescript-1.10.556-11de795d.jar",
  :github-release-tag "r1.10.556-11de795d",
  :build-rev "11de795dc748e004d31474f11cf04e5fc58b5d24",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.556-11de795d.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/11de795dc748e004d31474f11cf04e5fc58b5d24",
  :canary-job-commit-author-login "babot",
  :build-id "1.10.556-11de795d",
  :github-release-name "ClojureScript 1.10.556-11de795d",
  :canary-job-commit-author-avatar-url "https://avatars0.githubusercontent.com/u/1476765?v=4",
  :canary-job-commit-author-date "2019-07-15T06:00:13Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/558769022",
  :canary-job-commit "6da5ed219f65f3d5473976e9a48de70c71f08622",
  :canary-job-commit-author-name "BinaryAge Bot"},
 :timeout 1800000}
