{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :only "planck",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "349",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/9cebf6549cdb27cbc795f8ced95b04e1f72411ba",
  :build-version "1.10.271",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.271-132d3aa/clojurescript-1.10.271-132d3aa.jar",
  :github-release-tag "r1.10.271-132d3aa",
  :build-rev "132d3aa232921a3cea66f830d61c89be78c581cb",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.271-132d3aa.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/132d3aa232921a3cea66f830d61c89be78c581cb",
  :build-id "1.10.271-132d3aa",
  :github-release-name "ClojureScript 1.10.271-132d3aa",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/366479059"},
 :timeout 1800000}
