{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "CLJS-2997",
 :verbosity 0,
 :job-id "704",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/ceead5cef2f24a7b262221d040944611736a4324",
  :build-version "1.10.477",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.477-fecc26a/clojurescript-1.10.477-fecc26a.jar",
  :github-release-tag "r1.10.477-fecc26a",
  :build-rev "fecc26a8ea8557fce6f3e74865f093b97a7a64d4",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.477-fecc26a.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/fecc26a8ea8557fce6f3e74865f093b97a7a64d4",
  :build-id "1.10.477-fecc26a",
  :github-release-name "ClojureScript 1.10.477-fecc26a",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/462314095"},
 :timeout 1800000}
