{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "CLJS-3107",
 :verbosity 0,
 :job-id "978",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/2cd8e92b92239ddf0834c0b62ba03d4c339ee2a4",
  :build-version "1.10.546",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.546-56f99505/clojurescript-1.10.546-56f99505.jar",
  :github-release-tag "r1.10.546-56f99505",
  :build-rev "56f99505806e08132f1cf4a550d87ef558a93d53",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.546-56f99505.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/56f99505806e08132f1cf4a550d87ef558a93d53",
  :build-id "1.10.546-56f99505",
  :github-release-name "ClojureScript 1.10.546-56f99505",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/548209598"},
 :timeout 1800000}
