{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "681",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/3871a894a2cc35f150cea492fc30597ab7a19f33",
  :build-version "1.10.445",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.445-7d3b94d/clojurescript-1.10.445-7d3b94d.jar",
  :github-release-tag "r1.10.445-7d3b94d",
  :build-rev "7d3b94de959cafc3e56be5b869c57977119c51f3",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.445-7d3b94d.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/7d3b94de959cafc3e56be5b869c57977119c51f3",
  :build-id "1.10.445-7d3b94d",
  :github-release-name "ClojureScript 1.10.445-7d3b94d",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/458280866"},
 :timeout 1800000}
