{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "CLJS-2852",
 :verbosity 0,
 :job-id "504",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/a73d4f1dd877e0bdd209a9802bb1ad6cfe404e7f",
  :build-version "1.10.374",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.374-d2c31a2/clojurescript-1.10.374-d2c31a2.jar",
  :github-release-tag "r1.10.374-d2c31a2",
  :build-rev "d2c31a26868d84cfee29e88c173526ccf41ff798",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.374-d2c31a2.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/d2c31a26868d84cfee29e88c173526ccf41ff798",
  :build-id "1.10.374-d2c31a2",
  :github-release-name "ClojureScript 1.10.374-d2c31a2",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/410434097"},
 :timeout 1800000}
