{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "CLJS-3034",
 :verbosity 0,
 :job-id "760",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/69a39d329ff488298bdaac41bee865dd4d6f0763",
  :build-version "1.10.507",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.507-47cd969/clojurescript-1.10.507-47cd969.jar",
  :github-release-tag "r1.10.507-47cd969",
  :build-rev "47cd9698d27487209183335370f953fcbbf403f7",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.507-47cd969.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/47cd9698d27487209183335370f953fcbbf403f7",
  :build-id "1.10.507-47cd969",
  :github-release-name "ClojureScript 1.10.507-47cd969",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/477125915"},
 :timeout 1800000}
