{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :meta-job-args "job",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "1395",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/b59069358f73da5ae3f068897064b6794287b7d1",
  :build-version "1.10.758",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.758-f5a97661/clojurescript-1.10.758-f5a97661.jar",
  :github-release-tag "r1.10.758-f5a97661",
  :build-rev "f5a9766110227c0d2a8702b32c44d52059b97a53",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.758-f5a97661.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/f5a9766110227c0d2a8702b32c44d52059b97a53",
  :canary-job-commit-author-login "mfikes",
  :build-id "1.10.758-f5a97661",
  :github-release-name "ClojureScript 1.10.758-f5a97661",
  :canary-job-commit-author-avatar-url "https://avatars1.githubusercontent.com/u/1723464?v=4",
  :canary-job-commit-author-date "2020-05-04T17:02:07Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/683025739",
  :canary-job-commit "b59069358f73da5ae3f068897064b6794287b7d1",
  :canary-job-commit-author-name "Mike Fikes"},
 :timeout 1800000}
