{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :meta-job-args "job",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "1020",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/957ce5c16097fedc7cab1b60f39decd18f794e51",
  :build-version "1.10.560",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.560-402d47eb/clojurescript-1.10.560-402d47eb.jar",
  :github-release-tag "r1.10.560-402d47eb",
  :build-rev "402d47eb12b8fe5614f244dcf1ed300140e9bf51",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.560-402d47eb.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/402d47eb12b8fe5614f244dcf1ed300140e9bf51",
  :canary-job-commit-author-login "babot",
  :build-id "1.10.560-402d47eb",
  :github-release-name "ClojureScript 1.10.560-402d47eb",
  :canary-job-commit-author-avatar-url "https://avatars0.githubusercontent.com/u/1476765?v=4",
  :canary-job-commit-author-date "2019-07-16T06:00:13Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/559282387",
  :canary-job-commit "957ce5c16097fedc7cab1b60f39decd18f794e51",
  :canary-job-commit-author-name "BinaryAge Bot"},
 :timeout 1800000}
