{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :meta-job-args "job",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "1361",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/0bb3b579b92af7e3d7467cc1b6c3b916157b1a64",
  :build-version "1.10.661",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.661-a7e26f8b/clojurescript-1.10.661-a7e26f8b.jar",
  :github-release-tag "r1.10.661-a7e26f8b",
  :build-rev "a7e26f8bc19721c9382f6ab7c1cfd6786cc731cf",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.661-a7e26f8b.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/a7e26f8bc19721c9382f6ab7c1cfd6786cc731cf",
  :canary-job-commit-author-login "babot",
  :build-id "1.10.661-a7e26f8b",
  :github-release-name "ClojureScript 1.10.661-a7e26f8b",
  :canary-job-commit-author-avatar-url "https://avatars0.githubusercontent.com/u/1476765?v=4",
  :canary-job-commit-author-date "2020-04-02T11:02:32Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/670084611",
  :canary-job-commit "0bb3b579b92af7e3d7467cc1b6c3b916157b1a64",
  :canary-job-commit-author-name "BinaryAge Bot"},
 :timeout 1800000}
