{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :only "planck",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "295",
 :polling-interval 300000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/7be3273df9932c7cc197a2983a0c2d0a8d3e82b9",
  :build-version "1.10.120",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.120-08db3b4/clojurescript-1.10.120-08db3b4.jar",
  :github-release-tag "r1.10.120-08db3b4",
  :build-rev "08db3b4c1c277d0b356aa5c20ebb569e978b09a5",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.120-08db3b4.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/08db3b4c1c277d0b356aa5c20ebb569e978b09a5",
  :build-id "1.10.120-08db3b4",
  :github-release-name "ClojureScript 1.10.120-08db3b4",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/348810130"},
 :timeout 3600000}
