{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :meta-job-args "job",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "1454",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/c928cfdd89adb665e29e6ec0c9f8d38c2cd32268",
  :build-version "1.10.806",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.806-a19f8e04/clojurescript-1.10.806-a19f8e04.jar",
  :github-release-tag "r1.10.806-a19f8e04",
  :build-rev "a19f8e04dc0971f13316a8dd584156e2ffb67b96",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.806-a19f8e04.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/a19f8e04dc0971f13316a8dd584156e2ffb67b96",
  :canary-job-commit-author-login "babot",
  :build-id "1.10.806-a19f8e04",
  :github-release-name "ClojureScript 1.10.806-a19f8e04",
  :canary-job-commit-author-avatar-url "https://avatars0.githubusercontent.com/u/1476765?v=4",
  :canary-job-commit-author-date "2020-07-01T11:04:36Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/703870803",
  :canary-job-commit "c928cfdd89adb665e29e6ec0c9f8d38c2cd32268",
  :canary-job-commit-author-name "BinaryAge Bot"},
 :timeout 1800000}
