{:projects "/runner/src/canary/projects",
 :compiler-repo "https://github.com/darwin/clojurescript.git",
 :only "devtools",
 :compiler-rev "canary",
 :verbosity 0,
 :job-id "50",
 :polling-interval 300000,
 :production true,
 :cachedir "/runner/.cachedir",
 :workdir "/runner/.workdir",
 :build-result
 {:canary-job-commit-url
  "https://github.com/cljs-oss/canary/commit/98c599d07404bb410c3636db2223ac4ead42dfb4",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.9.815-b6e2669/clojurescript-1.9.815-b6e2669.jar",
  :github-release-tag "r1.9.815-b6e2669",
  :build-jar-path "/runner/.workdir/clojurescript-1.9.815-b6e2669.jar",
  :compiler-rev-url
  "https://github.com/darwin/clojurescript/commit/b6e2669ca198c1a6e0f9b399e6487d1e57646f25",
  :build-id "1.9.815-b6e2669",
  :github-release-name "ClojureScript 1.9.815-b6e2669",
  :github-release-id "",
  :travis-build-url
  "https://travis-ci.org/cljs-oss/canary/builds/254263474"},
 :timeout 3600000}
