{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :meta-job-args "job",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "1499",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/cd913f4b8908fc6410493dc72a8970d8a3b1e99e",
  :build-version "1.10.821",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.821-5b6558b9/clojurescript-1.10.821-5b6558b9.jar",
  :github-release-tag "r1.10.821-5b6558b9",
  :build-rev "5b6558b9065311c77e3fa07174320e129984273e",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.821-5b6558b9.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/5b6558b9065311c77e3fa07174320e129984273e",
  :canary-job-commit-author-login "babot",
  :build-id "1.10.821-5b6558b9",
  :github-release-name "ClojureScript 1.10.821-5b6558b9",
  :canary-job-commit-author-avatar-url "https://avatars0.githubusercontent.com/u/1476765?v=4",
  :canary-job-commit-author-date "2020-08-11T11:05:35Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/716873320",
  :canary-job-commit "cd913f4b8908fc6410493dc72a8970d8a3b1e99e",
  :canary-job-commit-author-name "BinaryAge Bot"},
 :timeout 1800000}
