{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :meta-job-args "job",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "1428",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/76d3e2173e118d0075ef48618c331bec9c5c790b",
  :build-version "1.10.775",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.775-946348da/clojurescript-1.10.775-946348da.jar",
  :github-release-tag "r1.10.775-946348da",
  :build-rev "946348da8eb705da23f465be29246d4f8b73d45f",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.775-946348da.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/946348da8eb705da23f465be29246d4f8b73d45f",
  :canary-job-commit-author-login "babot",
  :build-id "1.10.775-946348da",
  :github-release-name "ClojureScript 1.10.775-946348da",
  :canary-job-commit-author-avatar-url "https://avatars0.githubusercontent.com/u/1476765?v=4",
  :canary-job-commit-author-date "2020-06-05T11:03:44Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/694982468",
  :canary-job-commit "76d3e2173e118d0075ef48618c331bec9c5c790b",
  :canary-job-commit-author-name "BinaryAge Bot"},
 :timeout 1800000}
