{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :meta-job-args "job",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "1494",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/49a00bac53a23410058b5226a6065ea6296b3b2c",
  :build-version "1.10.816",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.816-ffbdf90f/clojurescript-1.10.816-ffbdf90f.jar",
  :github-release-tag "r1.10.816-ffbdf90f",
  :build-rev "ffbdf90f5f85a18300fb0554129def32d5809068",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.816-ffbdf90f.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/ffbdf90f5f85a18300fb0554129def32d5809068",
  :canary-job-commit-author-login "babot",
  :build-id "1.10.816-ffbdf90f",
  :github-release-name "ClojureScript 1.10.816-ffbdf90f",
  :canary-job-commit-author-avatar-url "https://avatars0.githubusercontent.com/u/1476765?v=4",
  :canary-job-commit-author-date "2020-08-07T11:05:50Z",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/715802559",
  :canary-job-commit "49a00bac53a23410058b5226a6065ea6296b3b2c",
  :canary-job-commit-author-name "BinaryAge Bot"},
 :timeout 1800000}
