{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/clojure/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "master",
 :verbosity 0,
 :job-id "392",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/6691dccf02b872cd5046df7efd062115c6802f1f",
  :build-version "1.10.287",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.287-56ea8ee/clojurescript-1.10.287-56ea8ee.jar",
  :github-release-tag "r1.10.287-56ea8ee",
  :build-rev "56ea8ee0de17cac909b09e2bdc1281d02e5404c9",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.287-56ea8ee.jar",
  :compiler-rev-url "https://github.com/clojure/clojurescript/commit/56ea8ee0de17cac909b09e2bdc1281d02e5404c9",
  :build-id "1.10.287-56ea8ee",
  :github-release-name "ClojureScript 1.10.287-56ea8ee",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/382511453"},
 :timeout 1800000}
