{:projects "/canary/runner/src/canary/projects",
 :compiler-repo "https://github.com/mfikes/clojurescript.git",
 :rootdir "/canary",
 :compiler-rev "CLJS-2802",
 :verbosity 0,
 :job-id "909",
 :polling-interval 60000,
 :production true,
 :spawning-delay 1000,
 :cachedir "/canary/runner/.cachedir",
 :action :job,
 :workdir "/canary/runner/.workdir",
 :build-result
 {:canary-job-commit-url "https://github.com/cljs-oss/canary/commit/a15923f9109422608ba9041a35c7f55cbb376d62",
  :build-version "1.10.529",
  :build-download-url
  "https://github.com/cljs-oss/canary/releases/download/r1.10.529-3126e1da/clojurescript-1.10.529-3126e1da.jar",
  :github-release-tag "r1.10.529-3126e1da",
  :build-rev "3126e1da9908e4a1d2ff9e05533419995bfc89ea",
  :build-jar-path "/canary/runner/.workdir/clojurescript-1.10.529-3126e1da.jar",
  :compiler-rev-url "https://github.com/mfikes/clojurescript/commit/3126e1da9908e4a1d2ff9e05533419995bfc89ea",
  :build-id "1.10.529-3126e1da",
  :github-release-name "ClojureScript 1.10.529-3126e1da",
  :travis-build-url "https://travis-ci.org/cljs-oss/canary/builds/530549243"},
 :timeout 1800000}
